<template>
  <div id="shop">
    <Navbar />
    <div class="container">
      <h2 class="mt-5"><i class="fas fa-money-bill-wave"></i> ชำระเงิน</h2>
      <p class="text-center">
        <img src="/img/payment.jpg" alt="" width="250px" />
      </p>
      <div class="row">
        <div class="col-md-6">
          <h4
            class="text-center mt-3 p-2"
            style="background-color: blue; color: white"
          >
            ข้อมูลที่ต้องชำระ
          </h4>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">ราคาสินค้าทั้งหมดรวม</span>
            </div>
            <input
              :value="sumProductTotal"
              type="text"
              class="form-control"
              aria-label="Amount (to the nearest dollar)"
              disabled
            />
            <div class="input-group-append">
              <span class="input-group-text">บาท</span>
            </div>
          </div>
          <div class="input-group mt-2">
            <div class="input-group-prepend">
              <span class="input-group-text">ค่าจัดส่งสินค้า</span>
            </div>
            <input
              :value="sumCostShip"
              type="text"
              class="form-control"
              aria-label="Amount (to the nearest dollar)"
              disabled
            />
            <div class="input-group-append">
              <span class="input-group-text">บาท</span>
            </div>
          </div>
          <div class="input-group mt-2">
            <div class="input-group-prepend">
              <span class="input-group-text">ส่วนลด</span>
            </div>
            <input
              :value="'- ' + sumDiscount"
              type="text"
              class="form-control"
              aria-label="Amount (to the nearest dollar)"
              disabled
            />
            <div class="input-group-append">
              <span class="input-group-text">บาท</span>
            </div>
          </div>
          <h4 class="text-center mt-3 p-2" style="background-color: yellow">
            จำนวนที่ต้องชำระ <u>{{ total }}</u> บาท
          </h4>
        </div>
        <div class="col-md-6">
          <h4
            class="text-center mt-3 p-2"
            style="background-color: blue; color: white"
          >
            ข้อมูลการชำระ
          </h4>
          <div class="form-group">
            <label for="exampleInputEmail1">จำนวนเงินที่ชำระ</label>
            <input
            v-model="price"
              type="number"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">วันที่ชำระ</label>
            <input
            v-model="date_payment"
              type="date"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <div v-if="isShow" class="mb-3">
            <img :src="'http://localhost:8081/assets/uploads/'+picture" alt="" width="200"> <button class="btn btn-danger" @click="picture=null, isShow=false">เปลี่ยน</button>
          </div>
          <div v-else class="input-group mb-5 mt-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01"
                >อัพโหลดสลีป</span
              >
            </div>
            <div class="custom-file">
              <input
                @change="uploadImg($event)"
                type="file"
                class="custom-file-input"
                id="inputGroupFile01"
                aria-describedby="inputGroupFileAddon01"
              />
              <label class="custom-file-label" for="inputGroupFile01"
                >Choose file</label
              >
            </div>
          </div>
        </div>
        <div class="col-md-12 mb-5">
          <button class="btn btn-success w-100" @click="createShopingOnline">ยืนยันการชำระ</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "../../components/Navbar.vue";
import ApiImg from "../../services/CrmService";
import ApiShopOnline from '../../services/OnlineShopService'
import { mapState, mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      price:null,
      date_payment:null,
      picture: null,
      isShow:false
    };
  },
  computed: {
    ...mapState(['discount','cost_ship','address_ship','cart','user']) ,
    ...mapGetters(["sumProductTotal", "sumDiscount", "sumCostShip"]),
    total() {
      if (this.sumDiscount != 0) {
        return this.sumProductTotal + this.sumCostShip - this.sumDiscount;
      } else {
        return this.sumProductTotal + this.sumCostShip;
      }
    },
  },
  components: {
    Navbar,
  },
  methods: {
    ...mapActions(['clearAllState']),
    async uploadImg(event) {
      try {
        let data = new FormData();
        this.picture = event.target.files[0].name;
        data.append("crm", event.target.files[0]);
        let upload = await ApiImg.uploadPicture(data);
        this.isShow=true
        console.log(upload);
      } catch (e) {
        console.log(e);
      }
    },
    async createShopingOnline(){
    try{
      let data = {
        data:{
          date_sell:new Date(),
          type:"online",
          status:"ตรวจสอบ",
          cost_ship:this.cost_ship,
          AddressShipmentId:this.address_ship.id,
          CustomerId:this.user.user.id,
          PromotionId: this.discount? this.discount.id:null,
          StoreBranchId:this.cart[0].StoreBranchId,
        },
        product:this.cart,
        payment:{
          date_payment:this.date_payment,
          price:this.price,
          picture:this.picture,
          status:"ตรวจสอบ"
        }
      }
      let ans = await ApiShopOnline.create(data)
      this.clearAllState()
      this.$router.push('/success')
      console.log(ans)
    }catch (e) {
      console.log(e.message)
    }
  }
  },
  
};
</script>