<template>
  <div id="shop">
    <Navbar />
    <div class="container">
        <h2 class="mt-5"><i class="fas fa-truck"></i> เลือกที่อยู่จัดส่ง</h2>
        <div class="mt-4">
            <div class="row">
                <div v-for="data in address" :key="data.id" class="box-address col-md-12 p-2 mt-3" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px" @click="showMap(data)">
                    <div class="row">
                        <p class="text-center col-md-3">{{data.address}}</p>
                        <p class="text-center col-md-3">latitude: {{data.latitude}}</p>
                        <p class="text-center col-md-3">longitude: {{data.longitude}}</p>
                        <p class="text-center col-md-3"><input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" :value="data.id"></p>
                    </div>
                </div>
                <p v-if="cost_ship>0" class="text-center mt-5 col-md-12">ค่าบริการ Dlivery {{cost_ship}} บาท</p>
                <router-link to="/cart/payment" class="col-md-12 btn btn-primary w-100 mb-3 mt-3" v-if="cart.length>0">ชำระเงิน</router-link>
            </div>
        </div>
    </div>
    <Map v-if="isShow" :user="select" :shop="{latitude:shop.latitude,longitude:shop.longitude}" v-on:closeShow="closeMap"/>
  </div>
</template>
<script>
import Navbar from "../../components/Navbar.vue";
import ApiAddress from '../../services/AddressShipService'
import ApiShop from '../../services/ShopService'
import Map from '../../components/backend/mapFindRoute.vue'
import {mapState,mapActions} from 'vuex'
export default {
  data(){
      return{
          address:[],
          shop:{},
          isShow:false,
          select:null
      }
  },
  components: {
    Navbar,Map
  },
  computed: {
      ...mapState(['user','cart','cost_ship'])
  },
  async created(){
      try{
          this.address = (await ApiAddress.getDataFromId(this.user.user.id)).data
          this.shop = (await ApiShop.read(this.cart[0].StoreBranchId)).data
          this.addCostShip(0)
          console.log(this.shop)
      }catch(e){
          console.log(e)
      }
  },
  methods: {
      ...mapActions(['addCostShip','addAddressShip']),
      showMap(data){
          this.addAddressShip(data)
          this.isShow = true
          this.select={
              latitude:data.latitude,
              longitude:data.longitude,
          }
      },
      closeMap(){
          this.isShow = false
          this.select=null
      }
  }

};
</script>

<style scoped>
.box-address{

}
.box-address:hover{
    background-color: rgb(236, 236, 236);
}
</style>