<template>
    <div>
        <Navbar />
        <Icon class="mt-5" />
        <h3 class="text-center">การสั่งซื้อสินค้าเสร็จสิน</h3>
        <p class="text-center mt-3"><router-link class="btn btn-primary" to="/purchase">ไปยังการสั่งซื้อของฉัน</router-link></p>
        <p class="text-center"><router-link class="btn btn-primary" to="/">กลับหน้าแรก</router-link></p>
    </div>
</template>
<script>
import Navbar from "../../components/Navbar.vue";
import Icon from '../../components/backend/iconSuccess.vue'
export default {
    components: {
        Navbar,Icon
    }
}
</script>