<template>
  <div id="shop">
    <Navbar />
    <Product v-if="isShow" :products="products"/>
  </div>
</template>
<script>
import Navbar from "../../components/Navbar.vue";
import Product from "../../components/Product.vue"
import ApiProduct from '../../services/StockProductService'
export default {

    data(){
        return{
            products:[],
            isShow:false
        }
    },

  components: {
    Navbar,Product
  },

  async created(){
      try{
        let id_shop = this.$route.params.id
          this.products = (await ApiProduct.views(id_shop)).data
        this.isShow=true
      }catch(e){
          console.log(e)
      }
  }
  
 
};
</script>

<style scoped>
.shop{
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.shop:hover{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: rgb(233, 40, 82);
  color: white;
}
.page{
   width: 100%;
  height: 100%;
  background: url("/img/hero.jpg") top center;
  background-size: cover;
  position: relative;
}
.page::before{
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
</style>