<template>
<div class="container">
    <div style="margin:0 auto;" >
        <canvas  id="myChartProduct" width="100%" height="50" ></canvas>
    </div>
</div>
    
</template>

<script>
import Chart from "chart.js";
export default {
    data(){
        return{
            data_show:null,
            isShow:false,
            color:"",
            label:[],
            velue:[]
        }
    },
    props:['sales_data'],
    mounted(){
        try{
            this.value= this.sales_data.map(p=>p.qty)
            this.color = this.sales_data.map(p=>{
                return (
                        "rgba(" +
                        Math.floor(Math.random() * 255) +
                        "," +
                        Math.floor(Math.random() * 255) +
                        "," +
                        Math.floor(Math.random() * 255) +
                        "," +
                        0.9 +
                        ")"
                    );
            })
            this.setLabel()
        }catch(e){
            console.log(e)
        }
    },
    methods:{
        setLabel(){
            var ctx = document.getElementById('myChartProduct'); 
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: this.sales_data.map(p=>p.name),
                    datasets: [{
                        label: 'ยอดขายยี่ห้อ / ชิ้น',
                        data: this.value,
                        backgroundColor: this.color 
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }
    }
}
</script>