<template>
<div class="container">
    <div style="margin:0 auto;" >
        <canvas  id="myChartDate" width="100%" height="60" ></canvas>
    </div>
</div>
    
</template>

<script>
import Chart from "chart.js";
export default {
    data(){
        return{
            data_show:null,
            isShow:false,
            color:"",
            label:[],
            velue:[],
            qty:[],
        }
    },
    props:['sales_data'],
    mounted(){
        try{
            this.sales_data.sort((a,b)=>new Date(a.date)-new Date(b.date))
            this.value= this.sales_data.map(p=>p.price)
            this.qty=this.sales_data.map(p=>p.qty)
            this.color = this.sales_data.map(p=>{
                return (
                        "rgba(" +
                        Math.floor(Math.random() * 255) +
                        "," +
                        Math.floor(Math.random() * 255) +
                        "," +
                        Math.floor(Math.random() * 255) +
                        "," +
                        0.9 +
                        ")"
                    );
            })
            this.setLabel()
        }catch(e){
            console.log(e)
        }
    },
    methods:{
        setLabel(){
            var ctx = document.getElementById('myChartDate'); 
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: this.sales_data.map(p=>p.date),
                    datasets: [{
                        label: 'รายได้ / วัน',
                        data: this.value,
                        borderWidth: 3,
                        fill:false,
                        borderColor:"rgba(32,178,170, 0.9)"
                    },
                    {
                        label: 'ยอดขายต่อชิ้น / วัน',
                        data: this.qty,
                        borderWidth: 3,
                        fill:false,
                        borderColor:"rgba(255, 99, 132, 0.9)"
                    }
                    ],
                },
                
                options: {
                    scales: {
                        yAxes: [{
                            stacked: true
                        }]
                    }
                }
            });
        }
    }
}
</script>