<template>
<div class="container">
    <div style="margin:0 auto;" >
        <canvas  id="myChartIncome" width="100%" height="50" ></canvas>
    </div>
</div>
    
</template>

<script>
import Chart from "chart.js";
export default {
    props:['income_data'],
    mounted(){
            console.log(this.income_data)
            var ctx = document.getElementById('myChartIncome'); 
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['รายได้ขายสินค้า','รายได้ค่า Delivery','รายจ่ายค่าจัดโปรโมชั่น','รายจ่ายค่าสั่งซื้อสินค้า','รายจ่ายค่าจ้างพนักงาน'],
                    datasets: [{
                        label: 'ยอดขายยี่ห้อ / ชิ้น',
                        data: [
                            this.income_data.sales_income.income,
                            this.income_data.sales_income.cost_ship,
                            this.income_data.sales_income.promotion,
                            this.income_data.order_expenses,
                            this.income_data.salary_expenses,
                            ],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.8)',
                            'rgba(100, 149, 237, 0.8)',
                            'rgba(255, 206, 86, 0.8)',
                            'rgba(75, 192, 192, 0.8)',
                            'rgba(153, 102, 255, 0.8)',
                        ]
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

    }
}
</script>