<template>
<div class="container">
    <div style="margin:0 auto;width:70%" >
        <canvas  id="myChart" width="50" height="50" ></canvas>
    </div>
</div>
    
</template>

<script>
import Chart from "chart.js";
export default {
    data(){
        return{
            data_show:null,
            isShow:false,
            color:"",
            label:[],
            velue:[]
        }
    },
    props:['sales_data'],
    mounted(){
        try{
            this.value= this.sales_data.map(p=>p.qty)
            this.setLabel()
        }catch(e){
            console.log(e)
        }
    },
    methods:{
        setLabel(){
            var ctx = document.getElementById('myChart'); 
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: this.sales_data.map(p=>p.type),
                    datasets: [{
                        label: '# of Votes',
                        data: this.value,
                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.9)',
                                            'rgba(54, 162, 235, 0.9)',
                                        ] 
                    }]
                },
                
            });
        }
    }
}
</script>