<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
        <HeaderForm
            title="เพิ่มข้อมูลซัพพลายเออร์"
            icon="far fa-handshake"
          />
        </div>
        <div class="my-4">
            <FormSupplier :supplier="supplier" v-on:create="create"/>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import HeaderForm from "../../../components/backend/headerForm.vue";
import FormSupplier from '../../../components/backend/formSupplier.vue'
import ApiSupplier from '../../../services/SupplierService'
import Swal from "sweetalert2";
export default {
    data(){
        return{
            supplier:{}
        }
    },
    components: {
        HeaderForm,
        FormSupplier
    },
    methods: {
        async create(){
            try{
                let data = await ApiSupplier.create(this.supplier)
                Swal.fire("เพิ่มข้อมูลซัพพลายเออร์สำเร็จ", "", "success").then(() =>{
                  this.$router.push('/admin/suppliers')
                })
            }catch(e){
                console.log(e)
            }
        }
    }
}
</script>