<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
        <HeaderForm
            title="ข้อมูลซัพพลายเออร์"
            icon="far fa-handshake"
          />
          <router-link to="/admin/supplier/create" class="btn btn-success">เพิ่มข้อมูลซัพพลายเออร์</router-link>
        </div>
        <div class="my-4">
            <TableSupplier :suppliers="suppliers" v-on:deleteSupplier="deleteSupplier"/>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import HeaderForm from "../../../components/backend/headerForm.vue";
import TableSupplier from '../../../components/backend/tableSupplier.vue'
import ApiSupplier from '../../../services/SupplierService'
import Swal from "sweetalert2";
export default {
    data(){
        return{
            suppliers:[]
        }
    },
    async created(){
        this.suppliers = (await ApiSupplier.views()).data
        console.log(this.suppliers)
    },
    components: {
        HeaderForm,TableSupplier

    },
    methods: {
        async deleteSupplier(id){
            try{
                let ans = confirm("ต้องการลบข้อมูลนี้ไหม")
                if(ans){
                    let data = (await ApiSupplier.delete(id)).data
                    this.suppliers = (await ApiSupplier.views()).data
                    Swal.fire("ลบข้อมูลซัพพลายเออร์สำเร็จ", "", "success")
                }
            }catch(e){
                console.log(e)
            }
        }
    }
    
}
</script>