<template>
  <div>
    <div class="about">
      <div class="container">
        <h1 class="about-title">About Me</h1>
        <div class="row">
          <div class="col-md-6">
            <div
              id="carouselExampleIndicators"
              class="carousel slide"
              data-ride="carousel"
            >
              <ol class="carousel-indicators">
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="0"
                  class="active"
                ></li>
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="1"
                ></li>
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="2"
                ></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/img/hero.jpg" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item">
                  <img src="/img/hero.jpg" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item">
                  <img src="/img/hero.jpg" class="d-block w-100" alt="..." />
                </div>
              </div>
              <a
                class="carousel-control-prev"
                href="#carouselExampleIndicators"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselExampleIndicators"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="content col-md-6">
            <h3>อามีราห์ โฟรสเซ่น ฮาลาลฟู้ดส์</h3>
            <p>
              ร้านอามีราห์ โฟรสเซ่น ฮาลาลฟู้ดส์ (Amera Frozen Shop)
              ผู้เชี่ยวชาญและมีความรู้ในสินค้าสำเร็จรูปแช่แข็งหลากหลาย
              จำหน่ายทั้งปลีกและส่ง อาหารแช่แข็งทุกชนิด ของทอด
              วัตถุดิบอาหารต่างๆ บรรจุภัณฑ์อาหาร สินค้าครัวเรือน และสินค้าอื่นๆ
              ร้านตั้งอยู่ 24/10 ม.2 ต.ราษฏร์รักษ์ ต.บ้านนา อ.จะนะ จ.สงขลา
            </p>
            <ul>
              <li>จำหน่ายปลีก-ส่ง อาหารทะเลแช่แข็งทุกชนิด</li>
              <li>บรรจุภัณฑ์อาหาร ถุงพลาสติก แถ้วพลาสติก</li>
              <li>สินค้าครัวเรือน สินค้าจำเป็น</li>
              <li>บริการ Delivery "สั่งง่าย ส่งจริง ถึงเร็ว"</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.about {
  padding: 50px 0 50px 0;
  background-color: #e6e6e677;
}
.about-title {
  text-align: center;
  margin-bottom: 50px;
  color: rgb(255, 60, 0);
}
.content {
  padding-left: 50px;
}
.content h3 {
  color: rgb(172, 0, 0);
}
.content ul{
  padding-top: 10px;
  list-style-image: url('/img/correct.png');
}
.content ul li{
    margin-bottom: 15px;
}
</style>