<template>
    <div class="contact">
      <div class="container">
        <h1 class="contact-title">ติดต่อเรา</h1>
        <div class="row">
          <div class="content col-md-4">
           <div class="d-flex flex-column justify-content-center">
               <div class="icon">
                   <i class="fas fa-map-marker-alt"></i>
               </div>
               <h5>24/10 ม.2 ต.ราษฏร์รักษ์ ต.บ้านนา อ.จะนะ จ.สงขลา</h5>
           </div>
          </div>
          <div class="content col-md-4">
           <div class="icon">
                   <i class="fas fa-phone-alt"></i>
               </div>
               <h5>080-710-8451 , 093-112-7008</h5>
        </div>
        <div class="content col-md-4">
           <div class="icon">
                   <i class="fas fa-envelope"></i>
               </div>
               <h5>amerafrozen.center@domain.com</h5>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.contact {
  padding: 50px 0 50px 0;
 background-color: #e6e6e677;
}
.contact-title {
  text-align: center;
  margin-bottom: 30px;
  color: rgb(255, 60, 0);
}
.icon{
    font-size:25px;
    color: rgb(255, 17, 0);
}
.content{
    text-align: center;
}
</style>