<template>
    <div class="card">
          <div class="main">
            <div class="co-img">
              <h4>โค้ดส่วนลด</h4>
              <h5 class="bg-info text-white">* {{data.name}}</h5>
            </div>
            <div class="vertical"></div>
            <div class="content">
              <h1>{{data.price}} <span>บาท</span> <span><small>ซื้อขั้นต่ำ {{data.price_buy}}.-</small> </span></h1>
              <p>ใช้ได้ตั้งแต่</p>
              <p>{{data.date_start}} ถึง {{data.date_stop}}</p>
            </div>
          </div>
          <div class="copy-button">
            <input id="copyvalue" type="text" readonly :value="data.code" />
            <button @click="copyCode(data.code)" class="copybtn">COPY</button>
          </div>
        </div>
</template>
<script>
export default {
    props: ['data'],
    methods: {
        copyCode(code){
            console.log(code)
            navigator.clipboard.writeText(code);
            alert("คัดลอกโค้ด " + code + " แล้ว");
        }
    }
}
</script>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



.card {
  margin: 20px 80px 40px 80px;
  width: 400px;
  height: 180px;
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 10px 10px;
  position: relative;
}

.main,
.copy-button {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}
.card::after {
  position: absolute;
  content: "";
  height: 40px;
  right: -20px;
  border-radius: 40px;
  z-index: 1;
  top: 70px;
  background-color: #6c757d;
  width: 40px;
}

.card::before {
  position: absolute;
  content: "";
  height: 40px;
  left: -20px;
  border-radius: 40px;
  z-index: 1;
  top: 70px;
  background-color: #6c757d;
  width: 40px;
}

.co-img img {
  width: 100px;
  height: 100px;
}
.vertical {
  border-left: 5px dotted black;
  height: 100px;
  position: absolute;
  left: 40%;
}

.content h1 {
  font-size: 35px;
  margin-left: -20px;
  color: #565656;
}

.content h1 span {
  font-size: 18px;
}
.content h2 {
  font-size: 18px;
  margin-left: -20px;
  color: #565656;
  text-transform: uppercase;
}

.content p {
  font-size: 16px;
  color: #696969;
  margin-left: -20px;
}

.copy-button {
  margin: 12px 0 -5px 0;
  height: 45px;
  border-radius: 4px;
  padding: 0 5px;
  border: 1px solid #e1e1e1;
}

.copy-button input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 15px;
}

.copy-button button {
  padding: 5px 20px;
  background-color: #dc143c;
  color: #fff;
  border: 1px solid transparent;
}
</style>