<template>
  <section class="hero">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <h1>อามีราห์ โฟรสเซ่น ฮาลาลฟู้ดส์</h1>
          <h2>จำหน่ายปลีก-ส่ง อาหารทะเลแช่แข็ง ของทอดสำเร็จรูป วัตถุดิบอาหาร อาหารเครื่อง</h2>
          <h2>ครัว บรรจุภัณฑ์อาหาร ฯลฯ</h2>
        </div>
      </div>
    </div>
  </section>
</template>
<style scoped>
.hero {
  width: 100%;
  height: 100vh;
  background: url("/img/hero.jpg") top center;
  background-size: cover;
  position: relative;
}
.hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.hero .container {
  position: relative;
  text-align: center;
  padding-top: 150px;
}

.hero h1 {
  margin: 0 0 10px 0;
  font-size: 43px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(204, 48, 0); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.hero h2 {
  color: #eee;
  font-size:20px;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(204, 48, 0); }
}
</style>