<template>
  <div id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-navbar">
      <div class="container">
        <img class="logo" src="/img/logo_back.png" alt="" width="80" />
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse pl-3" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" >
              <a class="nav-link" @click="navigateTo('/')"
                >หน้าแรก <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" @click="navigateTo('/shoping')"
                >ซื้อสินค้า <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" @click="navigateTo('/coupon')"
                >โค้ดส่วนลด <span class="sr-only">(current)</span></a
              >
            </li>
          </ul>
          <div class="my-2 my-lg-0 mr-2" @click="navigateTo('/cart')">
            <div class="dropdown">
              <button
                class="btn btn-light"
                type="button"
              >
                <i class="fas fa-shopping-cart"></i> {{ totalQty }}
              </button>
            </div>
          </div>
          <div v-if="this.user.isLogin==false" class="my-2 my-lg-0">
              <router-link
                class="btn btn-light"
                to="/login"
              >
               เข้าสู่ระบบ
              </router-link>
            
          </div>
          
          <div v-if="this.user.isLogin" class="my-2 my-lg-0">
            <div class="dropdown">
              <button
                class="btn btn-light dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fas fa-user"></i> {{user.user.name}} {{user.user.lastname}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" v-if="!user.user.position">
                <router-link :to="'/purchase'" class="dropdown-item">การซื้อของฉัน</router-link>
                <router-link :to="'/customer/'+user.user.id" class="dropdown-item">ข้อมูลส่วนตัว</router-link>
                <router-link :to="'/address_shipment/show/'+user.user.id" class="dropdown-item">ข้อมูลที่อยู่จัดส่งสินค้า</router-link>
                <router-link :to="'/password_edit/'+user.user.id" class="dropdown-item">เปลี่ยนรหัสผ่าน</router-link>
                <button type="button" @click="UserLogout" class="dropdown-item bg-danger text-white">ออกจากระบบ</button>
              </div>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" v-else>
                <router-link :to="'/admin/store_branchs'" class="dropdown-item" v-if="user.user.isOwner">ไปยังหน้าจัดการข้อมูล</router-link>
                <router-link :to="'/admin/employee'" class="dropdown-item" v-else>ไปยังหน้าจัดการข้อมูล</router-link>
                <button type="button" @click="UserLogout" class="dropdown-item bg-danger text-white">ออกจากระบบ</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>
<script>
import { mapGetters,mapActions } from "vuex";
export default {
  computed: {
    ...mapGetters(["cart","user"]),
    totalQty() {
      return this.cart.reduce((a, b) => a + 1, 0);
    },
  },
  mounted() {
  },
  methods:{
    ...mapActions(['UserLogout']),
    navigateTo(name){
      this.$router.push(name)
    }
  }
};
</script>
<style scoped>
.bg-navbar {
  background-color: #91221e;
}
.nav-link{
  cursor: pointer;
  color: white !important;
}
</style>