<template>
<div class="page">
    <div class="container" style="background-color:white;padding:25px;position: relative">
      <div class="search">
        <div class="input-group mb-3 w-50" style="margin:0 auto">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
          </div>
          <input v-model="search" type="text" class="form-control" placeholder="ค้นหาชื่อสินค้า หรือ ประเภท" aria-label="Username" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="row  justify-content-center" style="width:100%">
        <div v-for="d in data_product" :key="d.id">
          <div class="col-md-3">
            <div class="card mt-2" style="width: 13rem">
              <img :src="'http://localhost:8081/assets/uploads/'+d.product.picture" width="100%" alt="..." />
              <div class="card-body">
                <h5 class="card-title">{{d.product.name}}</h5>
                <p class="card-text">
                  ราคา: <b>{{d.price}}</b> บาท<br>
                  วันหมดอายุ: <b>{{d.date_exp}}</b>  <br>
                  จำนวนที่ซื้อได้: <b>{{d.qty}}</b>  ชิ้น
                </p>
                <a href="#" class="btn btn-primary" v-on:click="addCart(d)"><i class="fas fa-shopping-cart"></i> เพิ่มลงตระกร้า</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters, mapState } from "vuex";
export default {
  props:['products'],
  computed: {
    ...mapState(['cart'])
  },
  data() {
    return {
      data_product: null,
      search:""
    };
  },
  mounted() {
    this.data_product = this.products
    console.log(this.data_product)
  },
  watch : {
    search: function (d) {
      if(d==""){
        this.data_product = this.products
      }else{
        this.data_product = this.products.filter(p=>p.product.name.includes(d))
      }
    }
  },

  methods:{
      ...mapActions(["addItemToCart"]),

      addCart(d){
        let index = this.products.findIndex(p=>p.id==d.id)
        d.qty-=1
        if(d.qty<1){
         this.products = this.products.filter(p=>p.id!=d.id)
        }else{
          this.products.splice(index,1,d)
        }
        this.addItemToCart(d)
      }

  }
};
</script>
<style scoped>
.page{
   width: 100%;
  height: 100%;
  background: url("/img/hero.jpg") top center;
  background-size: cover;
  position: relative;
}
.page::before{
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
</style>