<template>
    <div class="service">
      <div class="container">
        <h1 class="service-title">บริการ</h1>
        <div class="row">
          <div class="content col-md-4">
           <div class="d-flex flex-column justify-content-center">
               <div class="icon">
                   <i class="fas fa-hamburger"></i>
               </div>
               <h3>อาหารแช่แข็งทุกชนิด</h3>
           </div>
          </div>
          <div class="content col-md-4">
           <div class="icon">
                   <i class="fas fa-box"></i>
               </div>
               <h3>บรรจุภัณฑ์อาหาร</h3>
        </div>
        <div class="content col-md-4">
           <div class="icon">
                   <i class="fas fa-paper-plane"></i>
               </div>
               <h3>จัดส่งถึงที่ Amera Delivery</h3>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.service {
  padding: 50px 0 50px 0;
  background-color: #ffffffb0;
}
.service-title {
  text-align: center;
  margin-bottom: 30px;
  color: rgb(255, 60, 0);
}
.icon{
    font-size:50px;
    color: rgb(255, 17, 0);
}
.content{
    text-align: center;
}
</style>