<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
          <HeaderForm title="แก้ไขข้อมูลประเภทสินค้า" icon="fas fa-align-justify"/>
        </div>
        <div class="my-4">
          <Form :data="data" v-on:actionForm="edit"/>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import ApiTypeProduct from '../../../services/TypeProduct'
import Form from '../../../components/backend/formTypeProduct.vue'
import HeaderForm from "../../../components/backend/headerForm.vue";
import Swal from "sweetalert2";
export default {
   data(){
       return{
           data:{}
       }
   },
   components:{
     Form,HeaderForm
   },
   async created(){
            let{id} = this.$route.params
            this.data = (await ApiTypeProduct.read(id)).data
            console.log(this.data)
       },
   methods: {
       async edit(dataTypeProduct){
           try{
               let data = await ApiTypeProduct.edit(dataTypeProduct)
               console.log(data)
               Swal.fire("บันทึกข้อมูลสำเร็จ", "", "success").then(() =>this.$router.push('/admin/type_products'))
           }catch (err) {
               console.log(err)
           }
       }
   }
}
</script>
