<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
          <HeaderForm title="ข้อมูลประเภทสินค้า" icon="fas fa-align-justify"/>
          <ButtonNavigate title="เพิ่มประเภทสินค้า" link="/admin/type_product/create" color ="btn-success" />
        </div>
        <div class="my-4">
          <table class="table" style="margin: 0 auto;width:60%;">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">ชื่อประเภทสินค้า</th>
                <th scope="col">จัดการ</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="t in typeProducts" :key="t.id">
                <th scope="row">{{ t.id }}</th>
                <td>{{ t.name }}</td>
                <td>
                  <ButtonNavigate title="" :link="'/admin/type_product/edit/'+t.id" color ="btn-warning" ><i class="fas fa-pen"></i></ButtonNavigate>
                  <button
                    type="button"
                    class="btn btn-danger"
                    @click="deleteTypeProduct(t.id)"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import ApiTypeProduct from "../../../services/TypeProduct";
import HeaderForm from "../../../components/backend/headerForm.vue";
import ButtonNavigate from '../../../components/backend/buttonNavigate.vue'
import Swal from "sweetalert2";
export default {
  data() {
    return {
      typeProducts: null,
    };
  },
  
  components:{
    ButtonNavigate,HeaderForm
  },

  async created() {
    this.typeProducts = (await ApiTypeProduct.show()).data;
  },

  methods: {
    async deleteTypeProduct(id) {
      try {
        let confirmAns = confirm("Are you sure you want to delete");
        if (confirmAns) {
          let data = await ApiTypeProduct.delete(id);
          this.typeProducts = (await ApiTypeProduct.show()).data;
          Swal.fire("ลบข้อมูลสำเร็จ", "", "success")
        }
      } catch (e) {
        console.log(e);
      }
    },
  },
};
</script>