<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
          <HeaderForm title="สร้างแคมเปญส่วนลด" icon="fas fa-tags" />
        </div>

        <div class="mt-4">
          <form v-on:submit.prevent="createCampaign" class="w-50" style="margin: 0 auto">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="exampleInputEmail1">ชื่อแคมเปญ</label>
                <input
                v-model="campaign.name"
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  required
                />
              </div>
              <div class="form-group col-md-6">
                <label for="exampleInputEmail1">CODE</label>
                <input
                v-model="campaign.code"
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  required
                />
              </div>
              <div class="form-group col-md-4">
                <label for="exampleInputEmail1">ราคาส่วนลด</label>
                <input
                v-model="campaign.price"
                  type="number"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  required
                />
              </div>
              <div class="form-group col-md-4">
                <label for="exampleInputEmail1">ราคาซื้อขั้นต่ำ</label>
                <input
                v-model="campaign.price_buy"
                  type="number"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  required
                />
              </div>
              <div class="form-group col-md-4">
                <label for="exampleFormControlSelect1">ประเภทส่วนลด</label>
                <select class="form-control" id="exampleFormControlSelect1" v-model="campaign.type" required>
                  <option value="บาท">บาท</option>
                  <option value="เปอร์เซ็นต์">เปอร์เซ็นต์</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="exampleFormControlSelect1">วันเริ่ม</label> <br>
                <input v-model="campaign.date_start" class="w-100" type="date" id="birthday" name="birthday" required>
              </div>
              <div class="form-group col-md-6">
                <label for="exampleFormControlSelect1">วันหมด</label> <br>
                <input v-model="campaign.date_stop" class="w-100" type="date" id="birthday" name="birthday" required>
              </div>
              <div class="form-group col-md-12">
                 <button class="btn btn-success w-100 mt-2">บันทึก</button>
              </div>
            </div>
          </form>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import HeaderForm from "../../../components/backend/headerForm.vue";
import ApiCrm from '../../../services/CrmService'
import Swal from "sweetalert2";
export default {
    data() {
        return{
            campaign:{}
        }
    },
  components: {
    HeaderForm,
  },
  methods: {
      async createCampaign(){
          try{
              let ans = await ApiCrm.createCampaign(this.campaign)
              Swal.fire("บันทึกสำเร็จ", "", "success").then(() =>this.$router.push("/admin/crm/promotion"))
              console.log(ans)
          }catch(e){
              console.log(e)
          }
      }
  }
};
</script>