<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
          <HeaderForm
            title="ระบบข้อมูลสัมพันธ์ลูกค้า"
            icon="far fa-envelope"
          />
        </div>

        <div class="mt-4">
          <div class="w-50" style="margin: 0 auto" v-if="step==1">
            <div class="form-group">
              <label for="exampleInputEmail1">หัวข้อเรื่อง</label>
              <input
                v-model="title"
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
            </div>
            <div v-if="isShow" style="margin: 0 auto">
              <img :src="'http://localhost:8081/assets/uploads/'+picture" alt=""  width="300"/>
              <br />
              <button class="btn btn-danger mt-1" @click="picture = null , isShow = false">
                ลบ
              </button>
            </div>
            <div class="form-group" v-else>
              <label for="exampleInputEmail1">แนบรูปภาพ</label>
              <div class="custom-file">
                <input
                  type="file"
                  class="custom-file-input"
                  id="inputGroupFile01"
                  aria-describedby="inputGroupFileAddon01"
                  @change="uploadPicture($event)"
                />
                <label class="custom-file-label" for="inputGroupFile01"
                  >Choose file</label
                >
              </div>
            </div>
          </div>

          <div v-else>
            <h5 class="text-center mb-3">เลือกข้อมูลลูกค้าที่ต้องการส่ง</h5>
            <p class="text-center mb-3">
              <input
                type="checkbox"
                aria-label="Checkbox for following text input"
                v-model="checkAll"
                @click="check_all"
              />
              ส่งทุกคน
            </p>
            <div
              v-for="c in customers"
              :key="c.id"
              class="w-50 mt-2"
              style="box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                margin: 0 auto;
                padding: 15px;
              "
            >
              <div class="row">
                <p class="col-md-5" style="margin: 0">
                  คุณ {{ c.name }} {{ c.lastname }}
                </p>
                <p class="col-md-6" style="margin: 0">อีเมล์ {{ c.email }}</p>
                <p class="col-md-1" style="margin: 0">
                  <input
                  ref="myId"
                  v-model="c.check"
                    type="checkbox"
                    aria-label="Checkbox for following text input"
                  />
                </p>
              </div>
            </div>
          </div>

            <div class="w-50 mt-3" style="margin: 0 auto">
              <p class="text-center" v-if="isOk">
                    <button class="btn btn-primary w-100" v-if="step==1" @click="step=2">ถัดไป</button>
                </p>
                <p class="text-center" v-if="isOk && step==2">
                    <button class="btn btn-success w-100" @click="createCrm">ยืนยัน</button>
                </p>
                <p class="text-center" v-if="isOk==false">
                    <button class="btn btn-success w-100" disabled>กำลังส่ง ... <div class="spinner-border spinner-border-md text-light" role="status" >
  <span class="sr-only">Loading...</span>
</div></button>
                </p>
          </div>
          
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import HeaderForm from "../../../components/backend/headerForm.vue";
import ApiCrm from "../../../services/CrmService";
import ApiCustomer from "../../../services/CustomerService";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      step:1,
      title: null,
      picture: null,
      customers: [],
      isOk:true,
      checkAll:false,
      isShow:false
    };
  },
  components: {
    HeaderForm,
  },
  async created() {
    try {
      this.customers = (await ApiCustomer.shows()).data;
      this.customers.map(c=>{
          c.check = false;
          return c
      })
    } catch (e) {
      console.log(e);
    }
  },

  methods: {
    async uploadPicture(event) {
      try {
        let data = new FormData();
        this.picture = event.target.files[0].name;
        data.append("crm", event.target.files[0]);
        let upload = await ApiCrm.uploadPicture(data);
        this.isShow=true
        console.log(upload);
      } catch (err) {
        console.log(err);
      }
    },

    async createCrm(){
      try{
        this.isOk = false;
        if(this.checkAll){
            let emails = this.customers.map(c=>{
              return c.email;
            })
            let data = {
              subject:this.title,
              email:emails,
              picture:this.picture,
            }
            let ans = await ApiCrm.sendMail(data);
          
            Swal.fire("ส่งอีเมล์ล์สำเร็จ", "", "success").then(() =>this.refreshPage())
            
        }else{
          let emails = this.customers.filter(c=>c.check==true)
          let data = {
              subject:this.title,
              email:emails.map(e=>e.email),
              picture:this.picture,
            }
          /* console.log(data); */
          let ans = await ApiCrm.sendMail(data);
        
          Swal.fire("ส่งอีเมล์ล์สำเร็จ", "", "success").then(() =>this.refreshPage())
          
        }        
      }catch (err){
        console.log(err)
      }
    },
    async refreshPage(){
      try{
        this.customers = (await ApiCustomer.shows()).data;
        this.customers.map(c=>{
            c.check = false;
            return c
        })
      this.step=1
      this.title= null
      this.picture= null,
      this.isOk=true,
      this.checkAll=false,
      this.isShow=false

      }catch (err){
        console.log(e)
      }
    },
    check_all(){
      try{
        if(!this.checkAll){
          this.customers = this.customers.map(c=>{
            c.check=true
            return c
          })
        }else{
            this.customers = this.customers.map(c=>{
              c.check=false
              return c
          })
        }
        
        
      }catch (err){
        console.log(err)
      }
    }
  },
};
</script>