<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
          <HeaderForm title="แคมเปญส่วนลด" icon="fas fa-tags" />
          <router-link class="btn btn-success" to="/admin/crm/promotion/create"
            >สร้างแคมเปญ</router-link
          >
        </div>

        <div class="mt-4">
          <table class="table" style="width:80%;margin:0 auto">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">ชื่อแคมเปญ</th>
                <th scope="col">CODE</th>
                <th scope="col">ราคาส่วนลด</th>
                <th scope="col">ราคาซื้อขั้นต่ำ</th>
                <th scope="col">ประเภท</th>
                <th scope="col">วันเริ่ม</th>
                <th scope="col">วันหมดอายุ</th>
                <th scope="col">จัดการ</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(data,index) in campaigns" :key="data.id">
                <th scope="row">{{index+1}}</th>
                <td>{{data.name}}</td>
                <td><p style="background-color:yellow;display: inline">{{data.code}}</p> </td>
                <td>{{data.price}}</td>
                <td>{{data.price_buy}}</td>
                <td>{{data.type}}</td>
                <td>{{data.date_start}}</td>
                <td>{{data.date_stop}}</td>
                <td><button type="button" class="btn btn-danger" @click="deletePromotion(data.id)"><i class="fas fa-trash"></i></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import HeaderForm from "../../../components/backend/headerForm.vue";
import ApiCrm from "../../../services/CrmService";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      campaigns: [],
    };
  },
  components: {
    HeaderForm,
  },
  async created() {
    try {
      this.campaigns = (await ApiCrm.selectPromotionAll()).data;
    } catch (e) {
      console.log(e);
    }
  },
  methods: {
      async deletePromotion(id){
          try{
              if(confirm("ต้องการลบข้อมูลนี้ไหม")){
                let ans = await ApiCrm.deletePromotion(id)
                Swal.fire("ลบสำเร็จ", "", "success")
                this.campaigns = (await ApiCrm.selectPromotionAll()).data;
              }
              
          }catch (err){
              console.log(e)
          }
      }
  },
};
</script>