<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Example 1</title>
    <link rel="stylesheet" href="style.css" media="all" />
    <style>
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #5D6975;
  text-decoration: underline;
}

body {
  position: relative;
  width: 21cm;  
  height: 29.7cm; 
  margin: 0 auto; 
  color: #001028;
  background: #FFFFFF; 
  font-family: Arial, sans-serif; 
  font-size: 12px; 
  font-family: Arial;
}

header {
  padding: 10px 0;
  margin-bottom: 30px;
}

#logo {
  margin-bottom: 10px;
}

#logo img {
  width: 90px;
}

h1 {
  border-top: 1px solid  #5D6975;
  border-bottom: 1px solid  #5D6975;
  color: black;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px 0;
}

#project {
  float: left;
}

span {
  color: #5D6975;
  text-align: right;
  width: 52px;
  margin-right: 5px;
  display: inline-block;
  font-size: 0.8em;
}

#company {
  float: right;
  text-align: right;
}

#project div,
#company div {
  white-space: nowrap;        
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

table tr:nth-child(2n-1) td {
  background: #F5F5F5;
}

table th,
table td {
  text-align: center;
}

table th {
  padding: 5px 20px;
  color: #5D6975;
  border-bottom: 1px solid #C1CED9;
  white-space: nowrap;        
  font-weight: normal;
}

table .service,
table .desc {
  text-align: left;
}

table td {
  padding: 20px;
  text-align: right;
}

table td.service,
table td.desc {
  vertical-align: top;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 1.2em;
}

table td.grand {
  border-top: 1px solid #5D6975;;
}

#notices .notice {
  color: #5D6975;
  font-size: 1.2em;
}

footer {
  color: #5D6975;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #C1CED9;
  padding: 8px 0;
  text-align: center;
}
    </style>
  </head>
  <body>
    <header class="clearfix">
      <div id="logo">
      <p style="text-align: center;"><img src="http://localhost:8081/assets/uploads/logo_back.png" style="display: inline-block;background-color: red;"></p>   <p style="text-align: right">รหัสใบสั่งซื้อ <u>{{order.order.id}}</u></p>
      </div>
      <h1>ใบสั่งซื้อสินค้า</h1>
      <div id="company" class="clearfix">
        <h4>ข้อมูลร้าน</h4>
        <div><span>ชื่อ: </span>ร้านอามีร่าห์ โฟรสเซ่น ฟูดส์ ฮาลาล สาขาที่ {{order.shop.no}} ({{order.shop.address}})</div>
        <div><span>ที่อยู่: </span> {{order.shop.address}}</div>
        <div><span>เบอร์ติดต่อร้าน: </span> {{order.shop.tell}}</div>
        <div><span>ผู้รับผิดชอบ: </span> {{order.employee.name}} {{order.employee.lastname}}</div>
      </div>
      <div id="project">
        <h4>ข้อมูลซัพพลายเออร์</h4>
        <div><span>บริษัท: </span> {{order.supplier.name}}</div>
        <div><span>ที่อยู่: </span> {{order.supplier.address}}</div>
        <div><span>เบอร์ติดต่อ: </span> {{order.supplier.tell}}</div>
        <div><span>EMAIL</span> {{order.supplier.email}}</div>
        <div><span>วันที่สั่ง: </span>{{order.order.date}}</div>
      </div>
    </header>
    <main>
      <table>
        <thead>
          <tr>
            <th class="service">ลำดับ</th>
            <th class="desc">รายการ</th>
            <th>ราคา/ชิ้น</th>
            <th>จำนวน</th>
            <th>ราคารวม (บาท)</th>
          </tr>
        </thead>
        <tbody>
          {{#each order.prodlist}}
          <tr>
            <td class="service">{{this.no}}</td>
            <td class="desc">{{this.Product.name}}</td>
            <td class="unit">{{this.price}}</td>
            <td class="qty">{{this.qty}}</td>
            <td class="total">{{this.total}}</td>
          </tr>
          {{/each}}
          <tr>
            <td colspan="4" class="grand total">ราคารวมทั้งหมด</td>
            <td class="grand total">{{order.sumTotal}}</td>
          </tr>
        </tbody>
      </table>
      <div id="notices">
        <div>NOTICE:</div>
        <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
      </div>
    </main>
    <footer>
      Invoice was created on a computer and is valid without the signature and seal.
    </footer>
  </body>
</html>