<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>

    <div class="row" style="margin-top: 30px;padding: 25px;">
<h2 class="col-md-8"><img src="http://localhost:8081/assets/uploads/logo_back.png" alt="" style="background-color:red" width="130"> ร้านอามีราห์ ฮาลาล โฟรสเซ่น ฟูดส์</h2>
<h4 class="col-md-4">ใบสั่งซื้อที่ 2 <br><br> วันที่ 20/5/2021</h4>
    </div>

    <div class="row" style="margin-top: 60px;padding: 25px;">
        <div class="col-md-6" style="border: 2px solid black; height: 250px;padding: 50px;">
            <h5>ผู้ขาย: บริษัท</h5>
            <h5>ที่อยู่: บริษัท</h5>
            <h5>เบอร์โทร: 251515151</h5>
        </div>
        <div class="col-md-6" style="border: 2px solid black; height: 250px;;padding: 50px;">
            <h5>ร้าน: อามีราห์ สาขา</h5>
            <h5>ผู้ติดต่อ: หมัดอาดัม</h5>
            <h5>เบอร์โทร: 251515151</h5>
        </div>
    </div>

    <div style="padding: 30px;">
        <table class="table">
            <thead style="background-color: black;color:white;border-radius: 10%;">
              <th>เลขที่</th>
              <th>รายการ</th>
              <th>ราคา/หน่วย</th>
              <th>จำนวน</th>
            </thead>
            <tbody>
              {{#each products}}
              <tr>
                <th scope="row" width="10%">{{this.id}}</th>
                <td >{{this.Product.name}}</td>
                <td >{{this.price}}</td>
                <td >{{this.qty}}</td>
              </tr>
              {{/each}}
              <tr>
                <th scope="row"></th>
                <td ></td>
                <td>ราคารวมทั้งหมด</td>
                <td>1000 บาท</td>
              </tr>
            </tbody>
        </table>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>