<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
        <HeaderForm title="จ่ายค่าจ้างพนักงาน" icon="fas fa-hand-holding-usd"/>
        </div>
        <div class="my-4">
          <div class="form-group col-md-4" style="margin: 0 auto">
            <label for="position"
              ><i class="fas fa-store text-primary"></i> เลือกสาขาร้าน</label
            >
            <select class="form-control" id="position" v-model="selectShop">
              <option v-for="shop in shops" :key="shop.id" :value="shop.id">
                {{ shop.address }} (สาขาที่ {{ shop.no }})
              </option>
            </select>
          </div>
          <div
            class="form-group col-md-4 my-4"
            style="margin: 0 auto"
            v-if="selectShop"
          >
            <label for="position"
              ><i class="fas fa-calendar-alt text-primary"></i> เลือกวันที่
            </label>
            <br />
            <input
              type="date"
              id="birthday"
              name="birthday"
              style="width: 100%"
              v-model="selectDate"
            />
          </div>
        </div>
        <div class="my-4" v-if="showMsg == null">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">profile</th>
                <th scope="col">ชื่อ-สกุล</th>
                <th scope="col">เบอร์โทร</th>
                <th scope="col">ตำแหน่ง</th>
                <th scope="col">ค่าจ้าง (บาท)</th>
                <th scope="col">หมายเหตุ</th>
                <th scope="col">จัดการ</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="data in employees" :key="data.id">
                <th scope="row">{{ data.id }}</th>
                <td><img :src="baseUrl + data.profile" alt="" width="70" /></td>
                <td>{{ data.name }} {{ data.lastname }}</td>
                <td>{{ data.tell }}</td>
                <td>{{ data.position }}</td>
                <td>
                  <input
                    type="number"
                    class="form-control"
                    style="width: 100px"
                    v-model="data.salary"
                  />
                </td>
                <td>
                  <textarea
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="3"
                    v-model="data.note"
                  ></textarea>
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-info"
                    @click="paySalary(data)"
                  >
                    จ่ายค่าจ้าง
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <h3 style="text-align: center" v-if="showMsg">
          ---------จ่าค่าจ้างครบแล้ว---------
        </h3>
      </main>
    </div>
  </div>
</template>

<script>
import ApiShop from "../../../services/ShopService";
import ApiSalary from "../../../services/SalaryService";
import HeaderForm from "../../../components/backend/headerForm.vue";
import Swal from "sweetalert2";
const Toast = Swal.mixin({
  toast: true,
  position: "top-end",
  showConfirmButton: false,
  timer: 1000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener("mouseenter", Swal.stopTimer);
    toast.addEventListener("mouseleave", Swal.resumeTimer);
  },
});
export default {
  data() {
    return {
      baseUrl: "http://localhost:8081/assets/uploads/",
      employees: null,
      shops: null,
      selectShop: null,
      selectDate: null,
      showMsg: false,
    };
  },
  components:{
    HeaderForm
  },
  async created() {
    try {
      this.shops = (await ApiShop.views()).data;
      console.log(this.shops)
    } catch (err) {
      console.log(err);
    }
  },
  watch: {
    selectDate: async function () {
      this.selectEmployee()
    },
    selectShop: function () {
      if (this.selectDate != null) this.selectEmployee()
    },
  },
  methods: {
    async selectEmployee() {
      try {
        let data = {
          idShop: this.selectShop,
          thisDate: this.selectDate,
        };
        this.employees = (await ApiSalary.getEmployee(data)).data;
        console.log(this.employees)
        if (Object.keys(this.employees).length == 0) this.showMsg = true;
        else this.showMsg = null;
      } catch (err) {
        console.log(err);
      }
    },
    async paySalary(data) {
      try {
        let dataSalaray = {
          salary_total: data.salary,
          date_salary: this.selectDate,
          note: data.note,
          status: "จ่ายแล้ว",
          EmployeeId: data.id,
        };

        let ans = (await ApiSalary.createSalary(dataSalaray)).data;

        this.filterEmployee(ans.EmployeeId);

        console.log(ans)
      } catch (err) {
        console.log(err);
      }
    },
    filterEmployee(id) {
      try {
        console.log(id);
        this.employees = this.employees.filter((e) => {
          return e.id != id;
        });
        if (Object.keys(this.employees).length == 0)
          this.showMsg = !this.showMsg;
        else this.showMsg = null;
        Toast.fire({
          icon: "success",
          title: "จ่ายค่าจ้างสำเร็จ",
        })
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
