<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
          <h1 class="h2">
            <i class="fas fa-user-edit" style="color: orange"></i>
            แก้ไขข้อมูลค่าจ้างพนักงาน
          </h1>
        </div>
        <p style="text-align: center" v-if="employee.profile !== null">
          <img :src="baseUrl + employee.profile" alt="" width="150" /><br />
        </p>

        <div class="my-4" style="">
          <form v-on:submit.prevent="editSalary" style="width:70%; margin: 0 auto">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name"
                  ><i class="fas fa-users"></i> ชื่อพนักงาน</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  required
                  v-model="employee.name"
                  disabled
                />
              </div>
              <div class="form-group col-md-6">
                <label for="lastname"
                  ><i class="fas fa-users"></i> นามสกุลพนักงาน</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="lastnarequiredme"
                  required
                  v-model="employee.lastname"
                  disabled
                />
              </div>
              <div class="form-group col-md-6">
                <label for="sex"><i class="fas fa-genderless"></i> เพศ</label>
                <select
                  class="form-control"
                  id="sex"
                  v-model="employee.sex"
                  disabled
                >
                  <option>ชาย</option>
                  <option>หญิง</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="position"
                  ><i class="fas fa-wrench"></i> ตำแหน่ง</label
                >
                <select
                  class="form-control"
                  id="position"
                  v-model="employee.position"
                  disabled
                >
                  <option>พนักงานขาย</option>
                  <option>พนักงานจัดสต็อกสินค้า</option>
                  <option>พนักงานส่งของ</option>
                </select>
              </div>

              <div class="form-group col-md-4">
                <label for="tell"
                  ><i class="fas fa-money-bill-wave"></i> จำนวนเงินที่จ่าย
                  วันที่ : {{ salary.date_salary }}</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="tell"
                  required
                  maxlength="10"
                  size="10"
                  v-model="salary.salary_total"
                  :disabled="isEdit"
                />
              </div>
              <div class="form-group col-md-4">
                <label for="username"
                  ><i class="far fa-question-circle"></i> สถานะ</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  v-model="salary.status"
                  :disabled="isEdit"
                />
              </div>
              <div class="form-group col-md-4">
                <label for="address"
                  ><i class="far fa-clipboard"></i> หมายเหตุ</label
                >
                <textarea
                  class="form-control"
                  aria-label="With textarea"
                  v-model="salary.note"
                  rows="1"
                  :disabled="isEdit"
                ></textarea>
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-success mb-2 w-100"
              v-if="!isEdit"
            >
              บันทึกการแก้ไข
            </button>
          </form>
          <div style="width:70%; margin: 0 auto">
             <button
            type="button"
            class="btn btn-danger mb-2 w-100"
            @click="isEdit = true"
            v-if="!isEdit"
            
          >
            ยกเลิกแก้ไข
          </button>
          <button
            type="button"
            class="btn btn-warning w-100"
            @click="isEdit = false"
            v-if="!!isEdit" 
          >
            แก้ไข
          </button>
          <button
            type="button"
            class="btn btn-danger my-2 w-100"
            v-if="!!isEdit"
            @click="deleteSalary()" 
          >
            ลบ
          </button>
          </div>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import ApiSalary from "../../../services/SalaryService";
import Swal from "sweetalert2";
const Toast = Swal.mixin({
  toast: true,
  position: "top-end",
  showConfirmButton: false,
  timer: 1000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener("mouseenter", Swal.stopTimer);
    toast.addEventListener("mouseleave", Swal.resumeTimer);
  },
});
export default {
  data() {
    return {
      baseUrl: "http://localhost:8081/assets/uploads/",
      employee: null,
      salary: null,
      isEdit: true,
    };
  },
  async created() {
    let data = {
      id: this.$route.params.data,
    };
    this.salary = (await ApiSalary.getEmployeeForEdit(data.id)).data;
    this.employee = this.salary.Employee;
    console.log(this.salary);
  },

  methods: {
    async editSalary() {
      let data = {
        id: this.salary.id,
        salary_total: this.salary.salary_total,
        status: this.salary.status,
        note: this.salary.note,
      };
      let ans = await ApiSalary.editSalary(data);
      Toast.fire({
        icon: "success",
        title: "จ่ายค่าจ้างสำเร็จ",
      }).then(() => this.$router.push({ name: "SalaryPage" }));
      console.log(ans);
    },
    async deleteSalary() {
      try {
        let confirms = confirm("ต้องการลบข้อมูลนี้ไหม");
        if (confirms) {
          let data = {
            idSalary: this.salary.id,
          };
          let ans = await ApiSalary.deleteSalary(data);
          Toast.fire({
            icon: "success",
            title: "ลบสำเร็จ",
          }).then(() => this.$router.push('/admin/salary/read'))
        }
      } catch (err) {
        console.log(err.message);
      }
    },
  },
};
</script>
