<template>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-lg-2"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div
            class="
              d-flex
              justify-content-between
              flex-wrap flex-md-nowrap
              align-items-center
              pt-3
              pb-2
              mb-3
              border-bottom
            "
          >
          <HeaderForm title="ข้อมูลการจ่ายค่าจ้างพนักงานของร้าน" icon="fas fa-hand-holding-usd"/>
        <ButtonNavigate title="จ่ายค่าจ้างพนักงาน" color="btn-success" link="/admin/salary/create" />
          </div>
          <div class="my-4">
            <div class="row">
              <div class="form-group col-md-4" style="margin: 0 auto">
                <label for="position"
                  ><i class="fas fa-store text-primary"></i>
                  เลือกสาขาร้าน</label
                >
                <select class="form-control" id="position" v-model="selectShop">
                  <option value="all">ทุกสาขา</option>
                  <option v-for="shop in shops" :key="shop.id" :value="shop.id">
                    {{ shop.address }} (สาขาที่ {{ shop.no }})
                  </option>
                </select>
              </div>
              <div class="form-group col-md-4" style="margin: 0 auto">
                <label for="position"
                  ><i class="fas fa-calendar-alt text-primary"></i> จากวันที่
                </label>
                <br />
                <input
                  type="date"
                  id="birthday"
                  name="birthday"
                  style="width: 100%"
                  v-model="selectDateStart"
                />
              </div>
              <div class="form-group col-md-4" style="margin: 0 auto">
                <label for="position"
                  ><i class="fas fa-calendar-alt text-primary"></i> ถึงวันที่
                </label>
                <br />
                <input
                  type="date"
                  id="birthday"
                  name="birthday"
                  style="width: 100%"
                  v-model="selectDateEnd"
                />
              </div>
            </div>
          </div>
          <div class="my-4" v-if="datas != [] && datas != ''">
            <h4 style="text-align: center">
              จำนวน {{ datas.length }} รายการ <br />
              ค่าจ้างทั้งหมด {{ sumSalary }} บาท
            </h4>
          </div>
          <div class="my-4" v-if="datas != [] && datas != ''">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">วันที่</th>
                  <th scope="col">profile</th>
                  <th scope="col">ชื่อ-สกุล</th>
                  <th scope="col">สาขา</th>
                  <th scope="col">เพศ</th>
                  <th scope="col">ตำแหน่ง</th>
                  <th scope="col">จำนวนค่าจ้างที่จ่าย</th>
                  <th scope="col">สถานะ</th>
                  <th scope="col">หมายเหตุ</th>
                  <th scope="col">จัดการ</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="data in datas" :key="data.id">
                  <th scope="row">{{ data.date_salary }}</th>
                  <td>
                    <img :src="data.Employee==null?'':baseUrl + data.Employee.profile" alt="" width="70"/>
                  </td>
                  <td>{{ data.Employee==null? '':data.Employee.name}} {{ data.Employee==null?'':data.Employee.lastname }}</td>
                  <td>{{ data.Employee.Store_branch.address}}</td>
                  <td>{{ data.Employee==null?'':data.Employee.sex }}</td>
                  <td>{{ data.Employee==null? '':data.Employee.position }}</td>
                  <td>{{ data.salary_total }} บาท</td>
                  <td>{{ data.status }}</td>
                  <td v-if="data.note == null">-</td>
                  <td v-else>{{ data.note }}</td>
                  <td>
                    <p>
                      <button type="button" class="btn btn-warning" @click="editSalary(data.id)">
                        จัดการข้อมูล</button
                      ><br />
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="my-4" v-if="showMsg != null && showMsg != false">
            <h2 style="text-align: center">
              ---------------ไม่มีข้อมูล---------------
            </h2>
          </div>
        </main>
      </div>
    </div>
  </div>
</template>

<script>
import ApiShop from "../../../services/ShopService";
import ApiSalary from "../../../services/SalaryService";
import HeaderForm from "../../../components/backend/headerForm.vue";
import ButtonNavigate from '../../../components/backend/buttonNavigate.vue'
import Swal from "sweetalert2";
const Toast = Swal.mixin({
  toast: true,
  position: "top-end",
  showConfirmButton: false,
  timer: 1000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener("mouseenter", Swal.stopTimer);
    toast.addEventListener("mouseleave", Swal.resumeTimer);
  },
});
export default {
  data() {
    return {
      baseUrl: "http://localhost:8081/assets/uploads/",
      datas: [],
      shops: null,
      selectShop: null,
      selectDateStart: null,
      selectDateEnd: null,
      showMsg: false,
      showEdit: false,
      editD: {},
    };
  },
  components:{
    HeaderForm,ButtonNavigate
  },
  watch: {
    selectShop: function () {
      if (this.selectDateStart != null && this.selectDateEnd != null)
        this.getDataSalary();
    },
    selectDateStart: function () {
      if (this.selectShop != null && this.selectDateEnd != null)
        this.getDataSalary();
    },
    selectDateEnd: function () {
      if (this.selectShop != null && this.selectDateStart != null)
        this.getDataSalary();
    },
  },
  async created() {
    try {
      this.shops = (await ApiShop.views()).data;
    } catch (err) {
      console.log(err);
    }
  },
  computed: {
    sumSalary: function () {
      let sum = this.datas.reduce((a, b) => {
        return a + b.salary_total;
      }, 0);
      return sum.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
  },
  methods: {
    async getDataSalary() {
      let data = {
        startDate: this.selectDateStart,
        endDate: this.selectDateEnd,
      };
      if (this.selectShop != "all") data.ShopId = this.selectShop;
      this.datas = (await ApiSalary.getSalary(data)).data;
      console.log(this.datas)
      if (this.datas.length == 0) {
        this.showMsg = true;
        }
      else {
        this.showMsg = false;
      }
    },
    editSalary(id){
      try { 
        console.log(id)
        this.$router.push("/admin/salary/edit/"+id)
      }catch (err) {
        console.log(err)
      }
    }
  },
};
</script>
