<template>
    <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
        <HeaderForm title="ค่าจ้างที่ได้รับ" icon="fas fa-hand-holding-usd"/>
        </div>
        <div class="mt-4">
            <FullCalendar :options="calendarOptions" />
        </div>
      </main>
    </div>
    </div>
</template>
<script>
import HeaderForm from "../../../components/backend/headerForm.vue";
import ApiSalary from '../../../services/SalaryService'
import '@fullcalendar/core/vdom' 
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import interactionPlugin from '@fullcalendar/interaction'
import {mapState} from 'vuex'
export default {
    data(){
        return{
            salary:[],
            data_show:[],
            calendarOptions: {
                    plugins: [ dayGridPlugin, interactionPlugin ],
                    initialView: 'dayGridMonth',
                    events: []
                }
        }
    },
    components:{
        HeaderForm,FullCalendar
    },
    computed: {
        ...mapState(['user'])
    },
    async created(){
        try{
            let id_employee = this.user.user.id
            this.salary = (await ApiSalary.EmployeeGetData(id_employee)).data;
            console.log(this.salary);
            this.calendarOptions.events = this.salary

        }catch(e){
            console.log(e)
        }
    }
}
</script>