<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
        <HeaderForm
            title="เพิ่มข้อมูลพนักงาน"
            icon="fas fa-user-plus"
          />
        </div>
        <ProfileUpload
          :progress="progress"
          :showProfile="showProfile"
          :picture="employee.profile"
          v-on:deletePicture="deleteProfileEm"
        />
        <div class="my-4" style="">
          <Form :employee="employee" :shops="shops" :progress="progress" :showProfile="showProfile" 
          v-on:actionForm="create" v-on:uploadPicture="uploadProfile"/>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import ApiEmployee from "../../../services/EmployeeService";
import ApiShop from "../../../services/ShopService";
import Form from '../../../components/backend/formEmployee.vue'
import ProfileUpload from "../../../components/backend/profuleUpload.vue";
import HeaderForm from "../../../components/backend/headerForm.vue";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      url: "http://localhost:8081/assets/uploads/",
      employee: {},
      showProfile: false,
      shops: null,
      progress: 0,
    };
  },
  components:{
    Form,ProfileUpload,HeaderForm
  },  
  async created() {
    try {
      this.shops = (await ApiShop.views()).data;
    } catch (err) {
      console.log(err);
    }
  },
  methods: {
    async create(dataEmployee) {
      try {
        let user = await ApiEmployee.create(dataEmployee);
        Swal.fire("เพิ่มข้อมูลพนักงานสำเร็จ", "", "success").then(() =>
          this.$router.push("/admin/employees")
        );
      } catch {
        console.log("create employee errror");
      }
    },
    async uploadProfile(event) {
      try {
        this.progress += 10;
        let data = new FormData();
        this.employee.profile = event.target.files[0].name;
        data.append("profile", event.target.files[0]);
        this.progress += 30;
        let profile = await ApiEmployee.upload(data);
        this.progress += 40;
        setTimeout(() =>{
          this.showProfile = true;
          this.progress += 20;
          this.progress = 0;
        },2000)
      } catch (err) {
        console.log(err);
      }
    },
    async deleteProfileEm(profileEmployee) {
      try {
        let profile = {
          profile: profileEmployee,
        };
        this.employee.profile = null
        let data = await ApiEmployee.deleteProfile(profile);
        this.showProfile = !this.showProfile;
        Swal.fire("ลบรูปโปรไฟล์สำเร็จ", "", "success");
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
