<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
         <HeaderForm title="ข้อมูลพนักงานทั้งหมด" icon="fas fa-sitemap"/>
          <ButtonNavigate title="เพิ่มข้อมูลพนักงาน" link="/admin/employee/create" color ="btn-success" />
        </div>
        <div class="my-4">
          <table class="table table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">profile</th>
                <th scope="col">username</th>
                <th scope="col">ชื่อ-สกุล</th>
                <th scope="col">เพศ</th>
                <th scope="col">โทรศัพท์</th>
                <th scope="col">ที่อยู่</th>
                <th scope="col">พนักงานสาขา</th>
                <th scope="col">ตำแหน่ง</th>
                <th scope="col">ค่าจ้างต่อวัน(บาท)</th>
                <th scope="col">จัดการ</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="data in employees" :key="data.id">
                <th scope="row">{{ data.id }}</th>
                <td><img :src="baseUrl+data.profile" alt="" width="80"></td>
                <td>{{ data.username }}</td>
                <td>{{ data.name }} {{ data.lastname }}</td>
                <td>{{ data.sex }}</td>
                <td>{{ data.tell }}</td>
                <td>{{ data.address }}</td>
                <td>{{ data.Store_branch==null? '':data.Store_branch.address }} {{ data.Store_branch==null? '':'(สาขาที่ '+data.Store_branch.no+')'}}</td>
                <td>{{ data.position }}</td>
                <td>{{ data.salary }}</td>
                <td><p style="text-align: center;">
                   <ButtonNavigate title="" :link="'/admin/employee/edit/'+data.id" color ="btn-warning">
                   <i class="fas fa-pen text-white"></i>
                   </ButtonNavigate>
                   <button type="button" class="btn btn-danger" @click="deleteEmployee(data.id)"><i class="fas fa-trash-alt"></i></button></p>
                  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import ApiEmployee from "../../../services/EmployeeService";
import HeaderForm from "../../../components/backend/headerForm.vue";
import ButtonNavigate from '../../../components/backend/buttonNavigate.vue'
export default {
  data() {
    return {
      baseUrl: "http://localhost:8081/assets/uploads/",
      employees: {},
    };
  },
  components:{
    HeaderForm,ButtonNavigate
  },
  async created() {
    try{
      this.employees = (await ApiEmployee.views()).data;
      console.log(this.employees);
    }catch(err){
      console.log(err);
    }
    
  },
  methods:{
      async deleteEmployee(dataId){
          let ask = confirm("ต้องการลบข้อมูลนี้ไหม")
          if(ask){
              let data = await ApiEmployee.delete(dataId);
              this.employees = (await ApiEmployee.views()).data;
          }
          
      }
  }
};
</script>