<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
        <HeaderForm title="เพิ่มข้อมูลสาขา" icon="fas fa-store"/>
        </div>
            <ProfileUpload
          :progress="progress"
          :showProfile="showProfile"
          :picture="Store_branch.picture"
          v-on:deletePicture="deleteProfileEm"
        />
        <Form :Store_branch="Store_branch" :showProfile="showProfile" :progress="progress"
        v-on:action="createShop" v-on:upload="uploadProfile"/>
      </main>
    </div>
  </div>
</template>
<script>
import ApiShop from "../../../services/ShopService";
import Form from '../../../components/backend/formShop.vue'
import ProfileUpload from "../../../components/backend/profuleUpload.vue";
import HeaderForm from "../../../components/backend/headerForm.vue";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      url: "http://localhost:8081/assets/uploads/",
      Store_branch: {},
      showProfile: false,
      progress:0
    };
  },
  components:{
    Form,ProfileUpload,HeaderForm
  },
  methods: {
    async uploadProfile(event) {
      try {
        this.progress += 10;
        let data = new FormData();
        this.Store_branch.picture = event.target.files[0].name;
        data.append("picture", event.target.files[0]);
        this.progress += 30;
        let picture = await ApiShop.upload(data);
        this.progress += 40
        setTimeout(() =>{
          this.showProfile = true;
          this.progress += 20;
          this.progress = 0;
        },2000)
      } catch (err) {
        console.log(err);
      }
    },
    async createShop(dataShop){
        try{
             console.log(dataShop);
             let data = await ApiShop.create(dataShop)
             Swal.fire("บันทึกข้อมูลสำเร็จ", "", "success").then(()=>this.$router.push("/admin/store_branchs"));
        }catch (err) {
            console.log(err.message);
        }
    },
    async deleteProfileEm(dataProfile){
      try{
        let picture = {
          picture: dataProfile
        }
        this.Store_branch.picture = null
        let data = await ApiShop.deletePicture(picture)
        this.showProfile = !this.showProfile;
        Swal.fire("ลบรูปโปรไฟล์สำเร็จ", "", "success")
      }catch(err){
        console.log(err)
      }
  },
  },
};
</script>
<style scoped>
.fa-store {
  color: rgb(7, 153, 250);
}
</style>