<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
          <h1 class="h2">
            <i class="fas fa-user-edit" style="color: orange"></i>
            ข้อมูลร้าน สาขาที่ {{ shop.no }} ({{ shop.address }})
          </h1>
        </div>
        <p v-if="progress > 0 && !this.showProfile">
          กำลังอัพโหลด... {{ progress }} %
        </p>
        <div class="progress" v-if="progress > 0 && !this.showProfile">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            :aria-valuenow="progress"
            aria-valuemin="0"
            aria-valuemax="100"
            :style="'width:' + progress + '%'"
          ></div>
        </div>
        <p style="text-align: center" v-if="showProfile">
          <img :src="url + shop.picture" alt="" width="500" /><br />
          <button
            type="button"
            class="btn btn-danger mt-2"
            @click="deletePicture"
            v-if="!isEdit"
          >
            ลบ
          </button>
        </p>

        <div class="my-4" style="">
          <form v-on:submit.prevent="edit" style="margin: 0 auto; width: 60%">
            <div class="row">
              <div
                class="form-group col-md-12"
                v-if="progress == 0 && !showProfile && !isEdit"
              >
                <label for="profile"
                  ><i class="fas fa-camera"></i> อัพโหลดโปรไฟล์พนักงาน</label
                >
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01"
                      >Upload</span
                    >
                  </div>
                  <div class="custom-file">
                    <input
                      type="file"
                      class="custom-file-input"
                      id="profile"
                      aria-describedby="inputGroupFileAddon01"
                      @change="uploadPicture($event)"
                    />
                    <label class="custom-file-label" for="profile"
                      >Choose file</label
                    >
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="name"><i class="fas fa-users"></i> สาขาที่</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  required
                  v-model="shop.no"
                  :disabled="isEdit"
                />
              </div>
              <div class="form-group col-md-4">
                <label for="lastname"
                  ><i class="fas fa-users"></i> ที่อยู่</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="lastnarequiredme"
                  required
                  v-model="shop.address"
                  :disabled="isEdit"
                />
              </div>
              <div class="form-group col-md-4">
                <label for="tell"
                  ><i class="fas fa-phone-alt"></i> เบอร์โทรศัพท์</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="tell"
                  required
                  maxlength="10"
                  size="10"
                  v-model="shop.tell"
                  :disabled="isEdit"
                />
              </div>
             
              <div class="form-group col-md-12">
                <label for="tell"
                  ><i class="fas fa-phone"></i> ตำแหน่งที่ตั้ง 2</label
                >
                <div class="map" style="height: 350px" v-if="longitude">
                  <longdo-map @load="loadMap">
                    <longdo-map-marker
                      :location="{ lon: longitude, lat: latitude }"
                      :draggable="true"
                    />
                  </longdo-map>
                </div>
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-success w-100 mb-2"
              v-if="!isEdit"
            >
              บันทึกการแก้ไข
            </button>
          </form>
          <div style="margin: 0 auto; width: 60%">
            <button
              type="button"
              class="btn btn-danger w-100 mb-2"
              @click="isEdit = true"
              v-if="!isEdit"
            >
              ยกเลิกแก้ไข
            </button>
            <button
              type="button"
              class="btn btn-warning w-100 mb-2"
              @click="isEdit = false"
              v-if="!!isEdit"
            >
              แก้ไขข้อมูล
            </button>
            <button
              type="button"
              class="btn btn-danger w-100 mb-2"
              @click="deleteShop()"
              v-if="!!isEdit"
            >
              ลบข้อมูล
            </button>
          </div>
        </div>
      </main>
    </div>
  </div>
</template>
<script>
import ApiShop from "../../../services/ShopService";
import Swal from "sweetalert2";
import { LongdoMap,LongdoMapMarker } from 'longdo-map-vue'
LongdoMap.init({ apiKey: 'c11a4bffa0ce4de7ebbd3471acc4b7e4' })
export default {
  data() {
    return {
      url: "http://localhost:8081/assets/uploads/",
      shop: {},
      showProfile: false,
      progress: 0,
      isEdit: true,
      latitude:null,
      longitude:null
    };
  },
  components:{
     LongdoMap,LongdoMapMarker
  },
  async created() {
    try {
      console.log(this.$route.params.id);
      this.shop = (await ApiShop.read(this.$route.params.id)).data;
      if(this.shop.latitude==""){
        if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(this.showPosition);
      } else {
        alert("Geolocation is not available")
      }
      }else{
        this.latitude = parseFloat(this.shop.latitude);
        this.longitude = parseFloat(this.shop.longitude);
      }
      console.log(this.shop);
      if (this.shop.picture != "" && this.shop.picture != null)
        this.showProfile = !this.showProfile;
    } catch (err) {
      console.log(err);
    }
  },
  methods: {
    showPosition(position) {
          this.latitude = position.coords.latitude
          this.longitude = position.coords.longitude;

        },
    async deletePicture() {
      try {
        let picture = {
          picture: this.shop.picture,
        };
        this.shop.picture = null;
        let data = await ApiShop.deletePicture(picture);
        this.showProfile = !this.showProfile;
        console.log(data);
      } catch (err) {
        console.log(err);
      }
    },
    async uploadPicture(event) {
      try {
        this.progress += 10;
        let data = new FormData();
        this.shop.picture = event.target.files[0].name;
        data.append("picture", event.target.files[0]);
        this.progress += 30;
        let picture = await ApiShop.upload(data);
        this.progress += 40;
        setTimeout(() => {
          this.showProfile = true;
          this.progress += 20;
          this.progress = 0;
        }, 2000);
      } catch (err) {
        console.log(err);
      }
    },
    async edit() {
      try {
        this.shop.latitude = this.latitude.toString()
        this.shop.longitude = this.longitude.toString()
        let ans = await ApiShop.edit(this.shop);
        this.isEdit = !this.isEdit;
        Swal.fire("บันทึกข้อมูลสำเร็จ", "", "success").then(() =>
          this.$router.push("/admin/store_branchs")
        );
        console.log(ans);
      } catch (err) {
        console.log(err);
      }
    },
    async deleteShop() {
      try {
        let confirmAns = confirm("ต้องการลบข้อมูลนี้ไหม");
        if (confirmAns) {
          let data = {
            id: this.shop.id,
          };
          let ans = await ApiShop.delete(data);
          Swal.fire("บันทึกข้อมูลสำเร็จ", "", "success").then(() =>
            this.$router.push("/admin/store_branchs")
          );
          console.log(ans);
        }
      } catch (err) {
        console.log(err);
      }
    },
    loadMap(map) {
      map.Layers.setBase(longdo.Layers.NORMAL);
      map.Event.bind("overlayDrop", (overlay) => {
        this.latitude = overlay.location().lat;
        this.longitude = overlay.location().lon;
      });
    },
    showPosition(position) {
      this.latitude = position.coords.latitude;
      this.longitude = position.coords.longitude;
    },
  },
};
</script>