<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
        <HeaderForm title="ข้อมูลสาขาทั้งหมด" icon="fas fa-store"/>
          <ButtonNavigate title="เพิ่มสาขาใหม่" link="/admin/store_branch/create" color ="btn-success" />
        </div>
        <div class="my-3">
          <div class="row">
            <div class="col-md-4 mb-4" v-for="store_branch in store_branchs" :key="store_branch.id">
              <router-link style="text-decoration: none;color:black" class="router-link" :to="'/admin/store_branch/read/'+store_branch.id">
              <div class="card " style="width: 25rem; margin: 0 auto; padding: 15px;">
                <img :src="store_branch.picture? url+store_branch.picture:picture" class="card-img-top" alt="..." height="400"/>
                <div class="card-body">
                    <h3 style="text-align: center;">
                       สาขาที่ {{ store_branch.no}} ({{store_branch.address }})
                    </h3>
                  <p class="card-text">
                    <i class="fas fa-user"></i> จำนวนพนักงาน: {{store_branch.Employees.length}} คน <br>
                    <i class="fas fa-phone-alt"></i> เบอร์โทรร้าน: {{store_branch.tell}}
                  </p>
                </div>
              </div>
              </router-link>
            </div>
          </div>
          
        </div>
      </main>
    </div>
  </div>
</template>
<script>
import ApiShop from "../../../services/ShopService";
import HeaderForm from "../../../components/backend/headerForm.vue";
import ButtonNavigate from '../../../components/backend/buttonNavigate.vue'
export default {
    data(){
        return {
            url: "http://localhost:8081/assets/uploads/",
            store_branchs:[],
            picture:'/img/store.jpg'
        }
    },
    components:{
      HeaderForm,ButtonNavigate
    },
    async created() {
        try {
            this.store_branchs = (await ApiShop.views()).data
        }catch (err) {
            console.log(err)
        }
    },
}
</script>
<style scoped>
.card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}
</style>