<template>
  <div>
    <Navbar />
    <section class="hero">
      <div class="container">
        <h2 class="text-header text-center mb-3">
          เพิ่มข้อมูลที่อยู่จัดส่งสินค้า
        </h2>
        <div class="detail mb-2">
          <label for="exampleFormControlTextarea1">รายละเอียดที่อยู่</label>
          <textarea
          v-model="address"
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
          <button class="btn btn-primary mt-2" @click="findLocation">
            หาตำแหน่งของฉัน
          </button>
          <div class="mt-2" style="height:380px;" v-if="longitude">
            <longdo-map @load="loadMap" >
            <longdo-map-marker @add="addMarker" :location="{ lon: longitude,lat: latitude }" 
            title="ตำแหน่งของคุณ" 
            :draggable="true"
            />
          </longdo-map>
          </div>
          <button class="btn btn-success mt-2  w-100" @click="createData">
            บันทึก
          </button>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Navbar from "../../components/Navbar";
import {mapState} from 'vuex'
import ApiAddress from '../../services/AddressShipService'
import { LongdoMap, LongdoMapMarker } from "longdo-map-vue";
import Swal from "sweetalert2";
LongdoMap.init({ apiKey: "c11a4bffa0ce4de7ebbd3471acc4b7e4" });

export default {
  data() {
    return {
      address:"",
      longitude: null,
      latitude: null,
    };
  },
  components: {
    Navbar,
    LongdoMap,
    LongdoMapMarker,
  },
  computed: {
    ...mapState(['user'])
  },

  methods: {
    async createData() {
      try{
        let data = {
          address: this.address,
          latitude:this.latitude,
          longitude:this.longitude,
          CustomerId:this.user.user.id
        }
        let ans = await ApiAddress.create(data)
         Swal.fire("บันทึกข้อมูลสำเร็จ", "", "success").then(()=>this.$router.push("/address_shipment/show/"+this.user.user.id));
      }catch(e){
        console.log(e)
      }
    },
    loadMap(map) {
      map.Layers.setBase(longdo.Layers.NORMAL);
      map.Event.bind("overlayDrop", (overlay) => {
        this.latitude = overlay.location().lat;
        this.longitude = overlay.location().lon;
      });
     
    },
    addMarker(map) {},
    findLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(this.showPosition);
      }
    },
    showPosition(position) {
      this.latitude = position.coords.latitude;
      this.longitude = position.coords.longitude;
    },
  },
};
</script>

<style scoped>
.text-header {
  background-color: rgba(255, 255, 255, 0.918);
  height: 70px;
  padding-top: 15px;
}
.content {
  background-color: rgba(255, 255, 255, 0.918);
  padding: 10px 50px 50px 50px;
  border-radius: 20px;
  height: 500px;
}
.detail {
  background-color: rgba(255, 255, 255, 0.918);
  padding: 10px 50px 10px 50px;
  border-radius: 20px;
}
.hero {
  width: 100%;
  height: 100vh;
  background: url("/img/hero.jpg") top center;
  background-size: cover;
  position: relative;
}
.hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.hero .container {
  position: relative;
  padding-top: 40px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(204, 48, 0);
  }
}
</style>