<template>
  <div>
    <Navbar />
    <section class="hero">
      <div class="container">
          <h2 class="text-header text-center mb-3">ข้อมูลที่อยู่จัดส่งสินค้า</h2>
          <div class="content">
              <router-link to="/address_shipment/add" class="btn btn-success w-100">เพิ่มที่อยู่</router-link>
              <div class="data mt-3">
                <div class="row">
                  <div v-for="data in address" :key="data.id" class="data-content p-4 mb-3 col-md-4" 
                  style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;" >
                  <div @click="showMap(data)">
                    <p>รายละเอียดที่อยู่ : {{data.address}}</p>
                      <p>latitude: {{data.latitude}}</p>
                      <p>longitude: {{data.longitude}}</p>
                  </div>
                      <p>
                        <button class="btn btn-danger w-100" @click="deleteAddress(data.id)">ลบ</button></p>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </section>
   <mapAddress v-if="isShow" v-on:closeShow="closeShow" :data="data"/>
  </div>
</template>

<script>
import Navbar from "../../components/Navbar";
import ApiCustomer from '../../services/CustomerService'
import ApiAddress from '../../services/AddressShipService'
import mapAddress from '../../components/backend/mapAddress.vue'
import Swal from "sweetalert2";
export default {
  data() {
    return {
      address:[],
      isShow:false,
      data:{}
    };
  },
  async created(){
      try{
          let id_user = this.$route.params.id
          this.address = (await ApiAddress.getDataFromId(id_user)).data
      }catch(e){
          console.log(e)
      }
  },
  methods:{
      async deleteAddress(id){
        try{
          if(confirm("ต้องการลบข้อมูลนี้ไหม")){
              let ans = await ApiAddress.delete(id)
              let id_user = this.$route.params.id
              this.address = (await ApiAddress.getDataFromId(id_user)).data
              Swal.fire("ลบข้อมูลสำเร็จ", "", "success")
              console.log(ans)
          }
        }catch(e){
          console.log(e)
        }
      },
      showMap(d){
        this.isShow = true
        this.data = {
          latitude:d.latitude,
          longitude:d.longitude,
        }
      },
      closeShow(){
        this.isShow = false
        this.data = {}
      }
  },
  components: {
    Navbar,mapAddress
  },
};
</script>

<style scoped>
.data-content:hover{
  cursor: pointer;
  background-color:rgba(255, 255, 255, 0.555);
}
.text-header{
    background-color: rgba(255, 255, 255, 0.918);
    height:70px;
    padding-top: 15px;
}
.content {
  background-color: rgba(255, 255, 255, 0.918);
  padding: 10px 50px 50px 50px;
  border-radius: 20px;
}
.hero {
  width: 100%;
  height: 100vh;
  background: url("/img/hero.jpg") top center;
  background-size: cover;
  position: relative;
}
.hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.hero .container {
  position: relative;
  padding-top: 40px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(204, 48, 0);
  }
}
</style>