<template>
  <div>
    <Navbar />
    <section class="hero">
      <div class="container">
          <h2 class="text-header text-center mb-3">เปลี่ยนรหัสผ่าน</h2>
        <form v-on:submit.prevent="changePasswd">
          <div class="row">
            <div class="form-group col-md-12">
              <label for="exampleInputEmail1">รหัสผ่านเดิม</label>
              <input
                type="password"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                max="10"
                v-model="old_password"
                required
              />
            </div>
              <div class="form-group col-md-12">
              <label for="exampleInputEmail1">รหัสผ่านใหม่</label>
              <input
                type="password"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                max="10"
                v-model="new_password"
                required
              />
            </div>
            <div class="form-group col-md-12">
              <label for="exampleInputEmail1">ยืนยันรหัสผ่านใหม่</label>
              <input
                type="password"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                max="10"
                v-model="confirm_new_password"
                required
              />
            </div>
          </div>
          <p class="text-center text-danger" v-if="error">{{error}}</p>
          <button  type="submit" class="btn btn-success w-100 mt-2">เปลี่ยนรหัสผ่าน</button>
        </form>
        
      </div>
    </section>
  </div>
</template>

<script>
import Navbar from "../../components/Navbar";
import ApiCustomer from '../../services/CustomerService'
import Swal from "sweetalert2";
export default {
  data() {
    return {
      id_user:null,
      old_password:null,
      new_password:null,
      confirm_new_password:null,
      error:null
    };
  },
  async created(){
      try{
        this.id_user = this.$route.params.id
        console.log(this.id_user)
      }catch(e){
          console.log(e)
      }
  },
  methods:{
      async changePasswd(){
          try{
              if(this.new_password!=this.confirm_new_password){
                  this.error = "รหัสผ่านใหม่ และ ยืนยันรหัสผ่านใหม่ ไม่ตรงกัน"
              }else if(this.new_password.length<8){
                  this.error = "รหัสผ่านใหม่ควรมีความยาวกว่า 8 ตัว"
             }else{
                 this.error=null
                  let data = {
                      id:this.id_user,
                      old_password:this.old_password,
                      new_password:this.new_password,
                  }
                  let ans = await ApiCustomer.changePassword(data)
                  if(ans.data.error) this.error = ans.data.error
                  Swal.fire("เปลี่ยนรหัสผ่านใหม่สำเร็จ", "", "success")
                  this.confirm_new_password = null
                 this.old_password = null
                 this.new_password = null
                 this.error=null
              }
          }catch(e){
              console.log(e.e)
          }
      }
  },
  components: {
    Navbar,
  },
};
</script>

<style scoped>
.text-header{
    background-color: rgba(255, 255, 255, 0.918);
    height:70px;
    padding-top: 15px;
}
form {
  background-color: rgba(255, 255, 255, 0.918);
  padding: 50px;
  border-radius: 20px;
}
.hero {
  width: 100%;
  height: 100vh;
  background: url("/img/hero.jpg") top center;
  background-size: cover;
  position: relative;
}
.hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.hero .container {
  position: relative;
  padding-top: 40px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(204, 48, 0);
  }
}
</style>