<template>
  <div>
    <Navbar />
    <section class="hero">
      <div class="container">
          <h2 class="text-header text-center mb-3">ข้อมูลส่วนตัว</h2>
        <form v-on:submit.prevent="editPersonal">
          <div class="row">
            <div class="form-group col-md-2">
              <label for="exampleInputEmail1">เพศ</label>
              <select class="custom-select" v-model="user.sex" required :disabled="isEdit">
                <option value="ชาย">ชาย</option>
                <option value="หญิง">หญิง</option>
              </select>
            </div>
            <div class="form-group col-md-5">
              <label for="exampleInputEmail1">ชื่อ</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                v-model="user.name"
                required
                :disabled="isEdit"
              />
            </div>
            <div class="form-group col-md-5">
              <label for="exampleInputEmail1">นามสกุล</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                v-model="user.lastname"
                required
                :disabled="isEdit"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="exampleInputEmail1">Email address</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                v-model="user.email"
                required
                :disabled="isEdit"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="exampleInputEmail1">เบอร์โทรศัพท์</label>
              <input
                type="number"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                v-model="user.tell"
                required
                :disabled="isEdit"
              />
            </div>

            <div class="form-group col-md-12">
              <label for="exampleFormControlTextarea1">ที่อยู่</label>
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
                v-model="user.address"
                required
                :disabled="isEdit"
              ></textarea>
            </div>
            <div class="form-group col-md-12">
              <label for="exampleInputEmail1">username</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                max="10"
                v-model="user.username"
                required
                :disabled="isEdit"
              />
            </div>

          </div>
          <button v-if="isEdit == false" type="submit" class="btn btn-success w-100 mt-2">บันทึก</button>
          <a v-if="isEdit == false"  class="btn btn-danger w-100 mt-2" @click="changeToEdit">ยกเลิกแก้ไข</a>
          <a v-if="isEdit == true"  class="btn btn-warning w-100 mt-2" @click="changeToEdit">แก้ไขข้อมูล</a>
        </form>
        
      </div>
    </section>
  </div>
</template>

<script>
import Navbar from "../../components/Navbar";
import ApiCustomer from '../../services/CustomerService'
import Swal from "sweetalert2";
export default {
  data() {
    return {
      user: {},
      isEdit:true
    };
  },
  async created(){
      try{
          let id_user = this.$route.params.id
          this.user = (await ApiCustomer.read(id_user)).data
          console.log(this.user)
      }catch(e){
          console.log(e)
      }
  },
  methods:{
      async changeToEdit(){
          this.isEdit = !this.isEdit
          if(this.isEdit==true){
              let id_user = this.$route.params.id
          this.user = (await ApiCustomer.read(id_user)).data
          }
      },

      async editPersonal(){
          try{
              let data = (await ApiCustomer.editPersonal(this.user)).data
              console.log(data)
              this.isEdit = !this.isEdit
              Swal.fire("แก้ไขข้อมูลสำเร็จ", "", "success")
          }catch(e){
              console.log(e)
          }
      }
  },
  components: {
    Navbar,
  },
};
</script>

<style scoped>
.text-header{
    background-color: rgba(255, 255, 255, 0.918);
    height:70px;
    padding-top: 15px;
}
form {
  background-color: rgba(255, 255, 255, 0.918);
  padding: 50px;
  border-radius: 20px;
}
.hero {
  width: 100%;
  height: 100vh;
  background: url("/img/hero.jpg") top center;
  background-size: cover;
  position: relative;
}
.hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.hero .container {
  position: relative;
  padding-top: 40px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(204, 48, 0);
  }
}
</style>