<template>
  <div>
    <Navbar />
    <div class="page">
    <div class="container" style="background-color:white;padding:25px;position: relative">
      <h2 class="text-center mt-3">
        <i class="fab fa-shopify"></i> การซื้อของฉัน
      </h2>
      <div class="list-group d-flex flex-row mt-4" id="list-tab" role="tablist">
        <a
          @click="showByStatus('ตรวจสอบ')"
          class="list-group-item list-group-item-action active"
          id="list-home-list"
          data-toggle="list"
          href="#list-home"
          role="tab"
          aria-controls="home"
          ><i class="fas fa-edit"></i> กำลังตรวจสอบ ({{order.filter(p=>p.status=="ตรวจสอบ").length}})</a
        >
        <a
         @click="showByStatus('เตรียมส่ง')"
          class="list-group-item list-group-item-action"
          id="list-profile-list"
          data-toggle="list"
          href="#list-profile"
          role="tab"
          aria-controls="profile"
          ><i class="fas fa-box-open"></i> เตรียมส่ง ({{order.filter(p=>p.status=="เตรียมส่ง").length}})</a
        >
        <a
         @click="showByStatus('กำลังส่ง')"
          class="list-group-item list-group-item-action"
          id="list-messages-list"
          data-toggle="list"
          href="#list-messages"
          role="tab"
          aria-controls="messages"
          ><i class="fas fa-truck"></i> กำลังส่ง ({{order.filter(p=>p.status=="กำลังส่ง").length}})</a
        >
        <a
          @click="showByStatus('สำเร็จ')"
          class="list-group-item list-group-item-action"
          id="list-settings-list"
          data-toggle="list"
          href="#list-settings"
          role="tab"
          aria-controls="settings"
          ><i class="fas fa-clipboard-check"></i> สำเร็จ ({{order.filter(p=>p.status=="สำเร็จ").length}})</a
        >
        <a
        @click="showByStatus('ยกเลิก')"
          class="list-group-item list-group-item-action"
          id="list-settings-list"
          data-toggle="list"
          href="#list-settings"
          role="tab"
          aria-controls="settings"
          ><i class="fas fa-times-circle"></i> ยกเลิก ({{order.filter(p=>p.status=="ยกเลิก").length}})</a
        >
      </div>

      <table class="table mt-5">
        <tbody>
          <tr v-for="(data,index) in show_order" :key="data.id">
            <th scope="row">{{index+1}}</th>
            <td>รหัสคำสั่งซื้อ {{data.id}}</td>
            <td>ซื้อเมื่อ {{data.date_sell}}</td>
            <td>การซื้อ {{data.type}}</td>
            <td>สถานะ {{data.status=="ตรวจสอบ"? "กำลัง"+data.status:data.status}}</td>
            <td>ยอดการซื้อ ฿<b>{{sumPrice(data.Sell_details,data.Promotion,data.cost_ship)}}</b></td>
            <td><router-link class="btn btn-success" :to="'/purchase/order/'+data.id">ดูรายละเอียด
            </router-link> <button v-if="data.status.includes('ตรวจสอบ')" @click="cancelOrder(data.id)" class="btn btn-danger">ยกเลิก
            </button></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</template>

<script>
import Navbar from "../../components/Navbar";
import ApiGetData from "../../services/OnlineShopService";
import { mapState } from "vuex";
export default {
    data(){
        return{ 
            order:[],
            show_order:[]
        }
    },
  components: {
    Navbar,
  },
  computed: {
    ...mapState(["user"]),
  },
  async created() {
    try {
      this.order = (await ApiGetData.getDataByCustomer(this.user.user.id)).data;
      this.show_order = this.order.filter(p=>p.status == "ตรวจสอบ")
      console.log(this.order)
    } catch (e) {
      console.log(e);
    }
  },
  methods: {
      sumPrice(data,promotion,cost_ship){
          try{
              if(promotion!=null){
                  return data.reduce((a,b) => a + b.price * b.qty, 0)+cost_ship - promotion.price;
              }else{
                  return data.reduce((a,b) => a + b.price * b.qty, 0)+cost_ship
              }             
          }catch(e){
              console.log(e)
          }
      },
      showByStatus(name){
          try{
              this.show_order=this.order.filter(p=>p.status==name)
          }catch(e){
              console.log(e)
          }
      },
      async cancelOrder(id){
        try{
          if(confirm("ต้องการยกเลิกการสั่งซื้อนี้")){
            console.log(id)
            let data = await ApiGetData.cancelOrder(id)
            console.log(data)
          }
        }catch(e){
          console.log(e)
        }
      }
  }
};
</script>

<style scoped>
.page{
   width: 100%;
  height: 100vh;
  background: url("/img/hero.jpg") top center;
  background-size: cover;
  position: relative;
}
.page::before{
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
</style>