<template>
  <div>
    <Navbar />
    <div class="page">
    <div class="container" style="background-color:white;padding:25px;position: relative">
      <h3 class="text-center mt-3 text-white" style="background-color: #D10046;padding:10px">รหัสคำสั่งซื้อที่ {{ order.detail.id }}</h3>
      <div class="row">
        <div
          class="col-md-12 mt-4"
          style="box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;">
          <div class="row">
            <div class="col-md" style="border-right: 1px solid gray">
              <p class="text-center mt-2">ผู้สั่งซื้อ</p>
              <p>
                ชื่อ: <b>{{ order.detail.Customer.name }}</b>
                <b>{{ order.detail.Customer.lastname }}</b> <br />
                email: <b>{{ order.detail.Customer.email }}</b> <br />
                เบอร์ติดต่อ: <b>{{ order.detail.Customer.tell }}</b>
              </p>
            </div>
            <div class="col-md" style="border-right: 1px solid gray">
              <p class="text-center mt-2">การชำระเงิน</p>
              <p>
                ชำระเงินวันที่: <b>{{ order.detail.Payment.date_payment }}</b>
                 <br />
                จำนวน: <b>฿{{ order.detail.Payment.price }}</b>  <br />
                สถานะการชำระ: <b>{{ order.detail.Payment.status }}</b> <br>
                สลีปโอนเงิน: <a :href="'http://localhost:8081/assets/uploads/'+order.detail.Payment.picture" target="_blank">ดู</a>
              </p>
            </div>
            <div class="col-md">
              <p class="text-center mt-2">การจัดส่ง</p>
              <p>
                จาก: <b>ร้านอามีย์ราห์ สาขา {{ order.detail.Store_branch.address }}</b> <br>
                ถึง: <b>{{ order.detail.Address_shipment.address }}</b> <br />
                สถานะการส่ง: <b>{{ order.detail.status }}</b>
              </p>
            </div>
          </div>
        </div>
      </div>
      <h5 class="text-center mt-3 text-white" style="background-color: #D10046;padding:5px">รายละเอียดสินค้า</h5>
      <table class="table">
        <tbody>
          <tr v-for="(product,index) in order.product" :key="product.id">
            <th scope="row">{{index+1}}</th>
            <td><img :src="'http://localhost:8081/assets/uploads/'+product.product_picture" alt="" width="100"></td>
            <td>{{product.product_name}}</td>
            <td>ราคาสินค้า <b>{{product.price}}</b> บาท</td>
            <td>จำนวน <b>{{product.qty}}</b> ชิ้น</td>
            <td>฿<b>{{product.qty * product.price}}</b></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td>รวมค่าสินค้า</td>
            <td>฿{{sumPrice}}</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td>ค่าจัดส่ง</td>
            <td>฿{{order.detail.cost_ship}}</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td>ส่วนลด</td>
            <td>฿{{order.detail.Promotion? order.detail.Promotion.price:0}}</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td>ยอดคำสั่งซื้อทั้งหมด</td>
            <td>฿{{sumPrice+order.detail.cost_ship - (order.detail.Promotion? order.detail.Promotion.price:0)}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</template>
<script>
import ApiIndex from "../../services/OnlineShopService";
import Navbar from "../../components/Navbar.vue";
export default {
  data() {
    return {
      order: null,
    };
  },
  components: {
    Navbar,
  },
  computed: {
      sumPrice() {
          return this.order.product.reduce((a, b) => a + b.price*b.qty, 0)
      }
  },
  async created() {
    try {
      let id_order = this.$route.params.id;
      this.order = (await ApiIndex.index(id_order)).data;
      console.log(this.order);
    } catch (e) {
      console.log(e);
    }
  },
};
</script>

<style scoped>
.page{
   width: 100%;
  height: 100%;
  background: url("/img/hero.jpg") top center;
  background-size: cover;
  position: relative;
}
.page::before{
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
</style>