<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
          <HeaderForm
            v-if="Object.keys(shop).length != 0"
            :title="`สินค้าเสีย สาขา (${shop.address})`"
            icon="fas fa-recycle"
          />
          <HeaderForm v-else title="สินค้าเสีย" icon="fas fa-recycle" />
        </div>

        <div class="my-4">
          <SelectShop
            v-if="isOwner"
            :shops="shops"
            v-on:selectShop="selectShop"
          />
            <ShowWeastProduct v-if="weast_products.length > 0" :weast_products="weast_products" :isOwner="isOwner" v-on:deleteWestProduct="deleteWestProduct"/>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import HeaderForm from "../../../components/backend/headerForm.vue";
import ApiWeastProduct from "../../../services/WeastProductService";
import ShowWeastProduct from '../../../components/backend/showWeastProduct.vue'
import SelectShop from "../../../components/backend/selectShop.vue";
import ApiShop from "../../../services/ShopService";
import { mapState } from "vuex";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      shop: {},
      weast_products: [],
      shops: [],
      isOwner: null,
    };
  },
  
  components: {
    HeaderForm,ShowWeastProduct,SelectShop
  },

  computed: {
    ...mapState(["user"]),
  },

  async created() {
    try {
      this.isOwner = this.user.user.isOwner
      if(this.isOwner){
        this.shops = (await ApiShop.views()).data
      }else{
        let id_shop = this.user.user.StoreBranchId
        this.shop = (await ApiShop.read(id_shop)).data;
        this.weast_products = (await ApiWeastProduct.views(id_shop)).data
        console.log(this.weast_products)
      }
    } catch (e) {
      console.log(e);
    }
  },

  methods: {
    async selectShop(id_shop) {
      try {
        this.shop = (await ApiShop.read(id_shop)).data;
        this.weast_products = (await ApiWeastProduct.views(id_shop)).data;
        if (this.weast_products.length == 0) alert("ไม่มีสินค้า");
        console.log(this.weast_products);
      } catch (e) {
        console.log(e);
      }
    },
    async deleteWestProduct(id){
      try{
        let ans = confirm("ต้องการลบข้อมูลนี้หรือไหม")
        if(ans){
          let data = await ApiWeastProduct.delete(id)
          this.weast_products = (await ApiWeastProduct.views(this.shop.id)).data;
          Swal.fire("ลบข้อมูลสำเร็จ", "", "success");
        }
      }catch (e){
        console.log(e)
      }
    }
  }
};
</script>