<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
          <HeaderForm title="ข้อมูลพนักงาน" icon="fas fa-user" />
          <router-link to="/admin/salary/employyee" class="btn btn-success"
            >ข้อมูลรับเงินค่าจ้าง</router-link
          >
        </div>
        <div class="my-4">
          <div>
            <p style="text-align: center">
              <img
                :src="`http://localhost:8081/assets/uploads/${user.user.profile}`"
                alt=""
                width="200"
              />
            </p>
            <div style="width: 60%; margin: 0 auto" class="row">
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">ชื่อ-สกุล</label>
                  <input
                    type="text"
                    class="form-control"
                    :value="user.user.name+' '+user.user.lastname"
                    disabled
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">เพศ</label>
                  <input
                    type="text"
                    class="form-control"
                    :value="user.user.sex"
                    disabled
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">ประจำสาขา</label>
                  <input
                    type="text"
                    class="form-control"
                    :value="user.user.Store_branch.address"
                    disabled
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">ตำแหน่ง</label>
                  <input
                    type="text"
                    class="form-control"
                    :value="user.user.position"
                    disabled
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">ค่าจ้าง/วัน (บาท)</label>
                  <input
                    type="text"
                    class="form-control"
                    :value="user.user.salary"
                    disabled
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">เบอร์ติดต่อ</label>
                  <input
                    type="text"
                    class="form-control"
                    :value="user.user.tell"
                    disabled
                  />
                </div>

              </div>
            </div>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import HeaderForm from "../../../components/backend/headerForm.vue";
import { mapState } from "vuex";
export default {
  components: {
    HeaderForm,
  },
  computed: {
    ...mapState(["user"]),
  },
};
</script>