<template>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
          <HeaderForm title="รายได้ งบ กำไร ขาดทุน" />
        </div>
        <div class="mt-4">
            <div class="row">
              <div class="form-group col-md-4" style="margin:0 auto">
                <label for="position"
                  ><i class="fas fa-map-marker-alt"></i> เลือกสาขา </label
                >
                <select
                  class="form-control"
                  id="position"
                  @change="getShopData($event)"
                >
                <option>
                  </option>
                <option value="all">
                    ทุกสาขา
                  </option>
                  <option v-for="shop in shops" :key="shop.id" :value="shop.id">
                    {{ shop.address }}
                  </option>
                </select>
              </div>
              <div class="form-group col-md-4" style="margin: 0 auto">
                <label for="position"
                  ><i class="fas fa-calendar-alt text-primary"></i> จากวันที่
                </label>
                <br />
                <input
                  v-model="start_date"
                  type="date"
                  id="birthday"
                  name="birthday"
                  style="width: 100%"
                />
              </div>
              <br />
              <div class="form-group col-md-4" style="margin: 0 auto">
                <label for="position"
                  ><i class="fas fa-calendar-alt text-primary"></i> ถึงวันที่
                </label>
                <br />
                <input
                  v-model="end_date"
                  type="date"
                  id="birthday"
                  name="birthday"
                  style="width: 100%"
                />
              </div>
          </div>
          <div class="mt-3" v-if="isShowChart">
              <IncomeChart :income_data="income_data" />
          </div>
          <div class="mt-4" v-if="isShowChart">
              <div class="row">
                  <div class="col-md-6">
                      <h4 class="text-center bg-success text-white">รายได้</h4>
                      <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>รายได้ขายสินค้า </td>
                                    <td>{{income_data.sales_income.income.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}} .-</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>รายได้ค่าส่ง Delivery </td>
                                    <td>{{income_data.sales_income.cost_ship.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}} .-</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><u><b>รายได้รวม</b></u> </td>
                                    <td>{{calIncome().toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}} .-</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                  </div>
                  <div class="col-md-6">
                      <h4 class="text-center  bg-danger text-white">รายจ่าย</h4>
                      <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>รายจ่ายสั่งซื้อสินค้าเข้าร้าน </td>
                                    <td>{{income_data.order_expenses.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}} .-</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>รายจ่ายค่าจ้างพนักงาน </td>
                                    <td>{{income_data.salary_expenses.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}} .-</td>
                                    <td></td>
                                </tr>
                                 <tr>
                                    <th scope="row">3</th>
                                    <td>รายจ่ายจัดโปรโมชั่นส่วนลด </td>
                                    <td>{{income_data.sales_income.promotion.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}} .-</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><u><b>รายจ่ายรวม</b></u> </td>
                                    <td>{{calExpenses().toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}} .-</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                  </div>
                  <div class="col-md-12">
                      <h4 class="text-center  bg-info text-white w-50" style="margin: 0 auto">กำไร / ขาดทุน</h4>
                      <table class="table w-50" style="margin: 0 auto">
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>รายได้ </td>
                                    <td>{{calIncome().toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}} .-</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>รายจ่าย </td>
                                    <td>{{calExpenses().toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}} .-</td>
                                    <td></td>
                                </tr>
                                 <tr>
                                    <th scope="row"></th>
                                    <td><u><b>กำไร / ขาดทุน</b></u> </td>
                                    <td :class="calIncome()-calExpenses() <0? 'text-danger':'text-success'">{{(calIncome()-calExpenses()).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}} .-</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                  </div>
              </div>
          </div>
        </div>
      </main>
    </div>
  </div>
    
</template>
<script>
import HeaderForm from "../../../components/backend/headerForm.vue";
import IncomeChart from '../../../components/financeChart/incomeChart.vue'
import ApiSalesData from '../../../services/FinanceService'
import ApiShop from "../../../services/ShopService";
import SelectShop from "../../../components/backend/selectShop.vue";
export default {
    data(){
        return{
            shops:[],
            id_shop:null,
            start_date:null,
            end_date:null,
            income_data:{},
            isShowChart:false
        }
    },
    components:{
        SelectShop,HeaderForm,IncomeChart
    },
    watch: {
    id_shop: function () {
      if (this.start_date && this.end_date && this.id_shop) {
        this.getData();
      }
    },
    start_date: function () {
      if (this.start_date && this.end_date && this.id_shop) {
        this.getData();
      }
    },
    end_date: function () {
      if (this.start_date && this.end_date && this.id_shop) {
        this.getData();
      }
    },
  },
  async created() {
    try {
        this.shops = (await ApiShop.views()).data;
    } catch (e) {
      console.log(e);
    }
  },
   methods: {
     async getShopData(event) {
      try {
        this.id_shop=event.target.value
      } catch (e) {
        console.log(e);
      }
    },
      async  getData(){
           try{
               this.isShowChart=false
               let date = {
                   id:this.id_shop,
                   start_date:this.start_date,
                   end_date:this.end_date,
               }
               this.income_data = (await ApiSalesData.getIncomeData(date)).data
               console.log(this.income_data)
               this.isShowChart = true
           }catch(e){
               console.log(e)
           }
       },
    calIncome(){
        try{
            return (this.income_data.sales_income.income+this.income_data.sales_income.cost_ship)
        }catch(e){
            console.log(e)
        }
    },
    calExpenses(){
        try{
            return (this.income_data.order_expenses+this.income_data.salary_expenses+this.income_data.sales_income.promotion)
        }catch(e){
            console.log(e)
        }
    }
   }
}
</script>

<style scoped>
.table{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
</style>