<template>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
          <HeaderForm title="ยอดขายแต่ละประเภท และ ยี่ห้อสินค้า" />
        </div>
        <div class="my-4">
            <div class="row">
              <div class="form-group col-md-4" style="margin:0 auto">
                <label for="position"
                  ><i class="fas fa-map-marker-alt"></i> เลือกสาขา </label
                >
                <select
                  class="form-control"
                  id="position"
                  @change="getShopData($event)"
                >
                <option>
                  </option>
                <option value="all">
                    ทุกสาขา
                  </option>
                  <option v-for="shop in shops" :key="shop.id" :value="shop.id">
                    {{ shop.address }}
                  </option>
                </select>
              </div>
              <div class="form-group col-md-4" style="margin: 0 auto">
                <label for="position"
                  ><i class="fas fa-calendar-alt text-primary"></i> จากวันที่
                </label>
                <br />
                <input
                  v-model="start_date"
                  type="date"
                  id="birthday"
                  name="birthday"
                  style="width: 100%"
                />
              </div>
              <br />
              <div class="form-group col-md-4" style="margin: 0 auto">
                <label for="position"
                  ><i class="fas fa-calendar-alt text-primary"></i> ถึงวันที่
                </label>
                <br />
                <input
                  v-model="end_date"
                  type="date"
                  id="birthday"
                  name="birthday"
                  style="width: 100%"
                />
              </div>
          </div>
            <div class="row mt-3" v-if="isShowChartSales">
                <h3 class="col-md-12 text-center">ยอดขายสินค้าแต่ละประเภท</h3>
                <div class="col-md-6 mt-3" >
                    <SalesChart  :sales_data="sales_data.sales_type"/>
                </div>
                <div  class="p-3 col-md-6 mt-3"  >
                    <table class="table w-100 mt-5" style="margin:0 auto">
                    <tbody>
                        <tr v-for="(data,index) in sales_data.sales_type" :key="index">
                            <th scope="row">ยอดขาย {{data.type}}</th>
                            <td><b>ขายได้ {{data.qty.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}} ชิ้น </b></td>
                            <td><b>รายได้ {{data.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}} บาท</b></td>
                            <td><b>{{findPerType(data.qty)}}%</b></td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
            <div class="row mt-3" v-if="isShowChartSales">
                <h3 class="col-md-12 text-center">รายได้ยอดขายต่อวัน</h3>
                <div class="col-md-12 mt-3" >
                    <DateChart v-if="isShowChartSales" :sales_data="sales_data.sales_date"/>
                </div>
            </div>
            <div class="row mt-3" v-if="isShowChartSales">
                <h3 class="col-md-12 text-center">ยอดขายสินค้าแต่ละยี่ห้อ</h3>
                <div class="col-md-12 mt-3" >
                    <BrandChart v-if="isShowChartSales" :sales_data="sales_data.sales_name"/>
                </div>
                <div  class="p-3 col-md-12 mt-3"  >
                    <table class="table mt-5" style="margin:0 auto;width:70%">
                    <tbody>
                        <tr v-for="(data,index) in sort_sales_data_sales_name()" :key="data.id">
                            <th scope="row">{{index+1}}. <img :src="'http://localhost:8081/assets/uploads/'+data.picture" alt="" width="60"></th>
                            <td>ยี่ห้อ {{data.name}}</td>
                            <td><b>ขายได้ {{data.qty.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}} ชิ้น </b></td>
                            <td><b>{{findPerName(data.qty)}}%</b></td>
                            <td><b>รายได้ {{data.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}} บาท</b></td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
            
        </div>
      </main>
    </div>
  </div>
    
</template>
<script>
import SalesChart from '../../../components/financeChart/salesChart.vue'
import BrandChart from '../../../components/financeChart/brandChart.vue'
import DateChart from '../../../components/financeChart/dateChart.vue'
import HeaderForm from "../../../components/backend/headerForm.vue";
import ApiSalesData from '../../../services/FinanceService'
import ApiShop from "../../../services/ShopService";
import SelectShop from "../../../components/backend/selectShop.vue";
export default {
    data(){
        return{
            shops:[],
            id_shop:null,
            start_date:null,
            end_date:null,
            sales_data:{},
            isShowChartSales:false
        }
    },
    components:{
        SalesChart,SelectShop,HeaderForm,BrandChart,DateChart
    },
    watch: {
    id_shop: function () {
      if (this.start_date && this.end_date && this.id_shop) {
        this.getData();
      }
    },
    start_date: function () {
      if (this.start_date && this.end_date && this.id_shop) {
        this.getData();
      }
    },
    end_date: function () {
      if (this.start_date && this.end_date && this.id_shop) {
        this.getData();
      }
    },
  },
  async created() {
    try {
        this.shops = (await ApiShop.views()).data;
    } catch (e) {
      console.log(e);
    }
  },
   methods: {
     async getShopData(event) {
      try {
        this.id_shop=event.target.value
      } catch (e) {
        console.log(e);
      }
    },
      async  getData(){
           try{
               this.isShowChartSales=false
               let date = {
                   id:this.id_shop,
                   start_date:this.start_date,
                   end_date:this.end_date,
               }
               this.sales_data = (await ApiSalesData.getSalesData(date)).data
               console.log(this.sales_data)
               this.isShowChartSales=true
           }catch(e){
               console.log(e)
           }
       },
       findPerType(value){
          return ((100*value) / this.sales_data.sales_type.reduce((a,b) => a + b.qty,0)).toFixed(2)
      },
      findPerName(value){
        return ((100*value) / this.sales_data.sales_name.reduce((a,b) => a + b.qty,0)).toFixed(2)
      },
      sort_sales_data_sales_name(){
        try{
          let data = this.sales_data.sales_name.sort((a,b)=>b.qty-a.qty)
          return data
        }catch(e){
          console.log()
        }
      }
   }
}
</script>