<template>
<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
        </div>
        <div class="my-4">
           <div class="box" @click="navigateTo('/admin/finance/sales')">
                  <h3 class="text-center p-4"> <i class="fas fa-cube"></i> ยอดขายสินค้า</h3>
           </div>
           <div class="box mt-3" @click="navigateTo('/admin/finance/income')">
                  <h3 class="text-center p-4"> <i class="fas fa-file-invoice-dollar"></i> งบ กำไร ขาดทุน</h3>
           </div>
        </div>
      </main>
    </div>
  </div>
  </div>
</template>
<script>
import ShowSales from './Sales.vue'
export default {
  components:{
    ShowSales
  },
  methods: {
    navigateTo(name){
      this.$router.push(name)
    }
  }
}
</script>
<style scoped>
.box{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 40%;
  margin: 0 auto;
}
.box :hover{
  cursor: pointer;
  background-color: rgba(112, 0, 0, 0.801);
  color: white
}
</style>