<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
          <HeaderForm
            title="เพิ่มข้อมูลสินค้า"
            icon="fas fa-box"
          />
        </div>
        <ProfileUpload
          :progress="progress"
          :showProfile="showProfile"
          :picture="product.picture"
          v-on:deletePicture="deletePictureProduct"
        />
        <div class="my-4" style="">
          <Form
            :product="product"
            :suppliers="suppliers"
            :typeProducts="typeProducts"
            v-on:actionForm="create"
            :showProfile="showProfile"
            :progress="progress"
            v-on:uploadProfile="uploadProfile"
          />
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import ApiProduct from "../../../services/ProductService";
import ApiTypeProduct from "../../../services/TypeProduct";
import Form from "../../../components/backend/formProduct.vue";
import ProfileUpload from "../../../components/backend/profuleUpload.vue";
import HeaderForm from "../../../components/backend/headerForm.vue";
import ApiSupplier from "../../../services/SupplierService";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      product: {},
      suppliers: null,
      showProfile: false,
      typeProducts: {},
      progress: 0,
    };
  },
  components: {
    Form,
    ProfileUpload,
    HeaderForm,
  },
  async created() {
    try {
      this.typeProducts = (await ApiTypeProduct.show()).data;
      this.suppliers = (await ApiSupplier.views()).data;
    } catch (err) {
      console.log(err);
    }
  },
  methods: {
    async create(dataProduct) {
      try {
        let product = await ApiProduct.create(dataProduct);
        Swal.fire("เพิ่มข้อมูลสินค้าสำเร็จ", "", "success").then(() =>
          this.$router.push("/admin/products")
        );
      } catch {
        console.log("create employee errror");
      }
    },
    async uploadProfile(event) {
      try {
        this.progress += 10;
        let data = new FormData();
        this.product.picture = event.target.files[0].name;
        data.append("picture", event.target.files[0]);
        this.progress += 30;
        let picture = await ApiProduct.upload(data);
        this.progress += 40;
        setTimeout(() => {
          this.showProfile = true;
          this.progress += 20;
          this.progress = 0;
        }, 2000);
      } catch (err) {
        console.log(err);
      }
    },
    async deletePictureProduct(pictureProduct) {
      try {
        let picture = {
          picture: pictureProduct,
        };
        this.product.picture = null
        let data = await ApiProduct.deletePicture(picture);
        this.showProfile = !this.showProfile;
        Swal.fire("ลบรูปโปรไฟล์สำเร็จ", "", "success");
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
