<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
          <HeaderForm
            title="แก้ไขข้อมูลสินค้า"
            icon="fas fa-box"
          />
        </div>
        <ProfileUpload
          :progress="progress"
          :showProfile="showProfile"
          :picture="product.picture"
          v-on:deletePicture="deletePictureProduct"
        />
        <div class="my-4" style="">
          <Form
            :product="product"
            :suppliers="suppliers"
            :typeProducts="typeProducts"
            v-on:actionForm="editProduct"
            :showProfile="showProfile"
            :progress="progress"
            v-on:uploadProfile="uploadProfile"
          />
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import ApiProduct from "../../../services/ProductService";
import ApiTypeProduct from "../../../services/TypeProduct";
import Form from "../../../components/backend/formProduct.vue";
import ProfileUpload from "../../../components/backend/profuleUpload.vue";
import HeaderForm from "../../../components/backend/headerForm.vue";
import ApiSupplier from "../../../services/SupplierService";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      url: "http://localhost:8081/assets/uploads/",
      product: {},
      showProfile: false,
      typeProducts: {},
      progress: 0,
      suppliers:null,
    };
  },
  components:{
    Form,ProfileUpload,HeaderForm
  },
  async created() {
    try {
      this.typeProducts = (await ApiTypeProduct.show()).data;
      this.product = (await ApiProduct.read(this.$route.params.id)).data
      this.suppliers = (await ApiSupplier.views()).data;
      console.log(this.suppliers)
      if(this.product.picture!='' && this.product.picture!=null)this.showProfile = !this.showProfile;
    } catch (err) {
      console.log(err);
    }
  },
  methods: {
    async editProduct() {
      try {
        console.log(this.product)
        let product = await ApiProduct.edit(this.product);
        console.log(product)
        Swal.fire("เพิ่มข้อมูลสินค้าสำเร็จ", "", "success").then(() =>
          this.$router.push("/admin/products")
        );
      } catch {
        console.log("create employee errror");
      }
    },
    async uploadProfile(event) {
      try {
        this.progress += 10;
        let data = new FormData();
        this.product.picture = event.target.files[0].name;
        data.append("picture", event.target.files[0]);
        this.progress += 30;
        let picture = await ApiProduct.upload(data);
        this.progress += 40;
        setTimeout(() =>{
          this.showProfile = true;
          this.progress += 20;
          this.progress = 0;
        },2000)
      } catch (err) {
        console.log(err);
      }
    },
    async deletePictureProduct() {
      try {
        let picture = {
          picture: this.product.picture,
        };
        this.product.picture = null
        let data = await ApiProduct.deletePicture(picture);
        this.showProfile = !this.showProfile;
        Swal.fire("ลบรูปโปรไฟล์สำเร็จ", "", "success");
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
