<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
        <HeaderForm title="ข้อมูลสินค้า" icon="fas fa-box"/>
        <ButtonNavigate title="เพิ่มข้อมูลสินค้า" color="btn-success" link="/admin/product/create" />
        </div>
        <div class="my-4">
          <div class="row">
             <h4 class="col-md-2" style="text-align: center">
              <i class="fas fa-search"></i> ค้นหาโดย <br />
            </h4>
            <input type="text" class="form-control col-md-3"  placeholder="ค้นหาชื่อสินค้า" @change="searchProductByName($event)">
            <div class="input-group col-md-3">
              <select class="custom-select" id="inputGroupSelect02" @change="searchProductByTypeProduct($event)">
                <option selected value="false">ทุกประเภท</option>
                <option v-for="t in type_product" :key="t.id" :value="t.id">{{t.name}}</option>
              </select>
            </div>
            <div class="input-group col-md-3">
              <select class="custom-select" id="inputGroupSelect02" @change="searchProductBySupplier($event)">
                <option selected value="false">ทุกบริษัท</option>
                <option v-for="s in suppliers" :key="s.id" :value="s.id">{{s.name}}</option>
              </select>
            </div>
          </div>
           
          </div>
        <div class="my-4" v-if="products_show != [] && products_show != ''">
            <h5 style="text-align: center">
              จำนวนรายการทั้งหมด {{ products_show.length }} รายการ <br />
            </h5>
          </div>
        <div class="my-4">
          <table class="table table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">ประเภท</th>
                <th scope="col">รูปภาพ</th>
                <th scope="col">ชื่อสินค้า</th>
                <th scope="col">รายละเอียด</th>
                <th scope="col">ราคาต้นทุน</th>
                <th scope="col">ราคาขาย</th>
                <th scope="col" width="10%">จัดการ</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="data in products_show" :key="data.id">
                <th scope="row">{{ data.id }}</th>
                <td>{{ data.Type_product.name }}</td>
                <td><img :src="baseUrl+data.picture" alt="" width="80"></td>
                <td>{{ data.name }}</td>
                <td>{{ data.description }}</td>
                <td>฿{{ data.cost }}</td>
                <td>฿{{ data.price }}</td>

                <td><p>
                  <ButtonNavigate title="" color="btn-warning" :link="'/admin/product/edit/'+data.id" ><i class="fas fa-pen text-white"></i>
                  </ButtonNavigate><button type="button" class="btn btn-danger" @click="deleteProduct(data.id)"><i class="fas fa-trash-alt"></i></button></p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import ApiProduct from "../../../services/ProductService";
import ApiTypeProduct from "../../../services/TypeProduct"
import ApiSupplier from '../../../services/SupplierService'
import HeaderForm from "../../../components/backend/headerForm.vue";
import ButtonNavigate from '../../../components/backend/buttonNavigate.vue'
export default {
  data() {
    return {
      baseUrl: "http://localhost:8081/assets/uploads/",
      products: [],
      type_product:[],
      suppliers:[],
      products_show:[]
    };
  },
  components:{
    HeaderForm,ButtonNavigate
  },
  async created() {
    try{
      this.products = (await ApiProduct.views()).data;
      this.products_show= this.products
      this.type_product = (await ApiTypeProduct.show()).data;
      this.suppliers  = (await ApiSupplier.views()).data;
      console.log(this.suppliers)
    }catch(err){
      console.log(err);
    }
    
  },
  methods:{
      searchProductByName(event){
        try{
          if(event.target.value!==""){
            this.products_show= this.products.filter(product=>product.name.includes(event.target.value))
          }else{
            this.products_show= this.products
          }
          
        }catch(e){
          console.log(e)
        }
      },
      searchProductByTypeProduct(event){
        try{
          if(event.target.value=="false"){
            this.products_show= this.products
          }else{
            this.products_show= this.products.filter(product=>product.TypeProductId == parseInt(event.target.value))
          }
          
          
        }catch(e){
          console.log(e)
        }
      },
      searchProductBySupplier(event){
        try{
          if(event.target.value=="false"){
            this.products_show= this.products
          }else{
            this.products_show= this.products.filter(product=>product.SupplierId == parseInt(event.target.value))
          }
          
          
        }catch(e){
          console.log(e)
        }
      },
      async deleteProduct(dataId){
          let ask = confirm("ต้องการลบข้อมูลนี้ไหม")
          if(ask){
              let data = await ApiProduct.delete(dataId);
              this.products = (await ApiProduct.views()).data;
          }
          
      }
  }
};
</script>