<template>
    <div>
    <div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" @click="closePayment">&times;</span>
    <h5 class="text-center mt-3 text-white" style="background-color: #D10046;padding:5px">รายละเอียดการชำระ</h5>
    <h5 class="text-center mt-2">ชำระเมื่อ: <b>{{payment.date_payment}}</b></h5>
    <h5 class="text-center mt-1">จำนวนเงิน: <b>฿{{payment.price}}</b></h5>
    <h5 class="text-center mt-1">สถานะ: <b>{{payment.status}}</b></h5>
    <p class="text-center mt-1"><img :src="'http://localhost:8081/assets/uploads/'+payment.picture" alt="" width="350"></p>
  </div>
</div>
</div>
</template>
<script>
export default {
    props:['payment'],
    methods:{
        closePayment(){
            this.$emit("closePayment")
        }
    }
}
</script>
<style scoped>
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>