<template>
    <div>
    <div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" @click="closeDetail">&times;</span>
    <h5 class="text-center mt-3 text-white" style="background-color: #D10046;padding:5px">รายละเอียดสินค้า</h5>
      <table class="table">
        <tbody>
          <tr v-for="(product,index) in order.product" :key="product.id">
            <th scope="row">{{index+1}}</th>
            <td>รหัสสต็อก <b>{{product.StockProductId}}</b></td>
            <td><img :src="'http://localhost:8081/assets/uploads/'+product.product_picture" alt="" width="100"></td>
            <td>{{product.product_name}}</td>
            <td>ราคาสินค้า <b>{{product.price}}</b> บาท</td>
            <td>จำนวน <b>{{product.qty}}</b> ชิ้น</td>
            <td>฿<b>{{product.qty * product.price}}</b></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td>รวมค่าสินค้า</td>
            <td>฿{{sumPrice}}</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td>ค่าจัดส่ง</td>
            <td>฿{{order.data.cost_ship}}</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td>ส่วนลด</td>
            <td>฿{{order.data.Promotion? order.data.Promotion.price:0}}</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td>ยอดคำสั่งซื้อทั้งหมด</td>
            <td>฿{{sumPrice+order.data.cost_ship - (order.data.Promotion? order.data.Promotion.price:0)}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
</div>
</template>
<script>
export default {
    props:['order'],
    computed: {
        sumPrice() {
          return this.order.product.reduce((a, b) => a + b.price*b.qty, 0)
      }
    },
    methods:{
        closeDetail(){
            this.$emit("closeDetail")
        }
    }
}
</script>
<style scoped>
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>