<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
          <HeaderForm
            :title="`ข้อมูลออร์เดอร์การสั่งซื้อลูกค้า`"
            icon="fas fa-shopping-bag"
          />
         
        </div>
        <div class="mt-4">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">รหัสคำสั่งซื้อ</th>
                    <th scope="col">วันที่สั่ง</th>
                    <th scope="col">ผู้สั่งซื้อ</th>
                    <th scope="col">สถานะ</th>
                    <th scope="col">ราคารวม</th>
                    <th scope="col">รายละเอียดสินค้า</th>
                    <th scope="col">รายละเอียดชำระเงิน</th>
                    <th scope="col">ที่อยู่จัดส่ง</th>
                    <th scope="col">จัดการออเดอร์</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(data,index) in order" :key="data.id">
                        <th scope="row">{{index+1}}</th>
                        <td>{{data.data.id}}</td>
                        <td>{{data.data.date_sell}}</td>
                        <td>{{data.data.Customer.name}} {{data.data.Customer.lastname}}</td>
                        <td>{{data.data.status}}</td>
                        <td>฿{{sumPrice(data)}}</td>
                        <td><button  class="btn btn-info" @click="showDetail(data)"><i class="fas fa-eye"></i></button></td>
                        <td><button  class="btn btn-info" @click="showPayment(data)"><i class="fas fa-eye"></i></button></td>
                        <td><button  class="btn btn-info" @click="showMap(data.data)"><i class="fas fa-eye"></i></button></td>
                        <td><button class="btn btn-success" @click="updataStatusSuccess(data.data.id)"><i class="fas fa-check-circle"></i></button> <button v-if="user.user.position.includes('ขาย')" class="btn btn-danger" @click="updataStatusFail(data.data.id)"><i class="fas fa-times-circle"></i></button></td>
                    </tr>
                    
                </tbody>
                </table>
        </div>
      </main>
       <ProductModal v-if="isShow" :order="show_data" v-on:closeDetail="closeDetail"/>
       <PaymentModal v-if="isShowPay" :payment="show_data_pay" v-on:closePayment="closePayment"/>
       <Map v-if="show_map" :shop="data_map.shop" :user="data_map.user" v-on:closeMap="closeMap"/>
    </div>
   
  </div>
  
</template>
<script>
import HeaderForm from "../../../components/backend/headerForm.vue";
import ApiOrderCustomer from '../../../services/OrderCustomerService'
import ProductModal from './Product.vue'
import PaymentModal from './Payment.vue'
import Map from './MapFinAddress.vue'
import { mapState } from "vuex";
export default {
    data(){
        return{ 
            order:[],
            isShow:false,
            show_data:null,
            isShowPay:false,
            show_data_pay:null,
            show_map:false,
            data_map:null
        }
    },
  components: {
    HeaderForm,ProductModal,PaymentModal,Map
  },
  computed: {
      ...mapState(['user'])
  },
  async created(){
      try{ 
          this.getOrder()
      }catch(e){
          console.log(e)
      }
  },
  methods:{
      async getOrder(){
          try{
              let id_shop = this.user.user.StoreBranchId
                let position = this.user.user.position
                let text = ""
                if(position.includes("ขาย")) text = "check"
                else if(position.includes("สต็อก")) text = "prepare"
                else if(position.includes("ส่ง")) text = "delivery"
                let data = {
                    status:text,
                    id:id_shop
                }
                this.order = (await ApiOrderCustomer.getData(data)).data
                console.log(this.order)
          }catch(e){
              console.log(e)
          }
      },
      async updataStatusSuccess(id_order){
          try{
              if(confirm("ยืนยันการตรวจสอบถูกต้อง")){
                  let text=""
                    if(this.user.user.position.includes("ขาย")) text="เตรียมส่ง"
                    else if(this.user.user.position.includes("สต็อก")) text="กำลังส่ง"
                    else if(this.user.user.position.includes("ส่ง")) text="สำเร็จ"

                    let data = {
                        status:text,
                        id:id_order
                    }
                    let ans = await ApiOrderCustomer.updateStatus(data)
                    this.getOrder()
              }
              
          }catch(e){
              console.log(e)
          }
      },
      async updataStatusFail(id_order){
          try{
              if(confirm("ยืนยันการตรวจสอบไม่ถูกต้อง")){
                    let text="ยกเลิก"
                    let data = {
                        status:text,
                        id:id_order
                    }
                    let ans = await ApiOrderCustomer.updateStatus(data)
                    this.getOrder()
              }
          }catch(e){
              console.log(e)
          }
      },
      sumPrice(data){
          try{
              let price = data.product.reduce((a, b) => a+b.qty*b.price,0)
              price += data.data.cost_ship
              if(data.data.Promotion){
                  price-=data.data.Promotion.price
              }
              
              return price
          }catch(e){
              console.log(e)
          }
      },
      showDetail(data){
          try{
              this.isShow = true
              this.show_data = data
          }catch(e){
              console.log(e)
          }
      },
      closeDetail(){
          try{
              this.isShow = false
              this.show_data = null
          }catch(e){
              console.log(e)
          }
      },
      showPayment(data){
          try{
              this.isShowPay = true
              this.show_data_pay = data.data.Payment
          }catch(e){
              console.log(e)
          }
      },
      closePayment(){
          try{
              this.isShowPay = false
              this.show_data_pay = null
          }catch(e){
              console.log(e)
          }
      },
      showMap(data){
          try{
              this.show_map = true
              this.data_map = {
                  shop:data.Store_branch,
                  user:data.Address_shipment
              }
          }catch(e){
              console.log(e)
          }
      },
      closeMap(data){
          try{
              this.show_map = false
              this.data_map = null
          }catch(e){
              console.log(e)
          }
      },
  }
  
};
</script>