<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
          <HeaderForm
            :title="`สั่งซื้อสินค้า สาขาที่ ${shop.no} (${shop.address})`"
            icon="fas fa-truck-loading"
          />
        </div>
        <div class="my-4">
<div class="row" v-if="user.user.isOwner">

          <div  class="col-md-12 mb-3">
            <h3 style="text-align: center">เลือกร้าน</h3>
            <div style="width: 80%; margin: 0 auto">
              <select class="custom-select" @change="selectShop($event)">
                <option value=""></option>
                <option
                  v-for="shop in shops"
                  :key="shop.id"
                  :value="shop.id"
                >
                  {{ shop.address }}
                </option>
              </select>
            </div>
          </div>
</div>
          <FormOrder
            :supplier="supplier"
            :shop="shop"
            :employee="employee"
            :items="items"
            :products="products"
            v-on:addItem="addItem"
            v-on:selectProduct="selectProduct"
            v-on:removeItem="removeItem"
            v-on:create="create"
          />
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import HeaderForm from "../../../components/backend/headerForm.vue";
import FormOrder from "../../../components/backend/formOrderProduct.vue";
import ApiShop from "../../../services/ShopService";
import ApiProduct from "../../../services/ProductService";
import ApiOrderProduct from "../../../services/OrderProductService";
import ApiSupplier from "../../../services/SupplierService";
import Swal from "sweetalert2";
import { mapState } from "vuex";
export default {
  data() {
    return {
      suppliers: [],
      shops:[],
      shop: {},
      supplier:null,
      employee: null,
      items: [],
      products: [],
    };
  },
  components: {
    HeaderForm,
    FormOrder,
  },
  computed: {
    ...mapState(["user"]),
  },
  async created() {
    try {
       this.employee = this.user.user;
      if (this.user.user.isOwner) {
        this.suppliers = (await ApiSupplier.views()).data;
        this.shops = (await ApiShop.views()).data
        console.log(this.shops)
      }else{
        this.shop = (await ApiShop.read(this.employee.StoreBranchId)).data;
      }
      this.products = (await ApiProduct.views()).data;
    } catch (err) {
      console.log(err);
    }
  },

  methods: {
    async create(date) {
      try {
        let data = {
          data: {
            date_order: date,
            StoreBranchId: this.shop.id,
          },
          products: this.items,
        };
        if(this.user.user.isOwner){
          data.data.status = "อนุมัติ"
          data.data.OwnerId = this.employee.id
        }else{
          data.data.status = "กำลังตรวจสอบ"
          data.data.EmployeeId = this.employee.id
        } 
        let ans = await ApiOrderProduct.create(data);
        Swal.fire("เพิ่มข้อมูลสั่งซื้อสำเร็จ", "", "success").then(() =>
          this.$router.push("/admin/order_products")
        );
      } catch (err) {
        console.log(err);
      }
    },
    addItem() {
      if (this.products.length == 0) {
        alert("ไม่มีสินค้าให้เลือกแล้ว");
      } else {
        this.items.push({
          ProductId: null,
          Product: null,
          qty: 0,
          price: 0,
          SupplierId:null
        });
      }
    },
    selectProduct(index) {
      let product = this.products.find(
        (p) => p.name == this.items[index].Product
      );
      this.items[index].ProductId = product.id;
      this.items[index].price = product.cost;
      this.items[index].SupplierId = product.SupplierId;
    },
    removeItem(index) {
      try {
        this.items.splice(index, 1);
      } catch (e) {
        console.log(e);
      }
    },
    selectShop(event){
      try{ 
        /* console.log(event.target.value) */
        this.shop = this.shops.find(e=>e.id==event.target.value)
        console.log(this.shop)
      }catch(e){
        console.loog(e)
      }
    },
    selectSupplier(event){
      try{ 
        /* console.log(event.target.value) */
        this.supplier = this.suppliers.find(e=>e.id==event.target.value)
        console.log(this.supplier)
      }catch(e){
        console.loog(e)
      }
    }
  },
};
</script>