<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
          <HeaderForm
            :title="`แก้ไขข้อมูลสั่งซื้อสินค้า )`"
            icon="fas fa-truck-loading"
          />
        </div>
        <div class="my-4">
          <FormOrder
            :order="order"
            :shop="shop"
            :employee="employee"
            :items="items"
            :products="products"
            v-on:addItem="addItem"
            v-on:selectProduct="selectProduct"
            v-on:removeItem="removeItem"
            v-on:edit="edit"
          />
        </div>
      </main>
    </div>
  </div>
</template>
<script>
import HeaderForm from "../../../components/backend/headerForm.vue";
import FormOrder from "../../../components/backend/formEditOrder.vue";
import ApiShop from "../../../services/ShopService";
import ApiProduct from "../../../services/ProductService";
import ApiOrderProduct from "../../../services/OrderProductService";
import { mapState } from "vuex";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      order: {},
      employee: {},
      shop: {},
      products: [],
      items: []
    };
  },
  components: {
    HeaderForm,
    FormOrder,
  },
  computed: {
    ...mapState(["user"]),
  },
  async created() {
    try {
      let id_order = this.$route.params.id;
      this.order = (await ApiOrderProduct.read(id_order)).data;
      this.products = (await ApiProduct.views()).data;
      this.items = this.order.products;
      this.employee = this.order.Employee;
      this.shop = this.order.Store_branch;
    } catch (err) {
      console.log(err);
    }
  },
  methods: {
    async edit(date) {
        try{
            let data = {
                id: this.$route.params.id,
                date_order:date,
                products:this.items
            }
            let ans = await ApiOrderProduct.edit(data)
            Swal.fire("แก้ไขข้อมูลสั่งซื้อสำเร็จ", "", "success").then(() =>
          this.$router.push("/admin/order_products")
        );
        }catch(err){
            console.log(err);
        }
    },
    addItem() {
      try {
        this.items.push({
          ProductId: null,
          Product: {
            name: null,
          },
          qty: 0,
          price: 0,
        });
      } catch (err) {
        console.log(err);
      }
    },
    selectProduct(index) {
      try {
        let product = this.products.find(
          (p) => p.name == this.items[index].Product.name
        );
        this.items[index].ProductId = product.id;
        this.items[index].price = product.price;
      } catch (err) {
        console.log(err);
      }
    },
    removeItem(index) {
      try {
        this.items.splice(index, 1);
      } catch (e) {
        console.log(e);
      }
    },
  },
};
</script>