<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
          <HeaderForm
            :title="`รหัสคำสั่งซื้อ ${order_product.id}`"
            icon="fas fa-truck-loading"
          />
          <a v-if="order_product.status == 'อนุมัติ'" class="btn btn-success" @click="genPDF">ดาวน์โหลดรายงาน</a>
        </div>
        <div class="my-4">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
            <div class="my-3 p-3 bg-white rounded shadow-sm col-md">
              <h5 class="border-bottom border-gray pb-2 mb-0">ผู้สั่งซื้อ</h5>
              <div class="media text-muted pt-3">
                <p
                  class="
                    media-body
                    pb-3
                    mb-0
                    medium
                    lh-125
                    border-bottom border-gray
                  "
                >
                  ชื่อ: {{ employee.name }} {{ employee.lastname }}
                </p>
              </div>
              <div class="media text-muted pt-3">
                <p
                  class="
                    media-body
                    pb-3
                    mb-0
                    medium
                    lh-125
                    border-bottom border-gray
                  "
                >
                  ตำแหน่ง: {{ employee.position }}
                </p>
              </div>
            </div>
            <div class="my-3 p-3 bg-white rounded shadow-sm col-md">
              <h5 class="border-bottom border-gray pb-2 mb-0">สาขา</h5>
              <div class="media text-muted pt-3">
                <p
                  class="
                    media-body
                    pb-3
                    mb-0
                    medium
                    lh-125
                    border-bottom border-gray
                  "
                >
                  สาขาที่: {{ shop.no }}
                </p>
              </div>
              <div class="media text-muted pt-3">
                <p
                  class="
                    media-body
                    pb-3
                    mb-0
                    medium
                    lh-125
                    border-bottom border-gray
                  "
                >
                  ที่อยู่: {{ shop.address }}
                </p>
              </div>
            </div>

            <div v-if="supplier" class="my-3 p-3 bg-white rounded shadow-sm col-md">
              <h5 class="border-bottom border-gray pb-2 mb-0">ซัพพลายเออร์</h5>
              <div class="media text-muted pt-3">
                <p
                  class="
                    media-body
                    pb-3
                    mb-0
                    medium
                    lh-125
                    border-bottom border-gray
                  "
                >
                  ชื่อบริษัท: {{ supplier.name }}
                </p>
              </div>
              <div class="media text-muted pt-3">
                <p
                  class="
                    media-body
                    pb-3
                    mb-0
                    medium
                    lh-125
                    border-bottom border-gray
                  "
                >
                  ที่อยู่: {{ supplier.address }}
                </p>
              </div>
              <div class="media text-muted pt-3">
                <p
                  class="
                    media-body
                    pb-3
                    mb-0
                    medium
                    lh-125
                    border-bottom border-gray
                  "
                >
                  เบอร์โทร: {{ supplier.tell }} <br />
                  Email: {{ supplier.email }}
                </p>
              </div>
            </div>
            <div class="my-3 p-3 bg-white rounded shadow-sm col-md">
              <h5 class="border-bottom border-gray pb-2 mb-0">
                วันที่สั่งซื้อ
              </h5>
              <div class="media text-muted pt-3">
                <p
                  class="
                    media-body
                    pb-3
                    mb-0
                    medium
                    lh-125
                    border-bottom border-gray
                  "
                >
                  <input
                    type="text"
                    style="width: 100%; text-align: center"
                    v-model="order_product.date_order"
                    disabled
                    required
                  />
                </p>
              </div>
            </div>
          </div>
            </div>
            <h3 class="list col-md-12">
              <i class="fas fa-clipboard-list"></i> รายการสั่งซื้อ
            </h3>

            <table class="table mt-1">
              <thead class="thead-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">สินค้า</th>
                  <th scope="col">ราคา (ชิ้น)</th>
                  <th scope="col">จำนวนที่สั่ง (ชิ้น)</th>
                  <th v-if="products[0].qty_received" scope="col">จำนวนสินค้าที่ได้รับ (ชิ้น)</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in products" :key="index">
                  <th style="width: 5%" scope="row">{{ index + 1 }}</th>
                  <td style="width: 20%">
                    {{ item.Product.name }}
                  </td>
                  <td >฿{{ item.price }}</td>
                  <td >{{ item.qty_order }}</td>
                  <td v-if="item.qty_received">{{ item.qty_received }}</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td v-if="products[0].qty_received"></td>
                  <td><b>รายการสินค้าทั้งหมด</b></td>
                  <td>
                    <b>{{ products.length }} รายการ</b>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td v-if="products[0].qty_received"></td>
                  <td><b>จำนวนที่สั่ง</b></td>
                  <td>
                    <b>{{ SumQty_order }} ชิ้น</b>
                  </td>
                </tr>
                 <tr v-if="products[0].qty_received">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><b>จำนวนที่ได้รับ</b></td>
                  <td>
                    <b>{{ SumQty_received }} ชิ้น</b>
                  </td>
                </tr>
                
               
                <tr  v-if="products[0].qty_received">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><b>ราคารวมทั้งหมด <br> (จำนวนที่ได้รับ x ราคา (ชิ้น) )</b></td>
                  <td>
                    <b>{{ SumPrice_received }} บาท</b>
                  </td>
                </tr>
                <tr v-else>
                  <td></td>
                  <td></td>
                  <td v-if="products[0].qty_received"></td>
                  <td><b>ราคารวมทั้งหมด</b></td>
                  <td>
                    <b>{{ SumPrice_order }} บาท</b>
                  </td>
                </tr>
                
              </tbody>
            </table>

            <div class="col-md-12 mt-5">
              <p style="text-align: center">
                <router-link
                  class="btn btn-secondary"
                  to="/admin/order_products"
                  >กลับหน้าหลัก</router-link
                >
              </p>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</template>
<script>
import HeaderForm from "../../../components/backend/headerForm.vue";
import ApiOrderProduct from "../../../services/OrderProductService";
export default {
  data() {
    return {
      order_product_id: null,
      supplier:{},
      employee: {},
      shop: {},
      order_product: {},
      products: [],
    };
  },
  components: {
    HeaderForm,
  },
  computed: {
    SumPrice_order() {
      return this.products
        .reduce((a, b) => parseInt(a) + parseInt(b.price) * parseInt(b.qty_order), 0)
        .toString()
        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
    SumPrice_received() {
      return this.products
        .reduce((a, b) => parseInt(a) + parseInt(b.price) * parseInt(b.qty_received), 0)
        .toString()
        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
    SumQty_order() {
      return this.products
        .reduce((a, b) => a + parseInt(b.qty_order), 0)
        .toString()
        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
    SumQty_received() {
      return this.products
        .reduce((a, b) => a + parseInt(b.qty_received), 0)
        .toString()
        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
  },
  async created() {
    try {
      this.order_product_id = this.$route.params.id;
      this.order_product = (
        await ApiOrderProduct.read(this.order_product_id)
      ).data;
      this.supplier = this.order_product.Supplier
      this.shop = this.order_product.Store_branch;
      this.products = this.order_product.products;
      if(this.order_product.Owner!=null){
        this.employee = this.order_product.Owner
      }else{
        this.employee = this.order_product.Employee;
      }
      console.log(this.order_product)
    } catch (e) {
      console.log(e);
    }
  },
  methods: {
    async genPDF() {
      try {
        let data = (await ApiOrderProduct.genPDF(this.order_product)).data;
        var link = "http://localhost:8081/assets/docs/"+data;
        window.open(link);
      } catch (e) {
        console.log(e);
      }
    },
  },
};
</script>

<style scoped>
.list {
  margin-top: 30px;
  text-align: center;
}
.table {
  width: 80%;
  margin: 0 auto;
}
.FormData {
  padding: 20px;
  margin: 0 auto;
  width: 40%;
  background-color: rgba(212, 209, 209, 0.829);
}
h5 {
  text-align: center;
  margin-bottom: 25px;
}
p {
  padding-left: 20px;
}
hr {
  background-color: red;
}
</style>