<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
          <HeaderForm
            v-if="Object.keys(shop).length != 0"
            :title="`ข้อมูลการสั่งซื้อสินค้า สาขาที่ ${shop.no} (${shop.address})`"
            icon="fas fa-truck-loading"
          />
          <HeaderForm
            v-else
            title="ข้อมูลการสั่งซื้อสินค้า "
            icon="fas fa-truck-loading"
          />
          <ButtonNavigate
            title="สั่งซื้อสินค้า"
            link="/admin/order_product/create"
            color="btn-success"
          />
        </div>
        <div class="my-4">
          <SelectShop
            v-if="isOwner"
            :shops="shops"
            v-on:selectShop="selectShop"
          />
          <div v-if="Object.keys(shop).length > 0" class="list-group mt-3" id="list-tab" role="tablist" style="margin: 0 auto; width:60%">
            <div class="row">
              <button class="list-group-item list-group-item-action col-md" @click="sortData('กำลังตรวจสอบ')">
                รออนุมัติ ({{pending_approval.length}})
              </button>
              <button class="list-group-item list-group-item-action col-md" @click="sortData('อนุมัติ')">
                อนุมัติ ({{approval.length}})
              </button>
              <button class="list-group-item list-group-item-action col-md" @click="sortData('ตรวจรับสินค้าเข้าสต็อกสำเร็จ')">
                รับสินค้าเข้าสต็อก ({{success.length}})
              </button>
              <button class="list-group-item list-group-item-action col-md" @click="sortData('ไม่อนุมัติ')">
                ไม่อนุมัติ ({{not_approval.length}})
              </button>
            </div>
          </div>
          <TableOrderProduct 
            v-if="order_product.length > 0"
            :order_product="show_order"
            :isOwner="isOwner"
            v-on:deleteOrderProduct="deleteOrderProduct"
          />
          <h3 class="mt-2" style="text-align: center">{{ text }}</h3>
        </div>
      </main>
    </div>
  </div>
</template>
<script>
import HeaderForm from "../../../components/backend/headerForm.vue";
import ApiShop from "../../../services/ShopService";
import ApiOrderProduct from "../../../services/OrderProductService";
import TableOrderProduct from "../../../components/backend/tableOrderProduct.vue";
import ButtonNavigate from "../../../components/backend/buttonNavigate.vue";
import SelectShop from "../../../components/backend/selectShop";
import Swal from "sweetalert2";
import { mapState } from "vuex";
export default {
  data() {
    return {
      shop: {},
      order_product: [],
      show_order:[],
      isOwner: null,
      shops: [],
      text: "",
      pending_approval:[],
      approval:[],
      not_approval:[],
      success:[]
    };
  },
  components: {
    HeaderForm,
    TableOrderProduct,
    ButtonNavigate,
    SelectShop,
  },
  computed: {
    ...mapState(["user"]),
  },
  async created() {
    try {
      this.isOwner = this.user.user.isOwner;
      if (this.isOwner) {
        this.shops = (await ApiShop.views()).data;
      } else {
        this.shop = (await ApiShop.read(this.user.user.StoreBranchId)).data;
        this.order_product = (
          await ApiOrderProduct.views(this.user.user.StoreBranchId)
        ).data;
        this.show_order = this.order_product.filter(p=>p.status=="กำลังตรวจสอบ")
        if (this.order_product.length == 0) this.text = "ไม่มีข้อมูล";
        else this.text = "";
        this.sumStatus();
      }
    } catch (e) {
      console.log(e);
    }
  },
  methods: {
    async deleteOrderProduct(id) {
      try {
        let ans = confirm("ต้องการลบข้อมูลนี้ไหม");
        if (ans) {
          let data = await ApiOrderProduct.delete(id);
          this.order_product = this.order_product.filter((e) => e.id != id);
          Swal.fire("ลบข้อมูลสั่งซื้อสำเร็จ", "", "success");
        }
      } catch (e) {
        console.log(e);
      }
    },
    async selectShop(id) {
      this.pending_approval=[]
      this.approval=[]
      this.not_approval=[]
      this.success=[]
      this.shop = (await ApiShop.read(id)).data;
      this.order_product = (await ApiOrderProduct.views(id)).data;
      this.show_order = this.order_product.filter(p=>p.status=="กำลังตรวจสอบ")
      if (this.order_product.length == 0) this.text = "ไม่มีข้อมูล";
      else this.text = "";
      this.sumStatus();
    },
    sortData(name){
      try{
        this.show_order = this.order_product.filter(p=>p.status==name)
      }catch(e){
        console.log(e)
      }
    },
    sumStatus(){
      try{
        this.order_product.forEach(p=>{
          if(p.status=="กำลังตรวจสอบ"){
            this.pending_approval.push(p)
          }else if(p.status=="อนุมัติ"){
            this.approval.push(p)
          }else if(p.status=="ไม่อนุมัติ"){
            this.not_approval.push(p)
          }else{
            this.success.push(p)
          }
        })
      }catch(e){
        console.log(e)
      }
    }
  },
};
</script>