<template>
    <button type="button" :class="'btn '+color+  ' mx-1'" @click="navigateTo()">
        {{title}} <slot></slot>
    </button>
</template>
<script>

export default {
    props:['title','color','link'],
    methods: {
        navigateTo(){
            this.$router.push(this.link)
        }
    }
}
</script>
