<template>
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close" @click="closeChart">&times;</span>
      <div class="list-group" id="list-tab" role="tablist">
        <div class="row">
          <button
            @click="showProductLength"
            class="list-group-item list-group-item-action col-md"
          >
            แสดงจำนวนยอดขายสินค้า / วัน
          </button>
          <button
            @click="showMoneyLength"
            class="list-group-item list-group-item-action col-md"
          >
            แสดงจำนวนยอดเงิน / วัน
          </button>
        </div>
      </div>

      <canvas id="myChart" width="400" height="150"></canvas>
    </div>
  </div>
</template>
<script>
import Chart from "chart.js";
export default {
  data() {
    return {
      text: "",
      date: [],
      product: [],
    };
  },
  props: ["sell"],
  created() {
    this.showProductLength();
  },
  mounted() {
    this.createChart();
  },

  methods: {
    createChart() {
      try {
        var ctx = null;
        var color = this.product.map((p) => {
          return (
            "rgba(" +
            Math.floor(Math.random() * 255) +
            "," +
            Math.floor(Math.random() * 255) +
            "," +
            Math.floor(Math.random() * 255) +
            "," +
            0.9 +
            ")"
          );
        });

        ctx = document.getElementById("myChart");

        var myChart = new Chart(ctx, {
          type: "bar",
          data: {
            labels: this.date,
            datasets: [
              {
                label: "กราฟวิเคราห์การขาย POS",
                data: this.product,
                backgroundColor: color,
                borderColor: color,
                borderWidth: 1,
              },
            ],
          },
          options: {
            scales: {
              yAxes: [
                {
                  ticks: {
                    beginAtZero: true,
                  },
                },
              ],
            },
          },
        });
      } catch (e) {
        console.log(e);
      }
    },
    closeChart() {
      this.$emit("closeChart");
    },

    showProductLength() {
      this.text = "product";
      let date = [];
      let products = [];
      this.sell.forEach((s) => {
        let found = date.find((d) => d == s.date_sell);
        if (found == undefined) {
          date.push(s.date_sell);
          let qty = 0;
          s.product.forEach((p) => {
            qty += p.qty_sell;
          });
          products.push(qty);
        } else {
          let index = date.indexOf(found);
          s.product.forEach((p) => {
            products[index] += p.qty_sell;
          });
        }
      });
      this.product = products;
      this.date = date;
      this.createChart();
    },
    showMoneyLength() {
      this.text = "money";
      let date = [];
      let products = [];
      this.sell.forEach((s) => {
        let found = date.find((d) => d == s.date_sell);
        if (found == undefined) {
          date.push(s.date_sell);
          let qty = 0;
          s.product.forEach((p) => {
            qty += p.qty_sell * p.price;
          });
          products.push(qty);
        } else {
          let index = date.indexOf(found);
          s.product.forEach((p) => {
            products[index] += p.qty_sell * p.price;
          });
        }
      });
      this.product = products;
      this.date = date;
      this.createChart();
    },
  },
};
</script>

<style scoped>
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>