<template>
  <div>
    <form v-on:submit.prevent="create">
    <div class="row">
      <div class="col-md-12">
        <div class="FormData" style="width: 80%">
          <div class="row">
            <div class="employee col-md-4 d-flex flex-column">
              <h5>ผู้สั่งซื้อ</h5>
              <p>
                รหัสพนักงาน: <i>{{ employee.id }}</i>
              </p>
              <p>
                ชื่อ-สกุล: <i>{{ employee.name }} {{ employee.lastname }}</i>
              </p>
              <p>
                ตำแหน่ง: <i>{{ employee.position }}</i>
              </p>
            </div>
            <div class="shop col-md d-flex flex-column">
              <h5>ร้าน</h5>
              <p>
                รหัสร้าน: <i>{{ shop.id }}</i>
              </p>
              <p>
                สาขาที่: <i>{{ shop.no }}</i>
              </p>
              <p>
                ที่อยู่: <i>{{ shop.address }}</i>
              </p>
            </div>
            <div
                      class="shop col-md-4 d-flex flex-column"
                      v-if="supplier"
                    >
                      <h5>ซัพพลายเออร์</h5>
                      <p>
                        ชื่อ: <i>{{ supplier.name }}</i>
                      </p>
                      <p>
                        ที่อยู่: <i>{{ supplier.address }}</i>
                      </p>
                      <p>
                        ช่องทางติดต่อ: <i>{{ supplier.tell }}</i>
                      </p>
                      <p>
                        email: <i>{{ supplier.email }}</i>
                      </p>
                    </div>
            <div class="date col-md d-flex flex-column">
              <h5 style="text-align: center">
                วันที่สั่งซื้อ <br />
                <br />
                <input
                  type="date"
                  id="birthday"
                  name="birthday"
                  style="width: 100%"
                  v-model="order_date"
                  required
                />
              </h5>
            </div>
          </div>
        </div>
      </div>

      <div class="FormProduct col-md-12 mt-5">
          <h3 style="text-align: center; padding-left: 100px">
            <i class="fas fa-clipboard-list"></i> รายการสั่งซื้อ
          </h3>

        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">สินค้า</th>
              <th scope="col">จำนวน (ชิ้น)</th>
              <th scope="col">ลบ</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in items" :key="index">
              <th style="width: 5%" scope="row">{{ index + 1 }}</th>
              <td style="width: 20%">
                <input type="text" class="form-control" list="ice-cream-flavors" v-model="item.Product" @change="selectProduct(index)" required/>
                <datalist id="ice-cream-flavors" >
                  <option v-for="product in products" :key="product.id" class="option" :value="product.name"/>
                </datalist>
              </td>
              <td style="width: 20%"> <input type="number" class="form-control" v-model="item.qty_order" required/></td>
              <td style="width: 20%"><a class="btn btn-danger w-50" @click="removeItem(index)"><i class="fas fa-trash"></i></a> </td>
            </tr>
              </tbody>
        </table>
        <p style="text-align:center">
            <button type="button" style="width: 30%" class="btn btn-primary" @click="addItem"><i class="fas fa-plus-circle"></i></button>
        </p>
        <p style="text-align:center" v-if="items.length>0">
            <button type="submit" style="width: 80%" class="btn btn-success">บันทึกคำสั่งซื้อ</button>
        </p>
        
        
        
      </div>
    </div>
    </form>
  </div>
</template>
<script>
export default {
  data(){
    return{
      order_date:null
    }
  },
  props: ["shop", "employee", "items","products","supplier"],
  methods: {
    create(){
      this.$emit("create",this.order_date)
    },
    addItem() {
      this.$emit("addItem");
    },
    selectProduct(index) {
      this.$emit("selectProduct",index);
    },
    removeItem(index){
      this.$emit("removeItem",index);
    }
  },
};
</script>
<style scoped>
.table{
  width:80%;
  margin:0 auto
}
.FormData {
  padding: 20px;
  margin: 0 auto;
  width: 40%;
  background-color: rgba(212, 209, 209, 0.829);
}
h5 {
  text-align: center;
  margin-bottom: 25px;
}
p {
  padding-left: 50px;
}
hr {
  background-color: red;
}
</style>