<template>
    <form v-on:submit.prevent="action" style="margin: 0 auto;width:60%;">
            <div class="form-group">
              <label for="exampleInputEmail1"><i class="fas fa-cubes"></i> ชื่อประเภทสินค้า</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                v-model="data.name"
              />
            </div>
            <button type="submit" class="btn btn-success w-100">บันทึก</button>
          </form>
</template>
<script>
export default {
    props:['data'],
    methods:{
        action(){
            this.$emit("actionForm",this.data)
        }
    }
}
</script>