<template>
    <form  @submit.prevent="action" style="margin: 0 auto;width:60%;">
          <div class="row" >
            <div class="form-group col-md-12" v-if="progress==0 && !showProfile">
              <label for="profile"
                ><i class="fas fa-camera"></i> อัพโหลดรูปหน้าร้าน</label
              >
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupFileAddon01"
                    >Upload</span
                  >
                </div>
                <div class="custom-file">
                  <input
                    type="file"
                    class="custom-file-input"
                    id="profile"
                    aria-describedby="inputGroupFileAddon01"
                    @change="upload($event)"
                  />
                  <label class="custom-file-label" for="profile"
                    >Choose file</label
                  >
                </div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="no"><i class="fas fa-tag"></i> สาขาที่</label>
              <input
                type="number"
                class="form-control"
                id="no"
                required
                v-model="Store_branch.no"
              />
            </div>
            <div class="form-group col-md-4">
              <label for="address"><i class="fas fa-map-marker-alt"></i> ที่อยู่</label>
              <input
                type="text"
                class="form-control"
                id="address"
                required
                v-model="Store_branch.address"
              />
            </div>
             <div class="form-group col-md-4">
              <label for="tell"><i class="fas fa-phone"></i> เบอร์โทรร้าน</label>
              <input
                type="number"
                class="form-control"
                id="tell"
                required
                maxlength="10"
                v-model="Store_branch.tell"
              />
            </div>
            <div class="form-group col-md-12">
              <label for="tell"><i class="fas fa-phone"></i> ตำแหน่งที่ตั้ง</label>
              <div class="map" style="height:350px;" v-if="latitude">
                <longdo-map @load="loadMap">
                    <longdo-map-marker :location="{ lon: longitude, lat: latitude}" :draggable="true"/>
                </longdo-map>
              </div>
              
            </div>
           
          </div>

          <button type="submit" class="btn btn-success w-100">เพิ่มข้อมูลร้าน</button>
        </form>
</template>
<script>
import { LongdoMap,LongdoMapMarker } from 'longdo-map-vue'
LongdoMap.init({ apiKey: 'c11a4bffa0ce4de7ebbd3471acc4b7e4' })
export default {
    props:['Store_branch','showProfile', 'progress'],
    components: {
      LongdoMap,LongdoMapMarker
    },
    data(){
      return{ 
        latitude:null,
        longitude:null,
      }
    },
    created(){
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(this.showPosition);
      } else {
        alert("Geolocation is not available")
      }
    },
    methods: {
        action(){
           this.Store_branch.latitude = this.latitude;
           this.Store_branch.longitude = this.longitude;
           this.$emit('action',this.Store_branch)
        },
        upload(event){
            this.$emit('upload',event)
        },
        loadMap (map) {
            map.Layers.setBase(longdo.Layers.NORMAL)
            map.Event.bind('overlayDrop', (overlay) => {
                this.latitude = overlay.location().lat
                this.longitude = overlay.location().lon
            });
        },
        showPosition(position) {
          this.latitude = position.coords.latitude
          this.longitude = position.coords.longitude;
        },
        
    }
}
</script>
