<template>
    <form v-on:submit.prevent="action" style="width:60%; margin: 0 auto">
            <div class="row">
              <div class="form-group col-md-12"  v-if="progress==0 && !showProfile">
                <label for="profile"
                  ><i class="fas fa-camera"></i> อัพโหลดรูปสินค้า</label
                >
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01"
                      >Upload</span
                    >
                  </div>
                  <div class="custom-file">
                    <input
                      type="file"
                      class="custom-file-input"
                      id="profile"
                      aria-describedby="inputGroupFileAddon01"
                      @change="upload($event)"
                    />
                    <label class="custom-file-label" for="profile"
                      >Choose file</label
                    >
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="position"
                  ><i class="fas fa-cubes"></i> ประเภทสินค้า</label
                >
                <select
                  class="form-control"
                  id="position"
                  v-model="product.TypeProductId"
                >
                  <option v-for="type_product in typeProducts" :key="type_product.id" :value="type_product.id">
                   {{type_product.name}}
                  </option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="lastname"
                  ><i class="fas fa-dice-d6"></i> ชื่อสินค้า</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="lastnarequiredme"
                  required
                  v-model="product.name"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="lastname"
                  ><i class="fas fa-dollar-sign"></i> ราคาต้นทุน</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="lastnarequiredme"
                  required
                  v-model="product.cost"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="lastname"
                  ><i class="fas fa-dollar-sign"></i> ราคาขาย</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="lastnarequiredme"
                  required
                  v-model="product.price"
                />
              </div>
              <div class="form-group col-md-12">
                <label for="address"><i class="fas fa-info"></i> รายละเอียดสินค้า</label>
                <textarea
                  class="form-control"
                  aria-label="With textarea"
                  required
                  v-model="product.description"
                  rows="5"
                ></textarea>
              </div>
              <div class="form-group col-md-12">
                <label for="address"><i class="fas fa-info"></i> เลือกซัพพลายเออร์</label>
                <select class="custom-select" v-model="product.SupplierId">
                <option value=""></option>
                <option
                  v-for="supplier in suppliers"
                  :key="supplier.id"
                  :value="supplier.id"
                >
                  {{ supplier.name }}
                </option>
              </select>
              </div>
            </div>
            <button type="submit" class="btn btn-success w-100">
              บันทึก
            </button>
    </form>
</template>
<script>
export default {
    props:['product','typeProducts',"progress" ,"showProfile","suppliers"],
    methods:{
        action(){
            this.$emit('actionForm',this.product)
        },
        upload(event){
            this.$emit('uploadProfile',event)
        }
    }
}
</script>