<template>
    <form v-on:submit.prevent="edit" style="width:60%; margin: 0 auto" v-if="stock_product">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name"
                  ><i class="fas fa-dice-d6"></i> ชื่อสินค้า</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  required
                  v-model="stock_product.product.name"
                  disabled
                />
              </div>
              <div class="form-group col-md-6">
                <label for="lastname"
                  ><i class="fas fa-cubes"></i> ประเภท</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="lastnarequiredme"
                  required
                  v-model="stock_product.product.Type_product.name"
                  disabled
                />
              </div>
              <div class="form-group col-md-4">
                <label for="lastname"
                  ><i class="fas fa-dollar-sign"></i> ราคาต้นทุน (บาท)</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="lastnarequiredme"
                  required
                  v-model="stock_product.product.cost"
                  disabled
                />
              </div>
              <div class="form-group col-md-4">
                <label for="lastname"
                  ><i class="fas fa-sort-amount-up-alt"></i> จำนวนที่สั่งซื้อ (ชิ้น)</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="lastnarequiredme"
                  required
                  v-model="stock_product.detail_order.qty_order"
                  disabled
                />
              </div>
              <div class="form-group col-md-4">
                <label for="lastname"
                  ><i class="fas fa-sort-amount-up-alt"></i> จำนวนที่ได้รับ (ชิ้น)</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="lastnarequiredme"
                  required
                  v-model="stock_product.detail_order.qty_received"
                  disabled
                />
              </div>
              <div class="form-group col-md-4">
                <label for="tell"
                  ><i class="fas fa-dollar-sign"></i> ราคาขาย (บาท)</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="tell"
                  required
                  maxlength="10"
                  size="10"
                  v-model="stock_product.price"
                />
              </div>
              <div class="form-group col-md-4">
                <label for="tell"
                  ><i class="fas fa-sort-amount-up-alt"></i> จำนวนในสต็อก (ชิ้น)</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="tell"
                  required
                  :maxlength="stock_product.detail_order.qty_order"
                  size="10"
                  v-model="stock_product.qty"
                />
              </div>
              <div class="form-group col-md-4">
                <label for="birthday"
                  ><i class="fas fa-table"></i> วันที่หมดอายุ</label
                > <br>
                <input
              type="date"
              id="birthday"
              name="birthday"
              style="width:100%"
              required
            v-model="stock_product.date_exp"
            />
              </div>
            </div>
            <button type="submit" class="btn btn-success w-100">
              บันทึก
            </button>
      </form>
</template>

<script>
export default {
    props: ['stock_product'],
    created() {
      console.log(this.stock_product)
    },
    methods:{
        edit(){
            this.$emit("edit",this.stock_product)
        }
    }
}
</script>