<template>
     <form v-on:submit.prevent="create" style="width:60%; margin: 0 auto">
         <div class="row">
              <div class="form-group col-md-12">
                <label for="name"
                  ><i class="fas fa-users"></i> ชื่อบริษัท</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  required
                  v-model="supplier.name"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="lastname"
                  ><i class="fas fa-users"></i> email</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="lastnarequiredme"
                  required
                  v-model="supplier.email"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="tell"
                  ><i class="fas fa-phone-alt"></i> เบอร์โทรศัพท์</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="tell"
                  required
                  maxlength="10"
                  size="10"
                  v-model="supplier.tell"
                />
              </div>
              <div class="form-group col-md-12">
                <label for="address"><i class="fas fa-home"></i> ที่อยู่</label>
                <textarea
                  class="form-control"
                  aria-label="With textarea"
                  required
                  v-model="supplier.address"
                  rows="5"
                ></textarea>
              </div>
    
            <button type="submit" class="btn btn-success w-100">
              บันทึก
            </button>
            </div>
      </form>
</template>

<script>
export default {
    props:['supplier'],
    methods: {
        create(){
            this.$emit('create')
        }
    }
}
</script>