<template>
     <form v-on:submit.prevent="action" style="width:60%; margin: 0 auto">
            <div class="row">
              <div class="form-group col-md-12"  v-if="progress==0 && !showProfile">
                <label for="profile"
                  ><i class="fas fa-camera"></i> อัพโหลดโปรไฟล์พนักงาน</label
                >
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01"
                      >Upload</span
                    >
                  </div>
                  <div class="custom-file">
                    <input
                      type="file"
                      class="custom-file-input"
                      id="profile"
                      aria-describedby="inputGroupFileAddon01"
                      @change="upload($event)"
                    />
                    <label class="custom-file-label" for="profile"
                      >Choose file</label
                    >
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="name"
                  ><i class="fas fa-users"></i> ชื่อพนักงาน</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  required
                  v-model="employee.name"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="lastname"
                  ><i class="fas fa-users"></i> นามสกุลพนักงาน</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="lastnarequiredme"
                  required
                  v-model="employee.lastname"
                />
              </div>
              <div class="form-group col-md-4">
                <label for="sex"><i class="fas fa-genderless"></i> เพศ</label>
                <select class="form-control" id="sex" v-model="employee.sex">
                  <option>ชาย</option>
                  <option>หญิง</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="tell"
                  ><i class="fas fa-phone-alt"></i> เบอร์โทรศัพท์</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="tell"
                  required
                  maxlength="10"
                  size="10"
                  v-model="employee.tell"
                />
              </div>
              <div class="form-group col-md-4">
                <label for="position"
                  ><i class="fas fa-wrench"></i> ตำแหน่ง</label
                >
                <select
                  class="form-control"
                  id="position"
                  v-model="employee.position"
                >
                  <option>พนักงานขาย</option>
                  <option>พนักงานจัดสต็อกสินค้า</option>
                  <option>พนักงานส่งของ</option>
                </select>
              </div>
              <div class="form-group col-md-12">
                <label for="address"><i class="fas fa-home"></i> ที่อยู่</label>
                <textarea
                  class="form-control"
                  aria-label="With textarea"
                  required
                  v-model="employee.address"
                  rows="5"
                ></textarea>
              </div>
              <div class="form-group col-md-6">
                <label for="username"
                  ><i class="fas fa-id-card"></i> บัญชีเข้าสู่ระบบ</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  required
                  v-model="employee.username"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="password"
                  ><i class="fas fa-key"></i> รหัสผ่านเข้าสู่ระบบ</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  required
                  v-model="employee.password"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="position"
                  ><i class="fas fa-map-marker-alt"></i> พนักงานสาขา</label
                >
                <select
                  class="form-control"
                  id="position"
                  v-model="employee.StoreBranchId"
                >
                  <option v-for="shop in shops" :key="shop.id" :value="shop.id">
                    {{ shop.address }} (สาขาที่ {{ shop.no }})
                  </option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="tell"
                  ><i class="fas fa-money-bill-wave"></i> ค่าจ่าง/วัน</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="tell"
                  required
                  maxlength="10"
                  size="10"
                  v-model="employee.salary"
                />
              </div>
            </div>
            <button type="submit" class="btn btn-success w-100">
              บันทึก
            </button>
      </form>
</template>
<script>
export default {
    props:['employee','shops','progress','showProfile'],
    methods: {
        action(){
            this.$emit('actionForm',this.employee)
        },
        upload(event){
            this.$emit('uploadPicture',event)
        }
    }
}
</script>
