<template>
<form v-on:submit.prevent="select">
    <div class="form-group col-md-6" style="margin: 0 auto;width:60%;">
                <label for="position"
                  ><i class="fas fa-box"></i> เพิ่มสินค้า</label
                >
                <select
                  class="form-control"
                  id="position"
                  v-model="select_product"
                >
                  <option>
                   
                  </option>
                  <option v-for="product in products" :key="product.id" :value="product.id">
                    {{ product.name }}
                  </option>
                </select>
                <button type="submit" class="btn btn-success w-100 my-3">เพิ่ม</button>
              </div>
              </form>
</template>

<script>
export default {
    data(){
        return{
            select_product:null
        }
    },
    props:['products'],

    methods:{
        select(){
            try{
                this.$emit("select",this.select_product)
                this.select_product=null
            }catch (err) {
                console.log(err)
            }
            
        }
    }
}
</script>