<template>
<div>
    <h1 style="text-align:center">hello</h1>
    <div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" @click="closeShow">&times;</span>
    <p class="text-center">ค่าบริการ Dlivery 5 บาท / กิโลเมตร</p>
    <p class="text-center">ระยะทาง {{distance}} กิโลเมตร</p>
    <p class="text-center">ราคาค่าจัดส่ง {{parseInt(distance *5)}} บาท</p>
    <p class="text-center"><button class="btn btn-success" @click="closeShow">ตกลง</button></p>
    <p></p>
    <div style="height:500px;">
        <longdo-map @load="loadMap" >
            <longdo-map-marker/>
          </longdo-map>
    </div>
          
  </div>

</div>
</div>

</template>
<script>
import { LongdoMap, LongdoMapMarker } from "longdo-map-vue";
import {mapActions} from 'vuex'
LongdoMap.init({ apiKey: "c11a4bffa0ce4de7ebbd3471acc4b7e4" });
export default {
    data(){
      return { 
        distance:null
      }
    },
    props:['shop','user'],
    components:{
        LongdoMap,LongdoMapMarker
    },
    created() {
    },  
    methods:{
      ...mapActions(['addCostShip']),
        loadMap(map) {
            map.Layers.setBase(longdo.Layers.NORMAL);     
            map.Route.add({ lon: this.shop.longitude, lat: this.shop.latitude });
            map.Route.add({ lon: this.user.longitude, lat: this.user.latitude });
            map.Route.search();
            map.Event.bind('guideComplete',() => {
                this.distance =  map.Route.distance() / 1000
                let cost = this.distance*5// Cross hair location
                console.log("cost:"+cost)
                this.addCostShip(parseInt(cost))
                })
    },
    closeShow(){
        this.$emit('closeShow')
    }
    }
}
</script>
<style scoped>
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>