<template>
<div>
    <div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" @click="closeModalWeast">&times;</span>
    <form v-on:submit.prevent="addToWeastProduct" style="width:50%;margin:0 auto">
        <p>ชื่อสินค้า: {{weast_product.product.name}}</p>
        <p>จำนวนสต็อก: {{weast_product.qty}} ชิ้น</p>
        <div class="form-group">
    <label for="exampleFormControlInput1">จำนวนสินค้าเสีย</label>
    <input type="number" class="form-control" id="exampleFormControlInput1" min="1" :max="weast_product.qty" v-model="qty">
  </div>
        <div class="form-group">
    <label for="exampleFormControlTextarea1">สาเหตุ</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" v-model="detail"></textarea>
  </div>
  <button type="submit" class="btn btn-success w-100">เพิ่มสินค้าเสีย</button>
    </form>
  </div>

</div>
</div>

</template>
<script>
export default {
    data(){
        return{
            qty:0,
            detail:''
        }
    },
    props:['weast_product'],
    methods:{
        addToWeastProduct(){
            let product ={
                product:this.weast_product,
                detail:this.detail,
                qty:this.qty
            }
            this.$emit("addToWeastProduct",product)
        },
        closeModalWeast(){
            this.$emit('closeModalWeast')
        },
    }
}
</script>
<style scoped>
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>