<template>
<div>
    <h1 style="text-align:center">hello</h1>
    <div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" @click="deleteBarcode">&times;</span>
    <p style="text-align:center"> <img :src="`data:image/png;base64, ${this.barcode}`" /></p>
    <p style="text-align:center"><a download type="button" class="btn btn-primary my-4" :href="`data:image/png;base64, ${this.barcode}`">
    ดาวน์โหลด Barcode</a></p>
  </div>

</div>
</div>

</template>
<script>
export default {
    props:['barcode'],
    methods:{
        deleteBarcode(){
            this.$emit('deleteBarcode')
        },
    }
}
</script>
<style scoped>
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>