<template>
     <nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow bg-nav" style="position: sticky,top:0;">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#" style="text-align: center;"><img src="/img/logo_back.png" alt="" width="80"></a>
  <div style="width:100%" class="sticky-top ">
    <div class="row">
      <h4 class="col-md-6" style="padding-top:15px;padding-left :25px;color:white;">
        ระบบบริหารจัดการร้าน
      </h4>
      <ul class="col-md-6 list-menu d-flex justify-content-end">
      <li style="padding-top:15px;color:white;">{{user.user.name}} {{user.user.lastname}} ({{user.user.position}})</li>
      <li><button @click="navigateTo('/')" type="button" class="btn btn-info"><i class="fas fa-shopping-cart"></i> ไปเว็บไซต์หลัก</button></li>
      <li><button @click="logout()" type="button" class="btn btn-danger"><i class="fas fa-sign-out-alt"></i> ออกจากระบบ</button></li>
    </ul>
    </div>
    
  </div>
</nav>
</template>
<script>
import Swal from "sweetalert2";
import { mapGetters, mapActions } from "vuex";
const Toast = Swal.mixin({
  toast: true,
  position: "top-end",
  showConfirmButton: false,
  timer: 2000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener("mouseenter", Swal.stopTimer);
    toast.addEventListener("mouseleave", Swal.resumeTimer);
  },
});
export default {
  computed: {
    ...mapGetters(['user'])
  },
  methods:{
    ...mapActions(['UserLogout']),
    navigateTo(name){
      this.$router.push(name)
    },
    logout(){
      Toast.fire({
          icon: "success",
          title: "ออกจากระบบสำเร็จ",
        }).then(()=>this.UserLogout()).then(()=>this.$router.push('/admin/login'));
    }
  }
}
</script>
<style scoped>
.bg-nav{
  background-color:#91221e;
}
.list-menu li{
  padding-top: 8px;
  padding-right: 0.7rem;
  list-style-type: none;
}
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
</style>