<template>

<div>
 
   <div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div style="width:50%;margin:0 auto">
        <h5 class="text-center"><b>ใบเสร็จ</b> </h5>
    <p class="text-center">ร้านอามีย์ราห์ โฟรสเซ่น ฟูดส์ ฮาลาล <br> สาขา {{shop.address}}</p> <hr>
    <p>พนักงานขาย : {{user.name}} {{user.lastname}} {{user.isOwner?"(เจ้าของ)":""}}</p>
    <p>วันที่: {{date? date:new Date().getDate()+" / "+new Date().getMonth()+" / "+new Date().getFullYear()}}</p> <hr>
    <p class="text-center">รายการสินค้า</p> <hr>
    <div class="row">
        <p class="col-md-6"><b>ชื่อ</b> </p>
        <p class="col-md-3"><b>จำนวน</b> </p>
        <p class="col-md-3"><b>ราคา</b></p>
    </div>
    <div class="row" v-for="p in cart" :key="p.id">
        <p class="col-md-6">{{p.name}}</p>
        <p class="col-md-3">{{p.qty_sell}}</p>
        <p class="col-md-3">฿{{p.price}}</p>
    </div>
    
     <hr>
     <p>จำนวน <b>{{cart.length}}</b>  รายการ</p>
     <div class="row">
        <p class="col-md-6"></p>
        <p class="col-md-3"><b>รวมทั้งสิ้น</b> </p>
        <p class="col-md-3"><b>฿{{allPrice}}</b></p>
     </div>
     <hr style="border-top: 1px solid black;">
     <button class="btn btn-danger w-100" @click="closeBill">ปิดหน้านี้</button>
    </div>
    
  </div>

</div>

</div>
   
</template>

<script>
export default {
    computed: {
        allPrice(){
            return this.cart.reduce((a,b)=> a +b.price * b.qty_sell ,0)
            .toString()
            .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
    },
    props:['cart','shop','user',"date"],
    
    methods: {
        closeBill(){
            this.$emit('closeBill',false)
        }
    }
    
}
</script>

<style scoped>
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>