<template>
    <div>
        <p v-if="progress > 0 && !showProfile">กำลังอัพโหลด... {{progress}} %</p>
        <div class="progress" v-if="progress > 0 && !showProfile">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            :aria-valuenow="progress"
            aria-valuemin="0"
            aria-valuemax="100"
            :style="'width:'+progress+'%'"
          ></div>
        </div>
        <p style="text-align: center" v-if="showProfile">
          <img :src="url + picture" alt="" width="150" /><br />
          <button
            type="button"
            class="btn btn-danger mt-2"
            @click="deletePictureProduct()"
          >
            ลบ
          </button>
        </p>
    </div>
</template>
<script>
export default {
    data(){
        return{ 
            url: "http://localhost:8081/assets/uploads/",
        }
    },
    props:['progress', 'showProfile' , 'picture'],
    methods:{
        deletePictureProduct(){
            this.$emit('deletePicture',this.picture)
        }
    }
}
</script>