<template>
    <div class="form-group col-md-6" style="margin:0 auto">
                <label for="position"
                  ><i class="fas fa-map-marker-alt"></i> เลือกสาขา </label
                >
                <select
                  class="form-control"
                  id="position"
                  v-model="select_shop"
                  @change="select"
                >
                  <option v-for="shop in shops" :key="shop.id" :value="shop.id">
                    {{ shop.address }}
                  </option>
                </select>
              </div>
</template>

<script>
export default {
    data(){
        return{
            select_shop:null
        }
    },
   props:['shops'],
   methods:{
       select(){
           this.$emit('selectShop',this.select_shop)
       }
   }
}
</script>
