<template>
  <div>
    <h3 style="text-align: center">จำนวน {{weast_products.length}} รายการ</h3>
    <table class="table my-3">
      <thead class="thead-dark">
        <tr>
          <th scope="col"><p style="text-align: center">รหัสสต็อก</p></th>
          <th scope="col"><p style="text-align: center">รูป</p></th>
          <th scope="col"><p style="text-align: center">ชื่อ</p></th>
          <th scope="col"><p style="text-align: center">จำนวนสินค้า</p></th>
          <th scope="col">
            <p style="text-align: center">รายละเอียด</p>
          </th>
          <th scope="col">
            <p style="text-align: center">วันที่บันทึกรายการ</p>
          </th>
          <th scope="col">
            <p style="text-align: center">จัดการ</p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="product in weast_products" :key="product.id">
          <th scope="row" width="10%">
            <p style="text-align: center">{{ product.StockProductId }}</p>
          </th>
          <td>
            <p style="text-align: center">
              <img :src="url + product.Product.picture" alt="" width="80" />
            </p>
          </td>
          <td>
            <p style="text-align: center">
              {{ product.Product.name}}
            </p>
          </td>
          <td>
            <p style="text-align: center">
              {{ product.qty}}
            </p>
          </td>
          <td>
            <p style="text-align: center">
              {{ product.detail}}
            </p>
          </td>
          <td>
            <p style="text-align: center">
              {{ product.date_weast_product}}
            </p>
          </td>
          <td>
            <p style="text-align: center">
              <button class="btn btn-danger" @click="deleteWestProduct(product.id)"><i class="fas fa-trash"></i></button>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
    data(){
        return{
            url: "http://localhost:8081/assets/uploads/",
        }
    },
    props:['weast_products','isOwner'],
    methods: {
      deleteWestProduct(id){
        this.$emit("deleteWestProduct",id)
      }
    }
}
</script>