<template>
  <div>
    <div class="my-4">
          <div class="row">
             <h4 class="col-md-2" style="text-align: center">
              <i class="fas fa-search"></i> ค้นหาโดย <br />
            </h4>
            <input type="text" class="form-control col-md-5"  placeholder="ค้นหาชื่อสินค้า" @change="searchProductByName($event)">
            <div class="input-group col-md-5">
              <select class="custom-select" id="inputGroupSelect02" @change="searchProductByTypeProduct($event)">
                <option selected value="false">ทุกประเภท</option>
                <option v-for="t in type_product" :key="t.id" :value="t.id">{{t.name}}</option>
              </select>
            </div>
          </div>
           
          </div>
    <h3 style="text-align: center">จำนวน {{ stock_products.length }} รายการ </h3>
    <table class="table my-3 ">
      <thead class="thead-dark">
        <tr>
          <th scope="col"><p >รหัส</p></th>
          <th scope="col"><p >ประเภท</p></th>
          <th scope="col"><p >รูป</p></th>
          <th scope="col"><p >ชื่อ</p></th>
          <th scope="col"><p >ราคาต้นทุน</p></th>
          <th scope="col"><p >ราคาขาย</p></th>
          <th scope="col">
            <p>จำนวนในสต็อก</p>
          </th>
          <th scope="col"><p>วันที่หมดอายุ</p></th>
          <th scope="col">
            <p>จัดการ</p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="product in products" :key="product.id">
          <th scope="row" width="5%">
            <p>{{ product.id }}</p>
          </th>
          <td width="10%">
            <p >
              {{ product.product.Type_product.name }}
            </p>
          </td>
          <td width="10%">
            <p>
              <img :src="url + product.product.picture" alt="" width="80" />
            </p>
          </td>
          <td width="10%">
            <p >{{ product.product.name }}</p>
          </td>
          <td width="10%">
            <p style="text-align: center">฿{{ product.product.cost }}</p>
          </td>
          <td width="10%">
            <p style="text-align: center">฿{{ product.price }}</p>
          </td>
          <td width="10%">
            <p style="text-align: center">{{ product.qty }}</p>
          </td>

          <td width="10%">
            <p
              style="background-color: red; color: white;text-align: center"
              v-if="getDate(product.date_exp).y==0 && getDate(product.date_exp).m==0 && getDate(product.date_exp).d==0"
            >
              {{ product.date_exp }} <br />
              หมดอายุ
            </p>
            <p
              style="background-color: orange; color: white;text-align: center"
              v-else-if="getDate(product.date_exp).y==0 && getDate(product.date_exp).m==0 && getDate(product.date_exp).d<=5"
            >
              {{ product.date_exp }} <br />
              เหลือ
              {{getDate(product.date_exp).d!=0? getDate(product.date_exp).d+' วัน ':''}}
            </p>
            <p
              style="background-color: green;color:white;text-align: center"
              v-else
            >
              {{ product.date_exp }}
            </p>
          </td>
          <td width="15%">
            <p style="color: green;">
              <button
                type="button"
                class="btn btn-info mr-1"
                @click="genBarcode(product.id)"
              >
                <i class="fas fa-barcode"></i>
              </button>
              <router-link :to="'/admin/stock_product/edit/' + product.id">
                <button type="button" class="btn btn-warning mr-1">
                  <i class="fas fa-pen"></i>
                </button>
              </router-link>
              <button
                type="button"
                class="btn btn-secondary mr-1"
                @click="openModalWeast(product)"
              >
                <i class="fas fa-recycle"></i>
              </button>
              <button
                type="button"
                class="btn btn-danger"
                @click="deleteStock(product.id)"
              >
                <i class="fas fa-trash"></i>
              </button>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      products:[],
      url: "http://localhost:8081/assets/uploads/",
    };
  },
  props: ["stock_products", "isOwner",'type_product'],
  created() {
      this.products=this.stock_products
      console.log(this.products)
  },
  methods: {
    searchProductByName(event){
        try{
          if(event.target.value!==""){
            this.products= this.stock_products.filter(p=>p.product.name.includes(event.target.value))
          }else{
            this.products= this.stock_products
          }
          
        }catch(e){
          console.log(e)
        }
      },
      searchProductByTypeProduct(event){
        try{
          if(event.target.value=="false"){
            this.products= this.stock_products
          }else{
            this.products= this.stock_products.filter(p=>p.product.TypeProductId == parseInt(event.target.value))
          }
          
          
        }catch(e){
          console.log(e)
        }
      },
    getDate(d) {
      try {
        let date = {
          y: new Date(d).getFullYear()-new Date().getFullYear(),
          m: new Date(d).getMonth()-new Date().getMonth(),
          d: new Date(d).getDate()-new Date().getDate(),
        };
        return date;
      } catch (e) {
        console.log(e);
      }
    },
    genBarcode(id) {
      this.$emit("genBarcode", id);
    },
    deleteStock(id_stock) {
      this.$emit("deleteStock", id_stock);
    },
    openModalWeast(product) {
     /*  console.log(product) */
      this.$emit("openModalWeast", product);
    },
  },
};
</script>