<template>
  <div class="container-fluid">
    <div class="row">
      <nav
        id="sidebarMenu"
        class="col-md-3 col-lg-2 d-md-block sidebar collapse bg-sidebar"
      >
        <div class="sidebar-sticky pt-3">
          <ul class="nav flex-column px-2">
            <li class="nav-item" v-if="user.user.isOwner ">
              <a href="" class="nav-link" :style="num==11? 'background-color: rgba(138, 0, 0, 0.658);border-radius: 10px;}':''"
               @click="num=11" @click.prevent="openPage('/admin/finance')">
                <span data-feather="users"></span>
                ยอดขายและการเงิน
              </a>
            </li>
            <li  v-if="!user.user.isOwner" class="nav-item" :style="num==2? 'background-color: rgba(138, 0, 0, 0.658);border-radius: 10px;}':''" @click="num=2 , sub=null">
              <a class="nav-link" href="" @click.prevent="openPage('/admin/employee')">
                <span data-feather="shopping-cart"></span>
                ข้อมูลส่วนตัว
              </a>
            </li>
            <li v-if="user.user.isOwner" class="nav-item" :style="num==2? 'background-color: rgba(138, 0, 0, 0.658);border-radius: 10px;}':''" @click="num=2 , sub=null">
              <a class="nav-link" href="" @click.prevent="openPage('/admin/store_branchs')">
                <span data-feather="shopping-cart"></span>
                จัดการสาขา
              </a>
            </li>
            <li v-if="user.user.isOwner || user.user.position =='พนักงานขาย'"  class="nav-item" :style="num==8? 'background-color: rgba(138, 0, 0, 0.658);border-radius: 10px;}':''" @click="num=8 , sub=null">
              <a class="nav-link" href="" @click.prevent="openPage('/admin/pos/create')">
                <span data-feather="shopping-cart"></span>
                POS System
              </a>
            </li>
             <li v-if="user.user.isOwner || user.user.position =='พนักงานขาย'"  class="nav-item" :style="num==9? 'background-color: rgba(138, 0, 0, 0.658);border-radius: 10px;}':''" @click="num=9">
              <a class="nav-link" href="" @click.prevent="openSubLink(4)">
                <span data-feather="file"></span>
                จัดการการขาย
              </a>
              <div class="d-flex flex-column px-5 head-sublink" v-if="sub == 4">
                <a
                  href=""
                  class="sub-link"
                  @click.prevent="openPage('/admin/pos/show')"
                  :style="num_sub==3.1? 'border-left: 5px solid white}':''" @click="num_sub=4.1"
                  >POS</a
                >
                <a href="" class="sub-link" @click.prevent="openPage('/admin/order_customer/show')" 
                :style="num_sub==3.2? 'border-left: 5px solid white}':''" @click="num_sub=4.2"
                  >Online</a
                >
              </div>
            </li>
            <li v-if="user.user.isOwner" class="nav-item" :style="num==3? 'background-color: rgba(138, 0, 0, 0.658);border-radius: 10px;}':''" @click="num=3">
              <a class="nav-link" href="" @click.prevent="openSubLink(2)">
                <span data-feather="file"></span>
                จัดการพนักงาน
              </a>
              <div class="d-flex flex-column px-5 head-sublink" v-if="sub == 2">
                <a
                  href=""
                  class="sub-link"
                  @click.prevent="openPage('/admin/employees')"
                  :style="num_sub==3.1? 'border-left: 5px solid white}':''" @click="num_sub=3.1"
                  >จัดการข้อมูลพนักงาน</a
                >
                <a href="" class="sub-link" @click.prevent="openPage('/admin/salary/read')" 
                :style="num_sub==3.2? 'border-left: 5px solid white}':''" @click="num_sub=3.2"
                  >จัดการค่าจ้างพนักงาน</a
                >
              </div>
            </li>
            <li v-if="user.user.isOwner" class="nav-item" :style="num==7? 'background-color: rgba(138, 0, 0, 0.658);border-radius: 10px;}':''" @click="num=7 , sub=null">
              <a class="nav-link" href="" @click.prevent="openPage('/admin/customers')">
                <span data-feather="shopping-cart"></span>
                จัดการลูกค้า
              </a>
            </li>
            <li v-if="user.user.isOwner || user.user.position == 'พนักงานจัดสต็อกสินค้า'" class="nav-item" :style="num==4? 'background-color: rgba(138, 0, 0, 0.658);border-radius: 10px;}':''" @click="num=4">
              <a class="nav-link" href="" @click.prevent="openSubLink(3)">
                <span data-feather="file"></span>
                จัดการสินค้า
              </a>
              <div class="d-flex flex-column px-5 head-sublink" v-if="sub == 3">
                <a v-if="user.user.isOwner"
                  href=""
                  class="sub-link"
                  @click.prevent="openPage('/admin/type_products')"
                  >จัดการประเภทสินค้า</a
                >
                <a v-if="user.user.isOwner" href="" class="sub-link" @click.prevent="openPage('/admin/products')" 
                  >จัดการสินค้า</a
                >
                <a v-if="user.user.isOwner || user.user.position == 'พนักงานจัดสต็อกสินค้า'" href="" class="sub-link" @click.prevent="openPage('/admin/stock_products')" 
                  >จัดการสต็อกสินค้า</a
                >
                <a v-if="user.user.isOwner || user.user.position == 'พนักงานจัดสต็อกสินค้า'" href="" class="sub-link" @click.prevent="openPage('/admin/weast_products')" 
                  >จัดการสินค้าเสีย</a
                >
              </div>
            </li>
            <li class="nav-item" v-if="user.user.isOwner || user.user.position == 'พนักงานจัดสต็อกสินค้า'">
              <a href="" class="nav-link" :style="num==5? 'background-color: rgba(138, 0, 0, 0.658);border-radius: 10px;}':''"
               @click="num=5" @click.prevent="openPage('/admin/order_products')">
                <span data-feather="users"></span>
                จัดการสั่งซื้อสินค้า
              </a>
            </li>
            <li v-if="user.user.isOwner" class="nav-item">
              <a class="nav-link" href="" :style="num==6? 'background-color: rgba(138, 0, 0, 0.658);border-radius: 10px;}':''"
               @click="num=6" @click.prevent="openPage('/admin/suppliers')">
                <span data-feather="users"></span>
                จัดการซัพพลายเออร์
              </a>
            </li>
            <li v-if="user.user.position.includes('พนักงาน')" class="nav-item">
              <a class="nav-link" href="" :style="num==11? 'background-color: rgba(138, 0, 0, 0.658);border-radius: 10px;}':''"
               @click="num=11" @click.prevent="openPage('/admin/order_customers')">
                <span data-feather="users"></span>
                จัดการออเดอร์ลูกค้า
              </a>
            </li>
           
           <li v-if="user.user.isOwner" class="nav-item" :style="num==10? 'background-color: rgba(138, 0, 0, 0.658);border-radius: 10px;}':''" @click="num=10">
              <a class="nav-link" href="" @click.prevent="openSubLink(10)">
                <span data-feather="file"></span>
                จัดการ CRM
              </a>
              <div class="d-flex flex-column px-5 head-sublink" v-if="sub == 10">
                <a v-if="user.user.isOwner" href="" class="sub-link" @click.prevent="openPage('/admin/crm/email')" 
                  >ระบบข้อมูลสัมพันธ์ลูกค้า</a
                >
                <a v-if="user.user.isOwner" href="" class="sub-link" @click.prevent="openPage('/admin/crm/promotion')" 
                  >แคมเปญส่วนลด</a
                >
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</template>
<script>
import {mapGetters} from 'vuex'
export default {
  data() {
    return {
      num:null,
      num_sub:null,
      sub: null,
    };
  },
  computed: {
    ...mapGetters(['user'])
  },
  methods: {
    openSubLink(num) {
      if (num == this.sub) {
        this.sub = null;
        console.log(num);
      } else {
        this.sub = num;
        console.log(num);
      }
    },
    openPage(link) {
      this.$router.push(link);
    },
  },
};
</script>
<style scoped>
.head-sublink {
  transition-delay: 5s;
}
.sub-link {
  text-align: center;
  margin-top: 2px;
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.sub-link:focus {
  background-color: rgba(138, 0, 0, 0.658);
}
.nav-item {
  border-radius: 10px;
  margin-top: 5px;
}
.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.bg-sidebar {
  background-color: #2b2b2b;
  color: white !important;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1; /* Behind the navbar */
  padding: 70px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}
</style>
