<template>
  <div class="mt-3">
    <h4 style="text-align: center">รายการคำสั่งซื้อ</h4>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">รหัสคำสั่งซื้อ</th>
          <th scope="col">วันที่สั่ง</th>
          <th scope="col">ซัพพลายเออร์</th>
          <th scope="col">ผู้สั่งซื้อ</th>
          <th scope="col">สถานะ</th>
          <th scope="col">จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="order in order_product" :key="order.id">
          <th scope="row" width="15%">{{ order.id }}</th>
          <td width="15%">{{ order.date_order }}</td>
          <td >{{ order.Supplier.name }}</td>
          <td v-if="order.Employee">{{ order.Employee.name }} {{ order.Employee.lastname }}</td>
          <td v-else>{{ order.Owner.name }} {{ order.Owner.lastname }} (เจ้าของ)</td>
          <td >
            <p class="text-warning" v-if="order.status == 'กำลังตรวจสอบ'">

              {{ isOwner? "รอให้ตรวจสอบ" : order.status }}
            </p>
            <p class="text-success" v-else-if="order.status == 'อนุมัติ'">
              {{ order.status }}
            </p>
            <p class="text-danger" v-else-if="order.status == 'ไม่อนุมัติ'">
              {{ order.status }}
            </p>
            <p class="text-primary" v-else>
              {{ order.status }}
            </p>
          </td>
          <td ><router-link v-if="isOwner!=true" :to="'/admin/order_product/'+order.id" class="btn btn-info"><i class="fas fa-eye"></i>
          </router-link> <router-link v-else :to="'/admin/order_product/update_status/'+order.id" class="btn btn-info" disabled><i class="fas fa-eye"></i>
          </router-link> <router-link  v-if="order.status.includes('กำลังตรวจสอบ')" :to="'/admin/order_product/edit/'+order.id"  class="btn btn-warning"><i class="fas fa-pen"></i>
          </router-link> <button v-if="order.status.includes('กำลังตรวจสอบ') || order.status.includes('อนุมัติ')" class="btn btn-danger" @click="deleteOrderProduct(order.id)"><i class="fas fa-trash"></i>
          </button></td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  props: ["order_product","isOwner"],
  methods:{
    deleteOrderProduct(id){
      this.$emit('deleteOrderProduct',id)
    }
  }
};
</script>
<style scoped>
table {
  margin: 0 auto;
  width: 70%;
}
</style>