<template>
  <div>
      <hr>
      <h3  style="text-align:center">ข้อมูลสต็อกสินค้า</h3>
      <p style="text-align:center">จำนวน {{stock_product.length}} รายการ</p>
      <form v-on:submit.prevent="create" >
    <table class="table my-3 ">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">รูป</th>
          <th scope="col">ชื่อ</th>
          <th scope="col">ประเภท</th>
          <th scope="col">ราคา</th>
          <th scope="col">จำนวน</th>
          <th scope="col">วันที่หมดอายุ</th>
          <th scope="col">ลบ</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="product in stock_product" :key="product.id">
          <th scope="row">1</th>
          <td><img :src="url + product.picture" alt="" width="100" /></td>
          <td>{{ product.name }}</td>
          <td>{{ product.Type_product.name }}</td>
          <td>฿{{ product.price }}</td>
          <td>
            <input
              type="number"
              class="form-control"
              id="exampleInputPassword1"
              style="width: 100px"
              v-model="product.qty"
              required
            />
          </td>
          <td>
            <input
              type="date"
              id="birthday"
              name="birthday"
              style="width: 50%"
              v-model="product.date_exp"
              required
            />
          </td>
          <td><button type="button" class="btn btn-danger my-2" @click="deleteStock(product.id)"><i class="fas fa-trash"></i></button></td>
        </tr>
      </tbody>
    </table>
    <button type="submit" class="btn btn-success w-100">บันทึก</button>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      url: "http://localhost:8081/assets/uploads/",
    };
  },
  props: ["stock_product"],
  methods: {
      create(){
          this.$emit('create',this.stock_product)
      },
      deleteStock(id){
          this.$emit('deleteStock',id)
      }
  }
};
</script>