<template>
  <div>
      <h3  style="text-align:center">ข้อมูลซัพพลายเออร์</h3>
      <p style="text-align:center">จำนวน {{suppliers.length}} รายการ</p>
    <table class="table my-3">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">ชื่อบริษัท</th>
          <th scope="col">ที่อยู่</th>
          <th scope="col">email</th>
          <th scope="col">เบอร์โทร</th>
          <th scope="col">จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="supplier in suppliers" :key="supplier.id">
          <th scope="row">{{supplier.id }}</th>
          <td>{{ supplier.name }}</td>
          <td>{{ supplier.address }}</td>
          <td>{{ supplier.email }}</td>
          <td>{{ supplier.tell }}</td>
          <td><router-link :to="`/admin/supplier/edit/${supplier.id}`" class="btn btn-warning my-2"><i class="fas fa-pen"></i>
          </router-link> <button type="button" class="btn btn-danger my-2" @click="deleteSupplier(supplier.id)"><i class="fas fa-trash"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  props:['suppliers'],
  methods:{
    deleteSupplier(id){
      this.$emit("deleteSupplier",id)
    }
  }
};
</script>