<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
          <HeaderForm :title="`POS System สาขา ${shop.address}`" icon="fas fa-shopping-basket" />
          <button class="btn btn-primary" v-if="Object.keys(shop).length != 0 && user.user.isOwner" @click="clearShop">เปลี่ยนสาขา</button>
        </div>
        <SelectShop :shops="shops" v-on:selectShop="selectShop" v-if="Object.keys(shop).length == 0"/>
        <div class="my-4" v-if="Object.keys(shop).length != 0">
          <div class="row">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-6">
                  <label><i class="fas fa-search"></i> ค้นหา</label
                  ><input
                    v-model="searchNameProduct"
                    type="text"
                    class="form-control"
                    placeholder="ค้นหาโดย รหัสสินค้า หรือ ชื่อสินค้า"
                  />
                </div>
                <div class="col-md-6 mb-2">
                  <label><i class="fas fa-list"></i> หมวดหมู่</label
                  ><select
                    class="form-control"
                    id="exampleFormControlSelect1"
                    @change="filterTypeProduct($event)"
                  >
                    <option value="null">ทั้งหมด</option>
                    <option
                      v-for="type in type_products"
                      :key="type.id"
                      :value="type.id"
                    >
                      {{ type.name }}
                    </option>
                  </select>
                </div>
                <div class="col-md-12" v-if="text != null">
                  <p class="text-center">{{ text }}</p>
                </div>
                <div class="col-md-12">
                  <div class="item-list">
                    <div class="d-flex flex-wrap">
                      <div v-for="p in product_show" :key="p.id">
                        <div
                          class="card mt-3 mr-3"
                          style="width: 13rem; margin-right: 3px"
                          @click="addToCart(p)"
                        >
                          <img
                            :src="
                              'http://localhost:8081/assets/uploads/' +
                              p.product.picture
                            "
                            class="card-img-top"
                            alt="..."
                          />
                          <div class="card-body">
                            <p class="text-center">รหัส {{ p.id }}</p>
                            <h5 class="card-title">{{ p.product.name }}</h5>
                            <p class="card-text">
                              ประเภท: {{ p.product.Type_product.name }} <br />
                              ราคา: {{ p.price }} บาท <br />
                              วันหมดอายุ: {{ p.date_exp }} <br />
                              จำนวนสต็อก: {{ p.qty }}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="check-out">
                <h3>ข้อมูลการขาย</h3>
                <table class="table">
                  <thead class="thead">
                    <tr>
                      <th scope="col">รหัส</th>
                      <th scope="col">ชื่อ</th>
                      <th scope="col">ราคา</th>
                      <th scope="col">จำนวน</th>
                      <th scope="col">ลบ</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(p,index) in cart" :key="p.id">
                      <th scope="row" width="3%">{{ index+1 }}</th>
                      <td width="40%">{{ p.product.name }}</td>
                      <td width="20%">{{ p.price }}</td>
                      <td width="20%">{{ p.qty_sell }}</td>
                      <td width="17%">
                        <button
                          type="button"
                          class="btn btn-danger"
                          @click="deleteOnCart(p)"
                        >
                          <i class="fas fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div
                  class="mt-3"
                  style="
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                    padding: 25px;
                    overflow: auto;
                  "
                >
                  <div class="input-group">
                    <span class="input-group-text">ราคาทั้งหมด</span>
                    <input
                      v-model="allPrice"
                      type="text"
                      class="form-control"
                      aria-label="Dollar amount (with dot and two decimal places)"
                      disabled
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">บาท</span>
                    </div>
                  </div>
                  <div class="input-group mt-3">
                    <span class="input-group-text">รับเงิน</span>
                    <input
                      v-model="get_money"
                      type="number"
                      class="form-control"
                      aria-label="Dollar amount (with dot and two decimal places)"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">บาท</span>
                    </div>
                  </div>
                  <div class="input-group mt-3">
                    <span class="input-group-text">เงินถอน</span>
                    <input
                      v-if="this.get_money == 0"
                      value="0"
                      type="text"
                      class="form-control"
                      aria-label="Dollar amount (with dot and two decimal places)"
                      disabled
                    />
                    <input
                      v-else
                      v-model="withdraw"
                      type="text"
                      class="form-control"
                      aria-label="Dollar amount (with dot and two decimal places)"
                      disabled
                    />

                    <div class="input-group-append">
                      <span class="input-group-text">บาท</span>
                    </div>
                  </div>

                  <button
                    type="submit"
                    class="btn btn-success w-100 mt-3"
                    @click="saveSell"
                  >
                    บันทึกการขาย
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <PosBill
          v-if="isBill"
          :cart="cart"
          :shop="shop"
          v-on:closeBill="closeBill"
          :user="user_sell"
        />
      </main>
    </div>
  </div>
</template>

<script>
import HeaderForm from "../../../components/backend/headerForm.vue";
import ApiTypeProduct from "../../../services/TypeProduct";
import ApiShop from "../../../services/ShopService";
import ApiStockProduct from "../../../services/StockProductService";
import ApiPos from "../../../services/PosServices";
import PosBill from "../../../components/backend/posBill.vue";
import SelectShop from "../../../components/backend/selectShop.vue";
import { mapState } from "vuex";
export default {
  data() {
    return {
      type_products: [],
      products: [],
      product_show: [],
      cart: [],
      shop: {},
      shops: [],
      get_money: 0,
      searchNameProduct: null,
      text: null,
      isBill: false,
      user_sell: {},

    };
  },
  components: {
    HeaderForm,
    PosBill,
    SelectShop,
  },
  watch: {
    searchNameProduct: function () {
      if (this.searchNameProduct == "") {
        this.product_show = this.products;
        this.text = null;
      }
      this.product_show = this.products.filter((p) => {
        return (
          p.product.name.includes(this.searchNameProduct) ||
          p.id === parseInt(this.searchNameProduct)
        );
      });

      if (this.product_show.length == 0) {
        console.log(this.text);
        this.text = "ไม่มีสินค้าที่ค้นหา";
      } else {
        this.text = null;
      }
    },
  },
  computed: {
    ...mapState(["user"]),
    allPrice() {
      return this.cart
        .reduce((a, b) => a + b.price * b.qty_sell, 0)
        .toString()
        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
    withdraw() {
      return (
        parseInt(this.get_money) -
        this.cart.reduce((a, b) => a + b.price * b.qty_sell, 0)
      )
        .toString()
        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
  },
  async created() {
    try {
      if (this.user.user.isOwner) {
        this.shops = (await ApiShop.views()).data;
         this.user_sell = this.user.user;
         console.log(this.user_sell)
      } else {
        let id_shop = this.user.user.StoreBranchId;
        this.user_sell = this.user.user;
        this.shop = (await ApiShop.read(this.user.user.StoreBranchId)).data;
        this.type_products = (await ApiTypeProduct.show()).data;
        this.products = (await ApiStockProduct.views(id_shop)).data;
        this.product_show = this.products;
      }
    } catch (e) {
      console.log(e);
    }
  },
  methods: {
    async saveSell() {
      try {
        let data = {
          sell: {
            StoreBranchId: this.shop.id,
            date_sell: new Date(),
            type: "pos",
            status: "สำเร็จ",
          },
          sell_detail: this.cart.map((p) => {
            return {
              StockProductId: p.id,
              qty_sell: p.qty_sell,
              price: p.price,
              qty_update: p.qty,
            };
          }),
        };
        if(this.user.user.isOwner){
          data.sell.OwnerId = this.user.user.id
        }else{
          data.sell.EmployeeId =  this.user.user.id
        }
        let ans = await ApiPos.create(data);
        console.log(ans);
        this.isBill = true;
      } catch (e) {
        console.log(e);
      }
    },
    closeBill() {
      this.cart = [];
      this.get_money = 0;
      this.isBill = false;
    },
    addToCart(product) {
      try {
        let check = this.cart.find((p) => p.id == product.id);
        if (check) {
          let index = this.cart.findIndex((p) => p.id === check.id);
          check.qty_sell = check.qty_sell + 1;
          this.cart.splice(index, 1, check);
        } else {
          product.qty_sell = 1;
          this.cart.push(product);
        }
        let update_product = this.product_show.find((p) => p.id == product.id);
        update_product.qty = update_product.qty - 1;
        if (update_product.qty == 0) {
          let index = this.product_show.findIndex((p) => p.id === check.id);
          this.product_show.splice(index, 1);
          this.products.splice(index, 1);
        }
      } catch (e) {
        console.log(e);
      }
    },

    filterTypeProduct(event) {
      if (event.target.value != "null") {
        this.product_show = this.products.filter((p) => {
          return p.product.TypeProductId == event.target.value;
        });
        if (this.product_show.length == 0) {
          console.log(this.text);
          this.text = "ไม่มีสินค้าที่ค้นหา";
        } else {
          this.text = null;
        }
      } else {
        this.product_show = this.products;
      }
      console.log(event.target.value);
    },

    deleteOnCart(product) {
      try {
        this.cart = this.cart.filter((p) => {
          return p.id != product.id;
        });

        let p_update = this.product_show.find((p) => p.id == product.id);
        let index = this.product_show.findIndex((p) => p.id === p_update.id);
        p_update.qty = p_update.qty + product.qty_sell;
        this.product_show.splice(index, 1, p_update);
      } catch (e) {
        console.log(e);
      }
    },

    async selectShop(data) {
      try {
        this.shop = (await ApiShop.read(data)).data;
        this.type_products = (await ApiTypeProduct.show()).data;
        this.products = (await ApiStockProduct.views(data)).data;
        this.product_show = this.products;
      } catch (e) {
        console.log(e);
      }
    },

    clearShop(){
        this.shop = {}
        this.type_products = []
        this.products = []
        this.product_show = this.products;
    }
  },
};
</script>

<style scoped>
.item-list {
  overflow: auto;
  height: 600px;
}
.card {
  cursor: pointer;
}
.check-out {
}
</style>