<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
          <HeaderForm
            :title="`แก้ไขการขาย POS รหัส ${sell.id}`"
            icon="fas fa-shopping-basket"
          />
        </div>
        <div class="my-4">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
            <div class="my-3 p-3 bg-white rounded shadow-sm col-md">
              <h5 class="border-bottom border-gray pb-2 mb-0">ผู้ขาย</h5>
              <div class="media text-muted pt-3">
                <p
                  class="
                    media-body
                    pb-3
                    mb-0
                    medium
                    lh-125
                    border-bottom border-gray
                  "
                >
                  ชื่อ: <label v-if="sell.Owner">{{sell.Owner.name}} {{sell.Owner.lastname}}</label>
                  <label v-else>{{sell.Employee.name}} {{sell.Employee.lastname}}</label>
                </p>
              </div>
              <div class="media text-muted pt-3">
                <p
                  class="
                    media-body
                    pb-3
                    mb-0
                    medium
                    lh-125
                    border-bottom border-gray
                  "
                >
                  ตำแหน่ง: <label v-if="sell.Owner">{{sell.Owner.position}}</label>
                  <label v-else>{{sell.Employee.position}}</label>
                </p>
              </div>
            </div>
            <div class="my-3 p-3 bg-white rounded shadow-sm col-md">
              <h5 class="border-bottom border-gray pb-2 mb-0">
                วันที่สั่งซื้อ
              </h5>
              <div class="media text-muted pt-3">
                <p
                  class="
                    media-body
                    pb-3
                    mb-0
                    medium
                    lh-125
                    border-bottom border-gray
                  "
                >
                  <input
                    type="date"
                    style="width: 100%; text-align: center"
                    v-model="sell.date_sell"
                    required
                  />
                </p>
              </div>
            </div>
          </div>
            </div>
            <h3 class="list col-md-12 text-center mt-2">
              <i class="fas fa-clipboard-list"></i> รายการ
            </h3>
            <form v-on:submit.prevent="saveEdit" style="width:70%; margin:0 auto">
            <table class="table mt-1" >
              <thead class="thead-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">สินค้า</th>
                  <th scope="col">ราคา (ชิ้น)</th>
                  <th scope="col">จำนวน (ชิ้น)</th>
                  <th scope="col">ลบ</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in sell.product" :key="index">
                  <th width="10%" scope="row">{{ index + 1 }}</th>
                  <td width="40%">
                    {{ item.name }}
                  </td>
                  <td width="20%">{{ item.price }}</td>
                  <td width="20%"><input class="form-control" type="number" :value="item.new_qty" @change="changeQty(item,$event)"></td>
                  <td width="10%"><a class="btn btn-danger" @click="delete_item(item)"><i class="fas fa-trash"></i></a></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td><b>รายการสินค้าทั้งหมด</b></td>
                  <td>
                    <b>{{ sell.product.length }}</b>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td><b>ราคารวม</b></td>
                  <td>
                    <b>{{ allPrice }}</b>
                  </td>
                </tr>
               
            
              </tbody>
            </table>
            <button class="btn btn-success w-100">บันทึก</button>
            </form>
          </div>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import ApiPos from '../../../services/PosServices'
import HeaderForm from "../../../components/backend/headerForm.vue";
import Swal from "sweetalert2";
export default {
    data(){
        return{
            sell:{},
            item_delete:[]
        }
    },
    components: {
HeaderForm,
    },
    computed: {
    allPrice() {
      return this.sell.product
        .reduce((a, b) => a + b.price * b.new_qty, 0)
        .toString()
        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
  },
    async created(){
        try{
            this.sell = (await ApiPos.index(this.$route.params.id)).data
           
        }catch(e){
            console.log(e)
        }
    },
    methods: {
        async saveEdit(){
          try{
            let data = {
              data_sell:{
                id:this.sell.id,
              date_sell:this.sell.date_sell,
              product:this.sell.product.filter(p=>{
                return p.qty_sell != parseInt(p.new_qty) 
              })
              }
            }

            if(data.data_sell.product.length < 0){
              data.product=null
            }

            if(this.item_delete.length > 0){
              data.data_item_delete = this.item_delete
            }else{
              data.data_item_delete = null
            }
            console.log(data.data_sell.product)
            let ans = await ApiPos.edit(data)
            
            Swal.fire("แก้ไขข้อมูลสำเร็จ", "", "success").then(() =>
          this.$router.push("/admin/pos/show")
        );
           
          }catch(e){
            console.log(e)
          }
        },
        changeQty(product,event){
            try{
                product.new_qty = event.target.value
                let index = this.sell.product.findIndex((p) => p.id === product.id)
                let data = this.sell.product.find((p) => p.id == product.id)
                this.sell.product.splice(index, 1,data)
            }catch (e) {
                console.log(e)
            }
        },
        delete_item(data){
            try{
                if(confirm("ต้องการลบสินค้านี้ใช่ไหม")){
                    let index = this.sell.product.findIndex((p) => p.id === data.id)
                this.item_delete.push(data)
                this.sell.product.splice(index, 1)
                }
                
            }catch (e) {
                console.log(e)
            }
        }
    }
}
</script>