<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
          <HeaderForm
            :title="`ข้อมูลการขาย POS สาขา ${shop.address}`"
            icon="fas fa-shopping-basket"
          />
          <button class="btn btn-primary" v-if="Object.keys(shop).length != 0 && user.user.isOwner" @click="clearShop">เปลี่ยนสาขา</button>
        </div>
        <div class="mt-4">
           <SelectShop :shops="shops" v-on:selectShop="selectShop" v-if="Object.keys(shop).length == 0"/>
          <div class="row" v-if="Object.keys(shop).length != 0">
            <div class="col-md">
              <div class="form-group col-md-4" style="margin: 0 auto">
                <label for="position"
                  ><i class="fas fa-calendar-alt text-primary"></i> จากวันที่
                </label>
                <br />
                <input
                  v-model="start_date"
                  type="date"
                  id="birthday"
                  name="birthday"
                  style="width: 100%"
                />
              </div>
              <br />
              <div class="form-group col-md-4" style="margin: 0 auto">
                <label for="position"
                  ><i class="fas fa-calendar-alt text-primary"></i> ถึงวันที่
                </label>
                <br />
                <input
                  v-model="end_date"
                  type="date"
                  id="birthday"
                  name="birthday"
                  style="width: 100%"
                />
              </div>
            </div>
          </div>

          <div class="row" v-if="sell.length>0">
            <div class="col-md-8 mt-5" >
              <table class="table" style="width:100%;margin: 0 auto">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">วันที่</th>
                    <th scope="col" style="text-align:center">รายละเอียดการขายสินค้า</th>
                    <th scope="col">ประเภท</th>
                    <th scope="col">สถานะ</th>
                    <th scope="col">จัดการ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(s,index) in sell" :key="s.id">
                    <th scope="row">{{index+1}}</th>
                    <td>{{s.date_sell}}</td>
                    <td style="text-align:center">{{s.product.length}} </td>
                    <td>{{s.type}}</td>
                    <td class="text-success">{{s.status}}</td>
                    <td><button class="btn btn-info" @click="openBill(s)"><i class="fas fa-eye"></i>
                    </button> <router-link :to="'/admin/pos/'+s.id" class="btn btn-warning"><i class="fas fa-pen"></i>
                    </router-link> <button class="btn btn-danger"><i class="fas fa-trash" @click="deleteSell(s)"></i></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-4 mt-5" style="box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;padding:0;height:250px;">
                <h4 class="text-center bg-danger text-white p-2">สรุปข้อมูล</h4>
                <p class="pl-3 pt-3">การขาย : {{sell.length}} รายการ</p>
                <p class="pl-3">รายละเอียดการขาย : {{sum_detail.length}} รายการ</p>
                <p class="pl-3">รายได้ : {{sum_detail.reduce((a,b)=> a + b.price * b.qty_sell, 0).toString()
        .replace(/\B(?=(\d{3})+(?!\d))/g, ",")}} บาท</p>
        <p class="pl-3 pr-3"><button class="btn btn-primary w-100" @click="isChart=true">วิเคราะห์ด้วยกราฟ</button></p>
            </div>
          </div>
        </div>
        <PosBill
          v-if="isBill"
          :cart="product_bill"
          :shop="shop"
          v-on:closeBill="closeBill"
          :user="user_sell"
          :date="sell_date"
        />
      </main>
    </div>
    <Chart v-if="isChart" v-on:closeChart="closeChart" :sell="sell"/>
  </div>
</template>

<script>
import HeaderForm from "../../../components/backend/headerForm.vue";
import ApiPos from "../../../services/PosServices";
import ApiShop from "../../../services/ShopService";
import PosBill from "../../../components/backend/posBillShow.vue";
import SelectShop from "../../../components/backend/selectShop.vue";
import { mapState } from "vuex";
import Swal from "sweetalert2";
import Chart from '../../../components/backend/chartPos.vue'
export default {
  data() {
    return {
      sell:[],
      start_date: null,
      end_date: null,
      //ตัวแปรสำหรับใช้แสดงผล bill
      product_bill:null,
      isBill:false,
      shops:[],
      shop:{},
      user_sell:{},
      sell_date:null,
      sum_detail:[],
      isChart:false
    };
  },
  components: {
    HeaderForm,PosBill,SelectShop,Chart
  },
  computed: {
    ...mapState(["user"]),
  },
  async created() {
    try {
        if(this.user.user.isOwner){
            this.shops = (await ApiShop.views()).data;
        }else{
            let id_shop = this.user.user.StoreBranchId;
            this.shop = (await ApiShop.read(this.user.user.StoreBranchId)).data;
        }
    } catch (e) {
      console.log(e);
    }
  },

  watch: {
    start_date: function () {
      if (this.start_date && this.end_date) {
        this.getData();
      }
    },
    end_date: function () {
      if (this.start_date && this.end_date) {
        this.getData();
      }
    },
  },


  methods: {
    async getData() {
      try {
        this.sum_detail=[]
        let data = {
          id_shop: this.shop.id,
          start_date: this.start_date,
          end_date: this.end_date,
        };
        this.sell = (await ApiPos.shows(data)).data;
        this.sell.forEach(p=>{
          p.product.forEach(x=>{
            this.sum_detail.push(x)
          })
        })
        console.log(this.sum_detail)
      } catch (e) {
        console.log(e);
      }
    },

    openBill(p){
        try{
            if(p.Owner){
                this.user_sell = p.Owner
            }else{
                this.user_sell = p.Employee
            }
            this.product_bill = p.product
            this.isBill = true
            this.sell_date=p.date_sell
            console.log(p)
        }catch (e) {
            console.log(e)
        }
    },
    closeBill(){
        try{
            this.user_sell=null
            this.product_bill = null
            this.isBill = false
        }catch (e) {
            console.log(e)
        }
    },
    async selectShop(data) {
      try {
        this.shop = (await ApiShop.read(data)).data;
      } catch (e) {
        console.log(e);
      }
    },
    clearShop(){
        this.shop = {}
        this.sell=[]
    },

    async deleteSell(product){
      try{
        if(confirm("ต้องการลบข้อมูลการขายนี้ไหม")){
          let ans = await ApiPos.delete(product.id)
          this.sell = this.sell.filter(p=>{
            return p.id!=product.id
          })
          Swal.fire("ลบข้อมูลสำเร็จ", "", "success")
        }
        
      }catch (e) {
        console.log(e)
      }
    },

    closeChart(){
      this.isChart = false
    }
  },
};
</script>