<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
          <HeaderForm title="จัดการข้อมูลลูกค้า" icon="fas fa-user" />
        </div>

        <div class="mt-4 p-5">
            <div class="row">
            <div class="form-group col-md-2">
              <label for="exampleInputEmail1">เพศ</label>
              <select class="custom-select" v-model="user.sex" required :disabled="isEdit">
                <option value="ชาย">ชาย</option>
                <option value="หญิง">หญิง</option>
              </select>
            </div>
            <div class="form-group col-md-5">
              <label for="exampleInputEmail1">ชื่อ</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                v-model="user.name"
                required
                :disabled="isEdit"
              />
            </div>
            <div class="form-group col-md-5">
              <label for="exampleInputEmail1">นามสกุล</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                v-model="user.lastname"
                required
                :disabled="isEdit"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="exampleInputEmail1">Email address</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                v-model="user.email"
                required
                :disabled="isEdit"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="exampleInputEmail1">เบอร์โทรศัพท์</label>
              <input
                type="number"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                v-model="user.tell"
                required
                :disabled="isEdit"
              />
            </div>

            <div class="form-group col-md-12">
              <label for="exampleFormControlTextarea1">ที่อยู่</label>
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
                v-model="user.address"
                required
                :disabled="isEdit"
              ></textarea>
            </div>
            <div class="form-group col-md-12">
              <label for="exampleInputEmail1">username</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                max="10"
                v-model="user.username"
                required
                :disabled="isEdit"
              />
            </div>

            <router-link to="/admin/customers" class="col-md-12 btn btn-secondary w-100">กลับหน้าหลัก</router-link>
          </div>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import HeaderForm from "../../../components/backend/headerForm.vue";
import ApiCustomer from "../../../services/CustomerService"
export default {
    components:{
        HeaderForm,
    },

    data(){
        return{
           user:{},
           isEdit:true,
        }
    },

    async created(){
        try{
           let id_user = this.$route.params.id
          this.user = (await ApiCustomer.read(id_user)).data
          console.log(this.user)
        }catch(e){
            console.log(e)
        }
    }
}
</script>