<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
          <HeaderForm title="ข้อมูลลูกค้า" icon="fas fa-user" />
        </div>

        <div class="mt-4">
          <h2 class="text-center mb-3">
            จำนวนลูกค้าทั้งหมด {{ customers.length }} คน
          </h2>
          <table class="table table-bordered" style="width: 80%; margin: 0 auto">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">username</th>
                <th scope="col">ชื่อ-สกุล</th>
                <th scope="col">เพศ</th>
                <th scope="col">สถานะบัญชี</th>
                <th scope="col">จัดการสถานะบัญชี</th>
                <th scope="col">จัดการ</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="customer in customers" :key="customer.id">
                <th scope="row" width="10%">{{ customer.id }}</th>
                <td>{{ customer.username }}</td>
                <td>{{ customer.name }} {{ customer.lastname }}</td>
                <td>{{ customer.sex }}</td>
                <td><p v-if="customer.status" class="text-success">ออนไลน์</p>
                <p v-else class="text-danger">ระงับบัญชี</p></td>
                <td>
                  <label class="switch">
                    <input type="checkbox" v-model="customer.status" @click="changeStatus(customer.id)"/>
                    <span class="slider round"></span> 
                    
                  </label>
                </td>
                <td>
                  <router-link :to="'/admin/customer/'+customer.id" class="btn btn-info"
                    ><i class="fas fa-eye"></i>
                  </router-link> <router-link :to="'/admin/customer/'+customer.id" class="btn btn-danger"
                    ><i class="fas fa-trash-alt"></i
                  ></router-link>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import HeaderForm from "../../../components/backend/headerForm.vue";
import ApiCustomer from "../../../services/CustomerService";
export default {
  components: {
    HeaderForm,
  },

  data() {
    return {
      customers: [],
      isC:false
    };
  },

  async created() {
    try {
      this.customers = (await ApiCustomer.shows()).data;
    } catch (e) {
      console.log(e);
    }
  },

  methods:{
      async changeStatus(id){
          try{
              let data = this.customers.filter(d=>{
                  return d.id==id
              })
              data[0].status = !data[0].status
              let ans = await ApiCustomer.editPersonal(data[0])
              console.log(ans)
          }catch (e) {
              console.log(e)
          }
      }
  }
};
</script>

<style scoped>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: hsl(118, 96%, 30%);
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(118, 96%, 30%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>