<template>
  <div id="app">
    <div v-if="user.user != undefined">
      <div v-if="user.user.position && $route.path.includes('/admin')">
        <Navbar />
        <Sidebar />
      </div>
    </div>
    <router-view />
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import Navbar from "./components/backend/navbar.vue";
import Sidebar from "./components/backend/sidebar.vue";
export default {
  components: {
    Navbar,
    Sidebar,
  },
  computed: {
    ...mapGetters(["user"]),
  },
  created() {
    
  },
  methods: {
    navigateTo(link){
          this.$router.push(link)
      },
  }
};
</script>
<style>
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Kanit', sans-serif;
}

</style>
