<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
          <HeaderForm :title="'เพิ่มสินค้าในสต็อก สาขา '+shop.address" icon="fas fa-layer-group" />
        </div>
        <div class="mt-4">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
              <div class="my-3 p-3 bg-white rounded shadow-sm col-md">
              <h5 class="border-bottom border-gray pb-2 mb-0">ผู้สั่งซื้อ</h5>
              <div class="media text-muted pt-3">
                <p
                  class="
                    media-body
                    pb-3
                    mb-0
                    medium
                    lh-125
                    border-bottom border-gray
                  "
                >
                  ชื่อ: {{ employee.name }} {{ employee.lastname }}
                </p>
              </div>
              <div class="media text-muted pt-3">
                <p
                  class="
                    media-body
                    pb-3
                    mb-0
                    medium
                    lh-125
                    border-bottom border-gray
                  "
                >
                  ตำแหน่ง: {{ employee.position }}
                </p>
              </div>
            </div>
            <div class="my-3 p-3 bg-white rounded shadow-sm col-md">
              <h5 class="border-bottom border-gray pb-2 mb-0">สาขา</h5>
              <div class="media text-muted pt-3">
                <p
                  class="
                    media-body
                    pb-3
                    mb-0
                    medium
                    lh-125
                    border-bottom border-gray
                  "
                >
                  สาขาที่: {{ shop.no }}
                </p>
              </div>
              <div class="media text-muted pt-3">
                <p
                  class="
                    media-body
                    pb-3
                    mb-0
                    medium
                    lh-125
                    border-bottom border-gray
                  "
                >
                  ที่อยู่: {{ shop.address }}
                </p>
              </div>
            </div>

            <div class="my-3 p-3 bg-white rounded shadow-sm col-md">
              <h5 class="border-bottom border-gray pb-2 mb-0">ซัพพลายเออร์</h5>
              <div class="media text-muted pt-3">
                <p
                  class="
                    media-body
                    pb-3
                    mb-0
                    medium
                    lh-125
                    border-bottom border-gray
                  "
                >
                  ชื่อบริษัท: {{ supplier.name }}
                </p>
              </div>
              <div class="media text-muted pt-3">
                <p
                  class="
                    media-body
                    pb-3
                    mb-0
                    medium
                    lh-125
                    border-bottom border-gray
                  "
                >
                  ที่อยู่: {{ supplier.address }}
                </p>
              </div>
              <div class="media text-muted pt-3">
                <p
                  class="
                    media-body
                    pb-3
                    mb-0
                    medium
                    lh-125
                    border-bottom border-gray
                  "
                >
                  เบอร์โทร: {{ supplier.tell }} <br />
                  Email: {{ supplier.email }}
                </p>
              </div>
            </div>
            <div class="my-3 p-3 bg-white rounded shadow-sm col-md">
              <h5 class="border-bottom border-gray pb-2 mb-0">
                วันที่สั่งซื้อ
              </h5>
              <div class="media text-muted pt-3">
                <p
                  class="
                    media-body
                    pb-3
                    mb-0
                    medium
                    lh-125
                    border-bottom border-gray
                  "
                >
                  <input
                    type="text"
                    style="width: 100%; text-align: center"
                    v-model="order_product.date_order"
                    disabled
                    required
                  />
                </p>
              </div>
            </div>
            </div>
            </div>

            <div class="col-md-12 mt-3">
              <div class="row">
                <div class="col-md-12">
                  <h3 style="text-align: center"><i class="fas fa-clipboard-list"></i> รายการสั่งซื้อ</h3>
                </div>
                <div class="col-md-12">
                  <form v-on:submit.prevent="createStock">
                  <table class="table">
                    
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">รูป</th>
      <th scope="col">ชื่อสินค้า</th>
      <th scope="col">จำนวนที่สั่ง (ชิ้น)</th>
      <th scope="col">จำนวนที่ได้รับ (ชิ้น)</th>
      <th scope="col">วันหมดอายุ</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="(product,index) in products" :key="index">
      <th scope="row" width="5%">{{index+1}}</th>
      <td width="10%"><img :src="'http://localhost:8081/assets/uploads/'+product.Product.picture" alt="" width="80px"></td>
      <td width="20%">{{product.Product.name}}</td>
      <td width="20%">{{product.qty_order}}</td>
      <td width="20%"><input type="number" class="form-control" v-model="product.qty_received" :max="product.qty_order" min="0" required></td>
      <td width="20%"><input type="date" id="date_exp" name="date_exp" v-model="product.date_exp" required></td>
    </tr>
  </tbody>
  
</table>
<button type="submit" class="btn btn-success w-100">บันทึก</button>
</form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</template>
<script>
import HeaderForm from "../../../components/backend/headerForm.vue";
import ApiOrderProduct from "../../../services/OrderProductService";
import ApiStockProduct from "../../../services/StockProductService";
import Swal from "sweetalert2";
import { mapState } from "vuex";
export default {
  data() {
    return {
      supplier: {},
      employee: {},
      shop: {},
      order_product: {},
      products: [],
    };
  },
  components: {
    HeaderForm,
  },
  async created() {
    try {
      this.order_product = (
        await ApiOrderProduct.read(this.$route.query.order_id)
      ).data;
      this.shop = this.order_product.Store_branch;
      this.supplier = this.order_product.Supplier;
      this.products = this.order_product.products
      if (this.order_product.Owner) this.employee = this.order_product.Owner;
      else this.employee = this.order_product.Employee;
    } catch (e) {
      console.log(e);
    }
  },
  methods: {
    async createStock(){
      try{
        let data = {
        status_order : {
          id:this.order_product.id,
          status:"ตรวจรับสินค้าเข้าสต็อกสำเร็จ"
        },
        stock_product : this.products.map(p=>{
          return{
            DetailOrderProductId:p.id,
            qty:parseInt(p.qty_received),
            date_exp:p.date_exp,
            price:p.Product.price,
            StoreBranchId:this.shop.id
          }
        }),

        update_detail_product : this.products.map(p=>{
          return {
            id:p.id,
            qty_received:parseInt(p.qty_received),
          }
        })
        }
        let ans = await ApiStockProduct.create(data)
        console.log(ans)
        Swal.fire("บันทึกข้อมูลสำเร็จ", "", "success").then(() =>
          this.$router.push("/admin/stock_products")
        );
      }catch (e) {
        console.log(e)
      }
    }
  }
};
</script>
