<template>
    <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
        <HeaderForm title="แก้ไขสต็อกสินค้า" icon="fas fa-layer-group"/>
        </div>
        <div class="my-4">
            <FormEdit v-if="stock_product"  :stock_product="stock_product" v-on:edit="edit"/>
        </div>
      </main>
    </div>
    </div>

</template>

<script>
import HeaderForm from "../../../components/backend/headerForm.vue";
import FormEdit from '../../../components/backend/formEditStock.vue'
import ApiStockProduct from "../../../services/StockProductService"
import {mapGetters} from 'vuex'
import Swal from "sweetalert2";
export default {
    data(){
        return {
            id_stock:null,
            stock_product:{}
        }
    },
    components:{
        HeaderForm,FormEdit
    },
    computed:{
        ...mapGetters(['user'])
    },
    async created(){
        try{
            this.id_stock = this.$route.params.id;
             let stock = (await ApiStockProduct.read(this.id_stock)).data
             this.stock_product = stock[0]
             console.log(this.stock_product)
        }catch(err){
            console.log(err.message);
        }
        
    },
    methods: {
        async edit(data){
            try{
                let data_update = {
                    id:data.id,
                    stock_product:{
                    qty:data.qty,
                    date_exp:data.date_exp,
                    price:data.price 
                    } ,
                    detail_order:{
                        id:data.detail_order.id,
                        qty_received:data.qty
                    }
                }
                console.log(data_update);
                let ans = await ApiStockProduct.edit(data_update)
                 Swal.fire("บันทึกข้อมูลสำเร็จ", "", "success").then(()=>this.$router.push("/admin/stock_products?id_shop="+this.user.user.ShopId));
            }catch(e){
                console.log(e)
            }
        }
    }
}
</script>