<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
        <HeaderForm title="เลือกคำสั่งซื้อสินค้า" icon="fas fa-layer-group" />
        </div>
        <div class="mt-4">
           <SelectShop v-if="isOwner" :shops="shops" v-on:selectShop="selectShop"/>
          <table v-if="order_products.length>0" class="table mt-3" style="width:80%;margin:0 auto">
  <thead class="thead-dark">
    <tr>
      <th scope="col" width="10%">รหัสคำสั่งซื้อ</th>
      <th scope="col">สถานะ</th>
      <th scope="col">วันที่สั่ง</th>
      <th scope="col">ผู้สั่งซื้อ</th>
      <th scope="col">ผู้ส่งสินค้า</th>
      <th scope="col">จัดการ</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="order in order_products" :key="order.id">
      <th scope="row" width="15%">{{order.id}}</th>
        <td>{{order.status}}</td>
      <td>{{order.date_order}}</td>
      <td v-if="order.Employee">{{order.Employee.name}} {{order.Employee.lastname}}</td>
      <td v-else>{{order.Owner.name}} {{order.Owner.lastname}} (เจ้าของ)</td>
      <td>{{order.Supplier.name}}</td>
       <td><router-link class="btn btn-success" :to="'/admin/stock_product/create?order_id='+order.id">ตรวจรับสินค้าเข้าสต็อก</router-link></td>
    </tr>
  </tbody>
</table>
<h2 style="text-align: center;margin-top:20px">{{text}}</h2>
      </div>
      </main>
      
        </div>
        </div>
</template>

<script>
import HeaderForm from "../../../components/backend/headerForm.vue";
import ApiOrderProduct from "../../../services/OrderProductService";
import SelectShop from "../../../components/backend/selectShop";
import ApiShop from "../../../services/ShopService";
import { mapState } from "vuex";
export default {
  data() {
    return {
      isOwner: false,
      order_products:[],
      shops:[],
      shop:{},
      text:''
    };
  },
    components:{
        HeaderForm,SelectShop
    },
    computed: {
    ...mapState(["user"]),
  },
    async created(){
      try {
        this.isOwner = this.user.user.isOwner
      if(this.isOwner){
        this.shops = (await ApiShop.views()).data
      }else{
        this.order_products = (await ApiOrderProduct.views(this.user.user.StoreBranchId)).data;
        this.order_products = this.order_products.filter(e=>e.status=="อนุมัติ")
      }
      console.log(this.order_products)
    } catch (e) {
      console.log(e);
    }
    },
    methods: {
      async selectShop(id){
        this.shop = (await ApiShop.read(id)).data;
        this.order_products = (await ApiOrderProduct.views(id)).data;
        this.order_products = this.order_products.filter(e=>e.status=="อนุมัติ")
        if (this.order_products.length == 0) this.text="ไม่มีข้อมูล"
        else this.text=""
    }
    }
}
</script>
