<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
          <HeaderForm
            v-if="Object.keys(shop).length != 0"
            :title="`สต็อกสินค้า สาขา (${shop.address})`"
            icon="fas fa-layer-group"
          />
          <HeaderForm v-else title="สต็อกสินค้า" icon="fas fa-layer-group" />
          <button
            type="button"
            class="btn btn-success"
          >
            <router-link
              style="text-decoration: none; color: white"
              :to="`/admin/stock_product/select_order`"
              >เพิ่มสินค้าในสต็อก</router-link
            >
          </button>
        </div>
        <div class="my-4">
          <SelectShop
            v-if="isOwner"
            :shops="shops"
            v-on:selectShop="selectShop"
          />
          <ShowStock
            v-if="shop !== {} && stock_products.length != 0"
            :stock_products="stock_products"
            :type_product="type_product"
            :isOwner="isOwner"
            v-on:genBarcode="genBarcode"
            v-on:deleteStock="deleteStock"
            v-on:openModalWeast="openModalWeast"
          />
        </div>

        <ModalBarcode
          v-if="barcode"
          :barcode="barcode"
          v-on:deleteBarcode="deleteBarcode"
        />
        <ModalWeast v-if="isWeast" :weast_product="weast_product" v-on:closeModalWeast="closeModalWeast" 
        v-on:addToWeastProduct="addToWeastProduct"/>
      </main>
    </div>
  </div>
</template>
<script>
import HeaderForm from "../../../components/backend/headerForm.vue";
import ShowStock from "../../../components/backend/showStock.vue";
import SelectShop from "../../../components/backend/selectShop.vue";
import ModalBarcode from "../../../components/backend/modalBarcode.vue";
import ModalWeast from "../../../components/backend/modalWeast.vue";
import ApiShop from "../../../services/ShopService";
import ApiStockProduct from "../../../services/StockProductService";
import ApiTypeProduct from "../../../services/TypeProduct"
import ApiWeastProduct from "../../../services/WeastProductService";
import { mapState } from "vuex";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      shop: {},
      stock_products: [],
      shops: [],
      type_product:[],
      isOwner: false,
      barcode: null,
      isOwner: null,
      isWeast: false,
      weast_product:{}
    };
  },
  components: {
    HeaderForm,
    ShowStock,
    SelectShop,
    ModalBarcode,
    ModalWeast
  },
  computed: {
    ...mapState(["user"]),
  },
  async created() {
    try {
      this.isOwner = this.user.user.isOwner
      if(this.isOwner){
        this.shops = (await ApiShop.views()).data
      }else{
        let id_shop = this.user.user.StoreBranchId;
        this.shop = (await ApiShop.read(id_shop)).data;
        this.stock_products = (await ApiStockProduct.views(id_shop)).data;
      }
      this.type_product = (await ApiTypeProduct.show()).data;
    } catch (e) {
      console.log(e);
    }
  },
  methods: {
    async selectShop(id_shop) {
      try {
        this.shop = (await ApiShop.read(id_shop)).data;
        this.stock_products = []
        this.stock_products = (await ApiStockProduct.views(id_shop)).data;
        console.log(this.stock_products)
        if (this.stock_products.length == 0) alert("ไม่มีสต็อกสินค้า");
      } catch (e) {
        console.log(e);
      }
    },
    async genBarcode(id) {
      try {
        this.barcode = (await ApiStockProduct.getBarcode(id)).data;
      } catch (e) {
        console.log(e);
      }
    },
    deleteBarcode() {
      try {
        this.barcode = null;
      } catch (e) {
        console.log(e);
      }
    },
    async deleteStock(id_stock) {
      try {
        let ans = confirm("ต้องการลบข้อมูลนี้ไหม");
        if (ans) {
          let data = await ApiStockProduct.delete(id_stock);
          this.stock_products = (await ApiStockProduct.views(this.shop.id)).data;
          
          Swal.fire("ลบข้อมูลสำเร็จ", "", "success");
        }
      } catch (e) {
        console.log(e);
      }
    },

    async addToWeastProduct(product) {
      try{
          let date = new Date();
          let data = {
            StockProductId: product.product.id,
            date_weast_product: date,
            qty:parseInt(product.qty) ,
            detail:product.detail
          };
          let ans = await ApiWeastProduct.create(data);
          this.stock_products = (await ApiStockProduct.views(this.shop.id)).data;
          Swal.fire("เพิ่มไปยังสินค้าเสียสำเร็จ", "", "success");
          this.isWeast = false;
      }catch(err){
        console.log(err);
      }
    },
    openModalWeast(product){
      try{
this.isWeast = true;
this.weast_product = product;
console.log(this.weast_product);
      }catch(err){
        console.log(err);
      }
      
      
    },
    closeModalWeast(){
      this.isWeast = false;
    },
  },
};
</script>