<template>
  <div class="Cart">
    <Navbar />
    <div class="container">
      <h2><i class="fas fa-shopping-cart mt-5"></i> ตระกร้าสินค้า</h2>
      <table class="table mt-3" v-if="cart.length>0">
        <tbody>
          <tr v-for="(i, index) in cart" :key="index">
            <th scope="row">{{ index + 1 }}</th>
            <td><img :src="'http://localhost:8081/assets/uploads/'+i.product.picture" alt="..." width="70" /> </td>
            <td>{{ i.product.name }}</td>
            <td width="10%">ราคา ฿{{i.price}}</td>
            <td>
              <div class="d-flex justify-content-center">
                <i class="fas fa-minus-circle icon-minus" @click="minus_qrt(i)"></i
                ><input
                  type="number"
                  class="form-control input-qrt"
                  :value="i.qty_buy"
                  @change="changeQtr($event, i)"
                /><i
                  class="fas fa-plus-circle icon-add"
                  @click="plus_qrt(i)"
                ></i>
              </div>
            </td>
            <td>รวม ฿{{ i.price * i.qty_buy }}</td>
            <td><i class="fas fa-trash-alt" style="font-size:20px;color:red;cursor:pointer;" @click="deleteProduct_in_cart(i)"></i></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><h5>รวมค่าสินค้า</h5></td>
            <td>
              <h5>฿{{ sumPrice }}</h5>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><h5>โค้ดส่วนลด</h5></td>
            <td><input type="text" id="code" class="form-control" @change="addDiscountCode($event)"></td>
          </tr>
          <tr v-if="discount">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><h5>ส่วนลด</h5></td>
            <td>-{{discount}}</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><h5>ยอดคำสั่งซื้อทั้งหมด</h5></td>
            <td>
              <h5>฿{{ allPrice }}</h5>
            </td>
          </tr>
        </tbody>
      </table>
      <h3 class="text-center" v-else>ไม่มีข้อมูลสินค้าในตระกร้า</h3>
      <router-link to="/cart/select_address" class="btn btn-primary w-100 mb-3" v-if="cart.length>0">เลือกที่อยู่จัดส่ง</router-link>
    </div>
  </div>
</template>
<script>
import Navbar from "../components/Navbar";
import { mapGetters, mapActions, mapState} from "vuex";
import ApiCrm from '../services/CrmService'
export default {
  data(){
    return{
      discount:null
    }
  },
  created() {
    try{
      this.addDiscount(null)
    }catch(e){
      console.log()
    }
  },
  computed: {
    ...mapState(['user']),
    ...mapGetters(["cart"]),
    sumPrice(){
      return this.cart.reduce((a, b) => a + b.qty_buy * b.price, 0);
    },
    allPrice() {
      if(this.discount!=null){
        return this.cart.reduce((a, b) => a + b.qty_buy * b.price, 0) - this.discount;
      }
      return this.cart.reduce((a, b) => a + b.qty_buy * b.price, 0);
    },
  },
  components: {
    Navbar,
  },
  methods: {
    ...mapActions(["updateQrtProduct","deleteProduct",'addDiscount']),
    changeQtr($event, i) {
      i.qty_buy=parseInt($event.target.value)
      this.updateQrtProduct(i);
    },
    plus_qrt(i) {
      i.qty_buy+=1
      this.updateQrtProduct(i);
    },
    minus_qrt(i) {
      if(parseInt(i.qty_buy-1)==0){
          let result = confirm("ต้องการลบสินค้านี้หรือมั้ย!")
          if(result)this.deleteProduct(i)
          
      }else{
        i.qty_buy-=1
        this.updateQrtProduct(i);
      }
      
    },
    deleteProduct_in_cart(i){
        this.deleteProduct(i)
    },

    async addDiscountCode(event){
      try{
        let tag = document.getElementById('code')
        let code = {
          id:this.user.user.id,
          code:event.target.value
        }
        let data = (await ApiCrm.getCode(code)).data
        let now_date = new Date();
        let start_date = new Date(data.date_start)
        let end_date = new Date(data.date_stop)

        if(data.error){
          alert(data.error)
          tag.value=""
        }
        else if(now_date>start_date){
          if(now_date>end_date){
            alert("โค้ดส่วนลดหมดอายุแล้ว")
            tag.value=""
          }else{
            if(this.allPrice>=data.price_buy){
              this.discount = data.price
                  this.addDiscount(data)
              }else{
                this.discount = null
                alert("สามารถใช้โค้ดส่วนลดได้เมื่อซื้อขั้นต่ำ "+data.price_buy+" บาท")
                tag.value=""
              }
          }
        }else{
          alert("ยังไม่ถึงเวลาใช้โค้ดส่วนลด")
          tag.value=""
        }
        
      }catch(e){
        console.log(e)
      }
    }
  },
};
</script>
<style scoped>
.input-qrt {
  width: 20%;
}
.icon-add {
  cursor: pointer;
  padding: 8px 0 0 7px;
  font-size: 20px;
  color: green;
}
.icon-minus {
  cursor: pointer;
  padding: 8px 7px 0 0;
  font-size: 20px;
  color: red;
}
</style>