<template>
  <div>
    <Navbar />
    <div class="page">
    <div class="container bg-secondary" style="position: relative">
        <div class="row">
            <div v-for="d in code" :key="d.id">
                <CouponCart :data="d"/>
            </div>
                

        </div>
    </div>
    </div>
  </div>
</template>
<script>
import Navbar from "../components/Navbar";
import CouponCart from '../components/CouponCart.vue'
import ApiGetCode from '../services/CrmService'
export default {
    data(){
        return {
            code:[]
        }
    },
  components: {
    Navbar,CouponCart
  },
  async created() {
      try{
          var dateObj = new Date();
            var month = dateObj.getUTCMonth() + 1; //months from 1-12
            var day = dateObj.getUTCDate();
            var year = dateObj.getUTCFullYear();

            let newdate = year + "-" + month + "-" + day;
          this.code = (await ApiGetCode.selectPromotionAll()).data
          this.code = this.code.filter(d=>{
               return (new Date(d.date_stop) > new Date()) || d.date_start == newdate
          })
         /*  console.log(this.code[1].date_start == newdate) */
        /*   console.log(new Date(this.code[1].date_start) === new Date()) */
      }catch(e){
          console.log(e)
      }
  }
};
</script>
<style scoped>
.page{
   width: 100%;
  height: 100vh;
  background: url("/img/hero.jpg") top center;
  background-size: cover;
  position: relative;
}
.page::before{
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
</style>