<template>
<div>
    <Navbar/>
    <Hero/>
    <AboutMenu/>
    <Service/>
    <Contact/>
</div>

</template>
<script>
import Navbar from '../components/Navbar'
import Hero from '../components/Hero'
import AboutMenu from '../components/AboutMe'
import Service from '../components/Service'
import Contact from '../components/Contact'
export default {
    components:{
        Navbar,Hero,AboutMenu,Service,Contact
    }
}
</script>
