<template>
  <div class="register text-center">
    <form v-on:submit.prevent="toLogin" class="form-signin">
       <a href="/"><img class="mb-4" src="/img/logo.png" alt="" width="100" /></a>
      <h1 class="h3 mb-3 font-weight-normal">User Login</h1>
      <label for="inputEmail" class="sr-only">Username</label>
      <input
        type="text"
        id="inputEmail"
        class="form-control mb-2"
        placeholder="username"
        required
        v-model="data.username"
      />
      <label for="inputEmail" class="sr-only">Password</label>
      <input
        type="password"
        id="inputEmail"
        class="form-control mb-2"
        placeholder="Password"
        required
        v-model="data.password"
      />
      <p class="text-danger">{{ error }}</p>
      <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">
        เข้าสู่ระบบ
      </button>
      <a
        class="btn btn-lg btn-success btn-block ทะ-1"
        href="/register"
      >
        สมัครสมาชิก
      </a>
      <p class="mt-5 mb-3 text-muted">&copy; AMERA FROZEN HALAL FOOD</p>
    </form>
  </div>
</template>
<script>
import { mapActions,mapState } from 'vuex'
import CustomerService from "../services/CustomerService"; 
import Swal from "sweetalert2";
const Toast = Swal.mixin({
  toast: true,
  position: "top-end",
  showConfirmButton: false,
  timer: 2000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener("mouseenter", Swal.stopTimer);
    toast.addEventListener("mouseleave", Swal.resumeTimer);
  },
});
export default {
  data() {
    return {
      data: {},
      error: null,
    };
  },
  created() {
      {this.user.isLogin!=false? this.$router.push('/'):null}
  },
  computed:{
      ...mapState(['user'])
  },
  methods: {
    ...mapActions(['addUserLogin']),

    async toLogin() {
      try {
        let result = await CustomerService.login(this.data);
        console.log(result)
        if(result.data.error) this.error = result.data.error 
        else{
          Toast.fire({
          icon: "success",
          title: "เข้าสู่ระบบสำเร็จ",
        }).then(() => this.addUserLogin(result.data)).then(()=>this.$router.push('/'));
        }
        
      } catch (err) {
        this.error = "username or password is incorrect";
      }
    },
  },
};
</script>
<style scoped>
.register {
  height: 100vh;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #c43c3c;
}
.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 15px 70px 15px 70px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>