<template>
  <div class="register">
    <form v-on:submit.prevent="toRegister" class="form-signin">
      <p class="text-center">
        <a href="/"
          ><img class="mb-2" src="/img/logo.png" alt="" width="100"
        /></a>
      </p>

      <h1 class="h3 mb-3 font-weight-normal text-center">สมัครสมาชิก</h1>
      <div class="row">
        <div class="form-group col-md-2">
          <label for="exampleInputEmail1">เพศ</label>
          <select class="custom-select" v-model="user.sex" required>
  <option value="ชาย">ชาย</option>
  <option value="หญิง">หญิง</option>
</select>
        </div>
        <div class="form-group col-md-5">
          <label for="exampleInputEmail1">ชื่อ</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            v-model="user.name" required
          />
        </div>
        <div class="form-group col-md-5">
          <label for="exampleInputEmail1">นามสกุล</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            v-model="user.lastname" required
          />
        </div>
        <div class="form-group col-md-6">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp" 
            v-model="user.email" required
          />
        </div>
        <div class="form-group col-md-6">
          <label for="exampleInputEmail1">เบอร์โทรศัพท์</label>
          <input
            type="number"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            v-model="user.tell" required
          />
        </div>
        
        <div class="form-group col-md-12">
          <label for="exampleFormControlTextarea1">ที่อยู่</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" v-model="user.address" required></textarea>
          
        </div>
        <div class="form-group col-md-6">
          <label for="exampleInputEmail1">username</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            max="10"
            v-model="user.username" required
          />
        </div>
        <div class="form-group col-md-6">
          <label for="exampleInputEmail1">password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            max="10"
            v-model="user.password" required
          />
        </div>
      </div>
      <p class="text-danger text-center">{{ error }}</p>
      <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">
        สมัครสมาชิก
      </button>
      <a class="btn btn-lg btn-success btn-block ทะ-1" href="login">
        เข้าสู่ระบบ
      </a>
      <p class="mt-5 mb-3 text-muted text-center">&copy; AMERA FROZEN HALAL FOOD</p>
    </form>
  </div>
</template>
<script>
import CustomerService from "../services/CustomerService";
import Swal from "sweetalert2";
const Toast = Swal.mixin({
  toast: true,
  position: "top-end",
  showConfirmButton: false,
  timer: 2000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener("mouseenter", Swal.stopTimer);
    toast.addEventListener("mouseleave", Swal.resumeTimer);
  },
});
export default {
  data() {
    return {
      user: {},
      error: null,
    };
  },
  methods: {
    async toRegister() {
      try {
        this.user.status=true
        let data = await CustomerService.create(this.user);
        if(data.data.err){
          this.error = data.data.err
        }else{
          console.log(data);
        Toast.fire({
          icon: "success",
          title: "สมัครสมาชิกสำเร็จ",
        }).then(() => this.$router.push('/login'));
        }
        
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
<style scoped>
.register {
  height: 100vh;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #c43c3c;
}
.form-signin {
  width: 100%;
  max-width: 800px;
  padding: 15px 70px 15px 70px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>