<template>
  <div id="shop">
    <Navbar />
    <div class="container">
      <h3 class="text-center mt-3">เลือกซื้อสินค้าสาขาใกล้บ้านคุณ</h3>
      <div class="row mt-5">
        <div class="col-md-4 ml-2" v-for="d in shops" :key="d.id">
          <div class="shop" style="" @click="navigateTo(d.id)">
            <div class="p-2">
              <img :src="'http://localhost:8081/assets/uploads/'+d.picture" alt="" width="100%" height="200">
            <h3 class="text-center mt-3"><i class="fas fa-map-marker-alt"></i> สาขา {{d.address}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</template>
<script>
import Navbar from "../components/Navbar";
import ApiShop from '../services/ShopService'
export default {
  data(){
    return{
      shops:[]
    }
  },
  components: {
    Navbar
  },
  
  async created(){
    try{
      this.shops = (await ApiShop.views()).data
    }catch(e){
      console.log(e)
    }
  },
  methods: {
    navigateTo(id){
      this.$router.push('/shoping/'+id)
    }
  }
};
</script>

<style scoped>
.shop{
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.shop:hover{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: rgb(233, 40, 82);
  color: white;
}
</style>